{% extends "wiki/wiki_base.html" %}
{% block title %}{{ block.super }} - sisselogimine{% endblock %}
{% load i18n %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'wiki/css/accounts/accounts.css' %}">
{% endblock %}

{% block content %}
  {% load account socialaccount %}
  <div class="form-wrap">
    <div class="tabs">
      <h3 class="login-tab"><a class="active" href="#login-tab-content">Sisene</a></h3>
      <h3 class="signup-tab"><a href="{{ signup_url }}">Registreeri</a></h3>
    </div><!--.tabs-->

    <div class="tabs-content">
      <div id="login-tab-content" class="active">
        <form class="login-form" method="POST" action="{% url 'account_login' %}">
          {{ form.non_field_errors }}
          {% csrf_token %}
          {{ form.login.errors }}
          <input type="text" class="input" name="login" autocomplete="off" placeholder="Kasutajanimi" maxlength="150" required id="id_login">
          {{ form.password.errors }}
          <input type="password" class="input" name="password" autocomplete="current-password" placeholder="Salasõna" required id="id_password">
          <input type="checkbox" class="checkbox" name="remember" id="id_remember">
          <label for="id_remember">Jäta mind meelde</label>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <input id="submit" type="submit" class="button" value="Sisene">
        </form><!--.login-form-->
        <div class="help-text">
          <p><a href="{% url 'account_reset_password' %}">Unustasid salasõna?</a></p>
        </div><!--.help-text-->
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
          <div class="socialaccount_ballot w3-center">
            <div class='w__row w__row--sepator'>
              või
            </div>
            <button class="w3-button w3-hover-white">
              <a href="{% provider_login_url 'google' %}?next=/">
                <i class="fa fa-google"></i>
                Login Google abil
              </a>
            </button>
    {#            <button class="w3-button w3-hover-white">#}
    {#              {% providers_media_js %}#}
    {#              <a href="{% provider_login_url 'facebook' method="js_sdk" %}?next=/">#}
    {#                <i class="fa fa-facebook"></i>#}
    {#                Login Facebook abil#}
    {#              </a>#}
    {#            </button>#}
            <button class="w3-button w3-hover-white">
              <a href="{% provider_login_url 'github' %}?next=/">
                <i class="fa fa-github"></i>
                Login GitHub abil
              </a>
            </button>
          </div>
          {% include "socialaccount/snippets/login_extra.html" %}
        {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
      </div><!--.login-tab-content-->

      <div id="signup-tab-content">
        {# tühi #}
      </div><!--.signup-tab-content-->
    </div><!--.tabs-content-->
  </div><!--.form-wrap-->
{% endblock %}
