{% extends "wiki/wiki_base.html" %}
{% block title %}{{ block.super }} - sisselogimine{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block css %}
  <style>
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
    * {
      margin: 0;
      padding: 0; }
    a {
    color: #666;
    text-decoration: none; }
    a:hover {
      color: #4FDA8C; }
    input {
      font: 16px/26px "Raleway", sans-serif; }
    body {
      color: #666;
      background-color: #f1f2f2;
      font: 16px/26px "Raleway", sans-serif; }
    .form-wrap {
      background-color: #fff;
      width: 320px;
      margin: 3em auto;
      box-shadow: 0px 1px 8px #BEBEBE;
      -webkit-box-shadow: 0px 1px 8px #BEBEBE;
      -moz-box-shadow: 0px 1px 8px #BEBEBE; }
    .form-wrap .tabs {
      overflow: hidden; }
    .form-wrap .tabs h3 {
      float: left;
      width: 50%; }
    .form-wrap .tabs h3 a {
      padding: 0.5em 0;
      text-align: center;
      font-weight: 400;
      background-color: #e6e7e8;
      display: block;
      color: #666; }
    .form-wrap .tabs h3 a.active {
      background-color: #fff; }
    .form-wrap .tabs-content {
      padding: 1.5em; }
    .form-wrap .tabs-content div[id$="tab-content"] {
      display: none; }
    .form-wrap .tabs-content .active {
      display: block !important; }
    .form-wrap form .input {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      color: inherit;
      font-family: inherit;
      padding: .8em 0 10px .8em;
      border: 1px solid #CFCFCF;
      outline: 0;
      display: inline-block;
      margin: 0 0 .8em 0;
      padding-right: 2em;
      width: 100%; }
    .form-wrap form .button {
      width: 100%;
      padding: .8em 0 10px .8em;
      background-color: #28A55F;
      border: none;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase; }
    .form-wrap form .button:hover {
      background-color: #4FDA8C; }
    .form-wrap form .checkbox {
      visibility: hidden;
      padding: 20px;
      margin: .5em 0 1.5em; }
    .form-wrap form .checkbox:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1; }
    .form-wrap form label[for] {
      position: relative;
      padding-left: 20px;
      cursor: pointer; }
    .form-wrap form label[for]:before {
      content: '';
      position: absolute;
      border: 1px solid #CFCFCF;
      width: 17px;
      height: 17px;
      top: 0px;
      left: -14px; }
    .form-wrap form label[for]:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background-color: transparent;
      top: 4px;
      left: -10px;
      border: 3px solid #28A55F;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .form-wrap .help-text {
      margin-top: .6em; }
    .form-wrap .help-text p {
      text-align: center;
      font-size: 14px; }

    .w__row {
      margin-top: 20px;
    }
    .w__row--sepator {
      position: relative;
      text-align: center;
      font-size: 1em;
    }
    .w__row--sepator:before, .w__row--sepator:after {
      position: absolute;
      top: 12px;
      display: block;
      content: "";
      width: 45%;
      height: 1px;
      background: black;
    }
    .w__row--sepator:after {
      right: 0;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="form-wrap">
		<div class="tabs">
			<h3 class="login-tab"><a class="active" href="#login-tab-content">Sisene</a></h3>
      <h3 class="signup-tab"><a href="#signup-tab-content">Registreeri</a></h3>
		</div><!--.tabs-->

		<div class="tabs-content">
			<div id="login-tab-content" class="active">
        <form class="login-form" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
					<input type="text" class="input" name="login" autocomplete="off" placeholder="Kasutajanimi" maxlength="150" required id="id_login">
					<input type="password" class="input" name="password" autocomplete="current-password" placeholder="Salasõna" required id="id_password">
					<input type="checkbox" class="checkbox" name="remember" id="id_remember">
					<label for="id_remember">Jäta mind meelde</label>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
					<input id="submit" type="submit" class="button" value="Sisene">
				</form><!--.login-form-->
				<div class="help-text">
					<p><a href="{% url 'account_reset_password' %}">Unustasid salasõna?</a></p>
				</div><!--.help-text-->
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
          <div class="socialaccount_ballot w3-center">
            <div class='w__row w__row--sepator'>
              või
            </div>
            <button class="w3-button w3-hover-white">
              <a href="{% provider_login_url 'google' %}?next=/">
                <i class="fa fa-google"></i>
                Login Google abil
              </a>
            </button>
{#            <button class="w3-button w3-hover-white">#}
{#              {% providers_media_js %}#}
{#              <a href="{% provider_login_url 'facebook' method="js_sdk" %}?next=/">#}
{#                <i class="fa fa-facebook"></i>#}
{#                Login Facebook abil#}
{#              </a>#}
{#            </button>#}
            <button class="w3-button w3-hover-white">
              <a href="{% provider_login_url 'github' %}?next=/">
                <i class="fa fa-github"></i>
                Login GitHub abil
              </a>
            </button>
          </div>
          {% include "socialaccount/snippets/login_extra.html" %}
        {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
			</div><!--.login-tab-content-->

      <div id="signup-tab-content">
        <p class="w3-text-red">See ei tööta veel!</p>
				<form class="signup-form" action="" method="post">
					<input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
					<input type="text" class="input" id="user_name" autocomplete="off" placeholder="Kasutajanimi">
					<input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Salasõna">
					<input type="submit" class="button" value="Registreeri">
				</form><!--.login-form-->
				<div class="help-text">
					<p>Registreerimisel nõustud valgalinn.ee</p>
					<p><a href="{% url 'info' %}">kasutamise reeglitega.</a></p>
				</div><!--.help-text-->
			</div><!--.signup-tab-content-->

		</div><!--.tabs-content-->
	</div><!--.form-wrap-->

  <script>
    jQuery(document).ready(function($) {
      tab = $('.tabs h3 a');

      tab.on('click', function(event) {
        event.preventDefault();
        tab.removeClass('active');
        $(this).addClass('active');

        tab_content = $(this).attr('href');
        $('div[id$="tab-content"]').removeClass('active');
        $(tab_content).addClass('active');
      });
    });
{% endblock %}
