{% extends "wiki/wiki_base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'wiki/css/accounts/accounts.css' %}">
{% endblock %}

{% block head_title %}Salasõna uuesti seadmine{% endblock %}

{% block content %}
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>Salasõna uuesti seadmise link on vigane, sest võib olla on seda juba kasutatud. Palun küsi <a href="{{ passwd_reset_url }}"> salasõna uuesti seadmist</a>.</p>
    {% else %}
      <div class="form-wrap">
        <div class="tabs-content">
          <div id="signup-tab-content" class="active">
            <form method="POST" action="{{ action_url }}">
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
                {% csrf_token %}
                {{ form.password1.errors }}
                <input class="input" type="password" name="password1" placeholder="Salasõna" autocomplete="new-password" required="" id="id_password1">
                {{ form.password2.errors }}
                <input class="input" type="password" name="password2" placeholder="Salasõna (uuesti)" autocomplete="new-password" required="" id="id_password2">
                <input class="button"  type="submit" name="action" value="Vaheta salasõna"/>
            </form>
          </div><!--.signup-tab-content-->
        </div><!--.tabs-content-->
      </div><!--.form-wrap-->
    {% endif %}
{% endblock %}
