{% extends "wiki/wiki_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Salasõna uuesti seatud{% endblock %}

{% block content %}
    <h1>Salasõna uuesti seatud</h1>
    
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>Saatsime e-maili salasõna uuesti seadmise kohta. Kui seda postkastist ei leidnud, siis palun kontrolli ka spämmikausta. Kui see paari minuti jooksul ei jõudnud, siis võta meiega ühendust.</p>
{% endblock %}
