{% extends "wiki/wiki_base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'wiki/css/accounts/accounts.css' %}">
{% endblock %}

{% block content %}
    <div class="form-wrap">
      <div class="tabs-content">
        <div id="signup-tab-content" class="active">

          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {#        {% csrf_token %}#}
      {#        {{ form.as_p }}#}
            {{ form.non_field_errors }}
            {% csrf_token %}
            {{ form.password1.errors }}
            <input class="input" type="password" name="password1" placeholder="Salasõna" autocomplete="new-password" required="" id="id_password1">
            {{ form.password2.errors }}
            <input class="input" type="password" name="password2" placeholder="Salasõna (uuesti)" autocomplete="new-password" required="" id="id_password2">

            <input class="button"  type="submit" name="action" value="Vaheta salasõna"/>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </form>
      </div><!--.signup-tab-content-->
    </div><!--.tabs-content-->
  </div><!--.form-wrap-->
{% endblock %}
