{% extends "wiki/wiki_base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'wiki/css/accounts/accounts.css' %}">
{% endblock %}

{% block head_title %}Salasõna uuesti seadmine{% endblock %}

{% block content %}
  <div class="tabs-content">
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>Unustasid salasõna? Sisesta oma e-maili aadress ja saadame lingi uuesti seadmiseks.</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset input">
{#      {% csrf_token %}#}
{#      {{ form.as_p }}#}
      {{ form.non_field_errors }}
      {% csrf_token %}
      {{ form.login.errors }}
      <input class="input" type="email" name="email" placeholder="e-maili aaddress" autocomplete="email" required id="id_email" />
      <input class="input" type="submit" value="Sea salasõna uuesti" />
  </form>

  <p>Kui tekib probleeme salasõna uuesti seadmisega, siis palun võta ühendust!</p>
  </div>
{% endblock %}
