/* html värvikirjeldused Valga ajalookroonika jaoks
metro:
Dark Green #1e7145
Teal       #00aba9
Blue       #2d89ef
Dark Blue  #2b5797
*/

.background-artikkel 
{
background-color:#1e7145; 
color:white;
}

.background-isik 
{
background-color:#00aba9;
color:white;
}

.background-organisatsioon
{
background-color:#2d89ef;
color:white;
}

.background-objekt
{
background-color:#2b5797;
color:white;
}

.background-pilt
{
background-color:#808080;
color:white;
}

.background-viide
{
background-color:#A9A9A9;
color:white;
}

.text-artikkel {color:#1e7145;}
.text-isik {color:#00aba9;}
.text-organisatsioon {color:#2d89ef;}
.text-objekt {color:#2b5797;}
.text-pilt {color:#808080;}
.text-viide {color:#A9A9A9;}

.hover-artikkel:hover {color:#1e7145;}
.hover-isik:hover {
  color:#00aba9;
  border-bottom: 1px dotted black;
}
.hover-organisatsioon:hover {color:#2d89ef;}
.hover-objekt:hover {color:#2b5797;}
.hover-pilt:hover {color:#808080;}
.hover-viide:hover {color:#A9A9A9;}


