html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

/* Kasutamiseks objektivaates */
.pilt-postkaart-medium {
	max-height: 400px;
	max-width: 100%;
}
.pilt-portree-medium {
	max-height: 500px;
	max-width: 100%;
}

/* Kasutamiseks uudisvoos */
.pilt-postkaart-small {
	max-height: 200px;
	max-width: 100%;
}
.pilt-portree-small {
	max-height: 250px;
	max-width: 50%;
}
/* Kasutamiseks pisipildireana */
.pilt-pildirida
{
	max-height: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  juhuks kui vaja punktiirjoont teksti alla */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
