certifi==2019.3.9
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.6
django-crispy-forms==1.7.2
django-filter==2.1.0
django-recaptcha==2.0.4
django-widget-tweaks==1.4.3
djangorestframework==3.10.3
idna==2.8
itypes==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
Pillow==6.2.0
psycopg2==2.8.3
python-decouple==3.1
pytz==2019.1
PyYAML==5.1
requests==2.21.0
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.6
