astral==2.2
beautifulsoup4==4.12.3
boto3==1.35.54
branca==0.7.1
configparser==6.0.0
coreapi==2.3.3
crispy-bootstrap4==2023.1
daphne==4.1.2
Django==5.1.4
django-ajax-selects==3.0.2
django-allauth==0.61.1
django-ckeditor==6.7.1
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-filter==23.5
django-inlineedit==1.2.2
django-markdownx==4.0.7
django-recaptcha==4.0.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
ephem==4.1.5
folium==0.16.0
ipwhois==1.2.0
matplotlib==3.8.3
openpyxl==3.1.5
pandas==2.2.0
pillow==10.2.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
pyproj==3.6.1
pyshp==2.3.1
qrcode==7.4.2
redis==5.0.8
shapely==2.0.3
