{% extends "ilm/ilm_base.html" %}
{% load static %}
{% load ilm_extras %}

{% block stylesheet %}
<style>
/* hoverable table rows + columns https://codepen.io/chriscoyier/pen/pvwmaR */
table {
  overflow: hidden;
}

td, th {
  vertical-align: middle;
  padding: 10px;
  position: relative;
  outline: 0;
}
</style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %}
  {{ block.super }} - 48 ilmaennustuste kvaliteet
{% endblock %}

{% block content %}
<div class="w3-container">
  <h3>Ilmaennustuste kvaliteet</h3>
  <p>Võrreldud on erinevate ilmaportaalide 6, 12 ja 24 tunni ennustuste täpsust võrrelduna tegeliku mõõtmisega</p>
  <div class="w3-row">
      Legend: max = 100 punkti<br>
      Erinevus: 1°C = -10 punkti; 1 mm = -10 punkti<br>
      Vihmatrahv: ennustus 0,0 mm -> tegelik suurem kui 0,0 mm = -10 punkti
  </div>
  <p>Perioodi keskmised:</p>
  <div class="w3-row">
    <table>
			<thead>
        <tr>
          <th>Aeg</th>
          <th colspan="3">yr.no</th>
          <th colspan="3">openweathermaps.org</th>
          <th colspan="3">ilmateenistus.ee</th>
        </tr>
        <tr>
          <th class="col"></th>
          <th class="col">6h</th>
          <th class="col">12h</th>
          <th class="col">24h</th>
          <th class="col">6h</th>
          <th class="col">12h</th>
          <th class="col">24h</th>
          <th class="col">6h</th>
          <th class="col">12h</th>
          <th class="col">24h</th>
        </tr>
			</thead>
			<tbody>
        <tr class="row">
          <td>Viimased 24h</td>
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.6h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.12h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.24h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.6h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.12h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.24h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.6h_i_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.12h_i_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last24h_mean.24h_i_qual %}
        </tr>
        <tr class="row">
          <td>Viimased 30p</td>
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.6h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.12h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.24h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.6h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.12h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.24h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.6h_i_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.12h_i_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last30d_mean.24h_i_qual %}
        </tr>
        <tr class="row">
          <td>Viimane aasta</td>
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.6h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.12h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.24h_y_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.6h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.12h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.24h_o_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.6h_i_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.12h_i_qual %}
          {% include "ilm/forecasts_quality_td.html" with q=data.bd_last01y_mean.24h_i_qual %}
        </tr>
      </tbody>
    </table>
  </div>

  <p>Viimased 24 tundi:</p>
  <div class="w3-row">
		<table>
			<thead>
			<tr>
    		<th>Aeg</th>
    		<th colspan="3">yr.no</th>
				<th colspan="3">openweathermaps.org</th>
				<th colspan="3">ilmateenistus.ee</th>
  		</tr>
			<tr>
        <th class="col"></th>
				<th class="col">6h</th>
				<th class="col">12h</th>
				<th class="col">24h</th>
				<th class="col">6h</th>
				<th class="col">12h</th>
				<th class="col">24h</th>
        <th class="col">6h</th>
				<th class="col">12h</th>
				<th class="col">24h</th>
			</tr>
			</thead>
			<tbody>
      {% for key, element in data.last24h.items %}
			<tr class="row">
				<td>{{ key|timestamp_to_time|date:"d.m H:i" }}</td>
        {% include "ilm/forecasts_quality_td.html" with q=element.6h_y_qual ft=element.forecast_6h_y_temp fp=element.forecast_6h_y_prec %}
        {% include "ilm/forecasts_quality_td.html" with q=element.12h_y_qual ft=element.forecast_12h_y_temp fp=element.forecast_12h_y_prec %}
        {% include "ilm/forecasts_quality_td.html" with q=element.24h_y_qual ft=element.forecast_24h_y_temp fp=element.forecast_24h_y_prec %}
        {% include "ilm/forecasts_quality_td.html" with q=element.6h_o_qual ft=element.forecast_6h_o_temp fp=element.forecast_6h_o_prec %}
        {% include "ilm/forecasts_quality_td.html" with q=element.12h_o_qual ft=element.forecast_12h_o_temp fp=element.forecast_12h_o_prec %}
        {% include "ilm/forecasts_quality_td.html" with q=element.24h_o_qual ft=element.forecast_24h_o_temp fp=element.forecast_24h_o_prec %}
        {% include "ilm/forecasts_quality_td.html" with q=element.6h_i_qual ft=element.forecast_6h_i_temp fp=element.forecast_6h_i_prec %}
        {% include "ilm/forecasts_quality_td.html" with q=element.12h_i_qual ft=element.forecast_12h_i_temp fp=element.forecast_12h_i_prec %}
        {% include "ilm/forecasts_quality_td.html" with q=element.24h_i_qual ft=element.forecast_24h_i_temp fp=element.forecast_24h_i_prec %}
      </tr>
      {% endfor %}
			</tbody>
			</table>
  </div>

  <p>Päevad:</p>
  <div class="w3-row">
		<table>
			<thead>
			<tr>
    		<th>Aeg</th>
    		<th colspan="3">yr.no</th>
				<th colspan="3">openweathermaps.org</th>
				<th colspan="3">ilmateenistus.ee</th>
  		</tr>
			<tr>
        <th class="col"></th>
				<th class="col">6h</th>
				<th class="col">12h</th>
				<th class="col">24h</th>
				<th class="col">6h</th>
				<th class="col">12h</th>
				<th class="col">24h</th>
        <th class="col">6h</th>
				<th class="col">12h</th>
				<th class="col">24h</th>
			</tr>
			</thead>
			<tbody>
      {% for key, element in data.days.items %}
			<tr class="row">
				<td>{{ key.2|stringformat:"i" }}.{{ key.1|stringformat:"i" }}.{{ key.0|stringformat:"i" }}</td>
        {% include "ilm/forecasts_quality_td.html" with q=element.6h_y_qual %}
        {% include "ilm/forecasts_quality_td.html" with q=element.12h_y_qual %}
        {% include "ilm/forecasts_quality_td.html" with q=element.24h_y_qual %}
        {% include "ilm/forecasts_quality_td.html" with q=element.6h_o_qual %}
        {% include "ilm/forecasts_quality_td.html" with q=element.12h_o_qual %}
        {% include "ilm/forecasts_quality_td.html" with q=element.24h_o_qual %}
        {% include "ilm/forecasts_quality_td.html" with q=element.6h_i_qual %}
        {% include "ilm/forecasts_quality_td.html" with q=element.12h_i_qual %}
        {% include "ilm/forecasts_quality_td.html" with q=element.24h_i_qual %}
      </tr>
      {% endfor %}
			</tbody>
			</table>
  </div>

</div>
{% endblock %}