{% extends "ilm/ilm_base.html" %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'ilm/css/ilm_loader.css' %}">
{% endblock %}

{% block javascript %}
	<script src="{% static 'ilm/js/ilm_history.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="w3-row">
    <div class="w3-half">
			<form id="frm1" action="{% url 'ilm:history' %}" method="post">
				{% csrf_token %}
				<table>
					<tr>
						<td>
							<div id="container_history_andmed" data-url="{% url 'ilm:container_history_andmed' %}"></div>
						</td>
						<td>
							{{ form.aasta }}
						</td>
						<td>
							{{ form.kuu }}
						</td>
						<td>
							{{ form.p2ev }}
						</td>
						<td>
							<button id="submit" type="submit"><i class="fa fa-search"></i></button>
							<image id="submitLoader" src="{% static 'ilm/img/ajax-loader.gif' %}"/>
						</td>
					</tr>
					<tr>
						<td>
							{{ form.non_field_errors }} {{ form.aasta.errors }} {{ form.kuu.errors }} {{ form.p2ev.errors }}
						</td>
					</tr>
				</table>
			</form>
		<div id="text"></div>
	</div>

  <div class="w3-row">
  </div>

  <div class="w3-row">
		<div id="loader"></div>
		<div class="w3-center" id="loaderDiv1">
			<img src={% static "ilm/img/ajax-loader-bar.gif" %} >
		</div>
		<div id="container_history_aasta" data-url="{% url 'ilm:container_history_aasta' %}" style="min-width: 300px; margin: 0 auto"></div>
  </div>
  <div class="w3-row">
    <div class="w3-half w3-mobile">
			<div class="w3-center" id="loaderDiv2">
				<img src="{% static 'ilm/img/ajax-loader-bar.gif' %}" >
			</div>
	  	<div id="container_history_kuud" data-url="{% url 'ilm:container_history_kuud' %}" style="min-width: 300px; margin: 0 auto"></div>
		</div>
		<div class="w3-half w3-mobile">
			<div class="w3-center" id="loaderDiv3">
				<img src="{% static 'ilm/img/ajax-loader-bar.gif' %}" >
			</div>
			<div id="container_history_kuu" data-url="{% url 'ilm:container_history_kuu' %}" style="min-width: 300px; margin: 0 auto"></div>
		</div>
  </div>
  <div class="w3-row">
    <div class="w3-half">
			<div class="w3-center" id="loaderDiv4">
				<img src={% static "ilm/img/ajax-loader-bar.gif" %} >
			</div>
			<div id="container_history_p2ev" data-url="{% url 'ilm:container_history_p2ev' %}" style="min-width: 300px; margin: 0 auto"></div>
		</div>
		<div class="w3-half">
			<div class="w3-center" id="loaderDiv5">
				<img src={% static "ilm/img/ajax-loader-bar.gif" %} >
			</div>
			<div id="container_history_p2evad" data-url="{% url 'ilm:container_history_p2evad' %}" style="min-width: 300px; margin: 0 auto"></div>
		</div>
  </div>
	<div class="w3-row">
		<div class="w3-half">
			<div class="w3-center" id="loaderDiv6">
				<img src={% static "ilm/img/ajax-loader-bar.gif" %} >
			</div>
			<div id="container_history_aastad" data-url="{% url 'ilm:container_history_aastad' %}" style="min-width: 300px; margin: 0 auto"></div>
		</div>
		<div class="w3-half">
			<div class="w3-center" id="loaderDiv7">
				<img src={% static "ilm/img/ajax-loader-bar.gif" %} >
			</div>
			<div id="container_history_kuud_aastatekaupa" data-url="{% url 'ilm:container_history_kuud_aastatekaupa' %}" style="min-width: 300px; margin: 0 auto"></div>
		</div>
  </div>

{% endblock %}