<!DOCTYPE html>
<html lang="et" class="container mx-auto bg-gray-100">
	{% load static %}

	<meta charset="utf-8">
	<head>
		<title>{% block title %}Valga linna ilm{% endblock %}</title>

		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="description" content="Valga linna kroonika ilmaandmed" />
		<meta name="keywords" content="Valga, linn, kroonika, ajalugu, ilm" />
		<meta name="author" content="Kalev Härk" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Kirjeldus -->
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Valga linna ilm" />
		<meta property="og:description"   content="Valga linna kroonika ilmaandmed" />
		<meta property="og:image"         content="{% static 'wiki/img/220px-Valga_coat_of_arms.svg.png' %}" />
<!--		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
		<link rel="stylesheet" href="{% static 'wiki/css/w3.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{% static 'wiki/css/kroonika_general.css' %}">
		<link rel="stylesheet" href="{% static 'ilm/img/Climacons-Font/webfont/climacons-font.css' %}" />
		<link rel="stylesheet" href="{% static 'ilm/css/ilm.css' %}">
		{% block stylesheet %}{% endblock %}

		<link rel="shortcut icon" href="{% static 'ilm/img/favicon.ico' %}">

		<!-- jQuery teek -->
		<script src="//code.jquery.com/jquery-3.5.1.min.js"></script>

		<!-- HighCharts skriptid -->
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-more.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<script src="https://code.highcharts.com/modules/windbarb.js"></script>
		<script src="https://code.highcharts.com/modules/pattern-fill.js"></script>

		<script src="{% static 'ilm/js/highcharts-regression.js' %}"></script>

		<!-- Äpi skriptid, kui vaja -->
		<script src="{% static 'ilm/js/ilm.js' %}"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151102639-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-151102639-1');
		</script>
		{% block javascript %}{% endblock %}
  </head>

  <body class="Site w3-light-grey">
    <header>
		<!-- Navbar -->
		<div id="top" class="w3-top">
			<div class="w3-bar w3-left-align w3-large">
				<a
						href="{% url 'algus' %}"
						title="Valga linna kroonika avalehele"
						class="w3-bar-item w3-button w3-hover-white">
						<img
								src="{% static 'wiki/img/220px-Valga_coat_of_arms.svg.png' %}"
								style='max-height:22px;'
								alt="vapp">
				</a>
				<a
						href="{% url 'ilm:index' %}"
						class="w3-bar-item w3-button w3-theme-d4 w3-hover-white">
					<i
							id="ilm_start_icon"
							style="display: inline-block; margin-right: 10px;"
							class="fa fa-thermometer">
					</i>
					Valga linna ilm
				</a>
				<a
						href="{% url 'ilm:history' %}"
						class="w3-bar-item w3-button w3-hover-white"
						title="Ilmaandmete ajalugu">
					<i class="fa fa-line-chart"></i>
				</a>
				<a
						href="{% url 'algus' %}"
						class="w3-bar-item w3-button w3-hide-small w3-hover-white"
						title="Valga linna kroonika">
					<i class="fa fa-leanpub"></i>
				</a>
			</div>
		</div>
		</header>

			{% block content %}{% endblock %}

		<footer>
			<div class="w3-bar">
					<a href="#">
					<button class="w3-button w3-hover-white fa fa-angle-double-up"></button>
				</a>
				<a href="{% url 'ilm:index' %}">
						<button class="w3-button w3-hover-white w3-right w3-text-grey"><small>&#9400;&nbsp;2018-2020 Kalev Härk</small></button>
				</a>
      </div>
		</footer>
	</body>
</html>