{% extends "ilm/ilm_base.html" %}
{% load static %}
{% load ilm_extras %}

{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@next/dist/tailwind.min.css">
{% endblock %}

{% block javascript %}
<script src="{% static 'ilm/js/ilm_mixed_ilmateade.js' %}"></script>
<script src="{% static 'ilm/js/ilm_mixed_ilmateade_mobile.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="w3-row w3-hide-small">
    {% include "ilm/mixed_ilmateade.html" %}
  </div>
  <div class="font-sans max-w-md mx-auto w3-hide-large w3-hide-medium">
    {% include "ilm/mixed_ilmateade_mobile.html" %}
  </div>
{% endblock %}