{% extends "ilm/ilm_base.html" %}
{% load static %}
{% load i18n %}
{% load ilm_extras %}

{% block stylesheet %}
<style>
figure {
    margin: 0px;
}

/* hoverable table rows + columns https://codepen.io/chriscoyier/pen/pvwmaR */
table {
  overflow: hidden;
}

td, th {
  vertical-align: middle;
  padding: 5px;
  position: relative;
  outline: 0;
}

body:not(.nohover) tbody tr:hover {
  background-color: #ffa;
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: #ffa;
}

td:focus::after,
th:focus::after {
  background-color: lightblue;
}

/* Focus stuff for mobile */
td:focus::before,
tbody th:focus::before {
  background-color: lightblue;
  content: '';
  height: 100%;
  top: 0;
  left: -5000px;
  position: absolute;
  width: 10000px;
  z-index: -1;
}

/* Tabeliseaded näitajatele */
.rain,
.days,
.temperature {
  text-align: right;
}

/*
td.rain.light::before {
  content: '';
  position: relative;
  background:url('https://cdn.jsdelivr.net/gh/YR/weather-symbols@6.0.2/dist/svg/05d.svg');
  width: 1em;
  height: 1em;
  display: block;
}


td.rain.moderate::before {
  content: '';
  position: relative;
  background:url('https://cdn.jsdelivr.net/gh/YR/weather-symbols@6.0.2/dist/svg/09.svg');
  width: 1em;
  height: 1em;
  display: block;
}

td.rain.heavy::before {
  content: '';
  position: relative;
  background:url('https://cdn.jsdelivr.net/gh/YR/weather-symbols@6.0.2/dist/svg/10.svg');
  width: 1em;
  height: 1em;
  display: block;
}
*/

/* Climacon */
.fs1 {
	font-size: 2em;
}

/* Highcharts */
.highcharts-figure, .highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    /* margin: 1em auto; */
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
</style>
{% endblock %}

{% block javascript %}
<script>
  // whatever kind of mobile test you wanna do.
  if (screen.width < 500) {
    $("body").addClass("nohover");
    $("td, th")
      .attr("tabindex", "1")
      .on("touchstart", function() {
        $(this).focus();
      });
  }
</script>
{% endblock %}

{% block title %}
  {{ block.super }} - aastate ekstreemumid
{% endblock %}

{% block content %}
  <div class="w3-row">
		<table>
      <caption>Maksimum- ja miinimumtemperatuurid aastate kaupa</caption>
			<thead>
        <tr>
          <th>Aasta</th>
          <th colspan="2">Minimaalne (°C)</th>
          <th colspan="2">Maksimaalne (°C)</th>
          <th>Keskmine (°C)</th>
          <th>Sademeid (mm)</th>
          <th title="päevade arv kui temperatuur langes alla -30°C">< -30°C</th>
          <th title="päevade arv kui temperatuur tõusis üle +30°C">> +30°C</th>
          <th title="päevade arv kui temperatuur ei tõusnud päeval (kell 09-17 ) üle -20°C">Arktiline päev</th>
          <th title="päevade arv kui temperatuur ei langenud öösel (kell 21-05) alla +20°C">Troopiline öö</th>
        </tr>
			</thead>
			<tbody>
        {% for year, data in years_top.items %}
          <tr class="row">
            <td>{{ year }}</td>
            <td
                class="temperature">
              <span class="temperature colored-{% if data.year_min > 0 %}positive{% else %}negative{% endif %}">
                {{ data.year_min|floatformat:1 }}
              </span>
            </td>
            <td>
              {{ data.obs_min|date:"d.m H:i" }}
            </td>
            <td
                class="temperature">
              <span class="temperature colored-{% if data.year_max > 0 %}positive{% else %}negative{% endif %}">
                {{ data.year_max|floatformat:1 }}
              </span>
            </td>
            <td>
              {{ data.obs_max|date:"d.m H:i" }}
            </td>
            <td
                class="temperature">
              <span class="temperature colored-{% if data.year_temp_avg > 0 %}positive{% else %}negative{% endif %}">
                {{ data.year_temp_avg|floatformat:1 }}
              </span>
            </td>
            <td class="rain">{{ data.year_prec_sum }}</td>
            <td class="days">{% if data.days_below30 %}{{ data.days_below30 }}{% endif %}</td>
            <td class="days">{% if data.days_above30 %}{{ data.days_above30 }}{% endif %}</td>
            <td class="days">{% if data.days_below20 %}{{ data.days_below20 }}{% endif %}</td>
            <td class="days">{% if data.days_above20 %}{{ data.days_above20 }}{% endif %}</td>
          </tr>
        {% endfor %}
			</tbody>
		</table>
  </div>

  <div class="w3-row">
    <table>
      <caption>Maksimum- ja miinimumtemperatuurid kuude kaupa</caption>
      {% for month, data in days_airtemp_monthmaxmin.items %}
        <tr>
          <td>{{ data.airtemperature_max_timestamp|date:"F" }}</td>
          <td class="temperature">
            <span class="temperature colored-{% if data.airtemperature_max > 0 %}positive{% else %}negative{% endif %}">
              {{ data.airtemperature_max|floatformat:1 }}
            </span>
          </td>
          <td>{{ data.airtemperature_max_timestamp|date:"SHORT_DATE_FORMAT" }}<td>
          <td class="temperature">
            <span class="temperature colored-{% if data.airtemperature_min > 0 %}positive{% else %}negative{% endif %}">
              {{ data.airtemperature_min|floatformat:1 }}
            </span>
          </td>
          <td>{{ data.airtemperature_min_timestamp|date:"SHORT_DATE_FORMAT" }}<td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div>
    <figure class="highcharts-figure">
      <div id="container_chartdata_heatmap_daily"></div>
      <p class="highcharts-description">
          Allikas: ilmateenistus.ee
      </p>
    </figure>
  </div>
  <pre id="csv_chartdata_heatmap_daily" style="display: none">{{ chartdata_heatmap_daily }}</pre>

  <div>
    <figure class="highcharts-figure">
      <div id="container_chartdata_heatmap_relative"></div>
      <p class="highcharts-description">
          Allikas: ilmateenistus.ee
      </p>
    </figure>
  </div>
  <pre id="csv_chartdata_heatmap_relative" style="display: none">{{ chartdata_heatmap_relative }}</pre>

  <div>
    <figure class="highcharts-figure">
      <div id="container_chartdata_heatmap_precipitations"></div>
      <p class="highcharts-description">
          Allikas: ilmateenistus.ee
      </p>
    </figure>
  </div>
  <pre id="csv_chartdata_heatmap_precipitations" style="display: none">{{ chartdata_heatmap_precipitations }}</pre>

  <div>
    <figure class="highcharts-figure">
      <div id="container_chartdata_rolling_year_avg"></div>
      <p class="highcharts-description">
          Allikas: ilmateenistus.ee
      </p>
    </figure>
  </div>
  <pre id="csv_chartdata_rolling_year_avg" style="display: none">{{ chartdata_rolling_year_avg }}</pre>

  <script>
  // heatmap chart daily variations
  Highcharts.chart('container_chartdata_heatmap_daily', {

      data: {
          csv: document.getElementById('csv_chartdata_heatmap_daily').innerHTML
      },

      chart: {
          type: 'heatmap'
      },

      boost: {
          useGPUTranslations: true
      },

      title: {
          text: 'Päevakeskmise temperatuuri varieerumine',
          align: 'left',
          x: 40
      },

      subtitle: {
          text: '{{ yearMin }}-{{ yearMax }}',
          align: 'left',
          x: 40
      },

      xAxis: {
          type: 'datetime',
          min: Date.UTC(2016, 0, 1), //  kasutame liigaastat 2016
          max: Date.UTC(2016, 11, 31, 23, 59, 59),
          labels: {
              align: 'left',
              x: 5,
              y: 14,
              format: '{value:%B}' // long month
          },
          showLastLabel: false,
          tickLength: 16
      },

      yAxis: {
          title: {
              text: null
          },
          labels: {
              format: '{value}'
          },
          minPadding: 0,
          maxPadding: 0,
          startOnTick: false,
          endOnTick: false,
          tickPositions: _.range({{ yearMin }}, {{ yearMax }}, 4),
          tickWidth: 1,
          min: {{ yearMin }},
          max: {{ yearMax }},
          reversed: true
      },

      colorAxis: {
          stops: [
              [0, '#3060cf'],
              [0.5, '#fffbbc'],
              [0.9, '#c4463a'],
              [1, '#c4463a']
          ],
          min: -30,
          max: 30,
          startOnTick: false,
          endOnTick: false,
          labels: {
              format: '{value}℃'
          }
      },

      series: [{
          boostThreshold: 100,
          borderWidth: 0,
          nullColor: '#EFEFEF',
          colsize: 24 * 36e5, // one day
          tooltip: {
              headerFormat: 'Temperatuur<br/>',
              pointFormat: '{point.x:%d.%m}.{point.y}: <b>{point.value} ℃</b>'
          },
          turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
      }]

  });

  // heatmap chart daily variations
  Highcharts.chart('container_chartdata_heatmap_relative', {

      data: {
          csv: document.getElementById('csv_chartdata_heatmap_relative').innerHTML
      },

      chart: {
          type: 'heatmap'
      },

      boost: {
          useGPUTranslations: true
      },

      title: {
          text: 'Päevakeskmise temperatuuri varieerumine ajaloolisest keskmisest',
          align: 'left',
          x: 40
      },

      subtitle: {
          text: '{{ yearMin }}-{{ yearMax }}',
          align: 'left',
          x: 40
      },

      xAxis: {
          type: 'datetime',
          min: Date.UTC(2016, 0, 1), //  kasutame liigaastat 2016
          max: Date.UTC(2016, 11, 31, 23, 59, 59),
          labels: {
              align: 'left',
              x: 5,
              y: 14,
              format: '{value:%B}' // long month
          },
          showLastLabel: false,
          tickLength: 16
      },

      yAxis: {
          title: {
              text: null
          },
          labels: {
              format: '{value}'
          },
          minPadding: 0,
          maxPadding: 0,
          startOnTick: false,
          endOnTick: false,
          tickPositions: _.range({{ yearMin }}, {{ yearMax }}, 4),
          tickWidth: 1,
          min: {{ yearMin }},
          max: {{ yearMax }},
          reversed: true
      },

      colorAxis: {
          stops: [
              [0, '#3060cf'],
              [0.5, '#ffffff'],
              // [0.9, '#c4463a'],
              [1, '#c4463a']
          ],
          min: -15,
          max: 15,
          startOnTick: false,
          endOnTick: false,
          labels: {
              format: '{value}℃'
          }
      },

      series: [{
          boostThreshold: 100,
          borderWidth: 0,
          nullColor: '#EFEFEF',
          colsize: 24 * 36e5, // one day
          tooltip: {
              headerFormat: 'Temperatuur<br/>',
              pointFormat: '{point.x:%d.%m}.{point.y}: <b>{point.value} ℃</b>'
          },
          turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
      }]

  });

  // heatmap chart daily variations
  Highcharts.chart('container_chartdata_heatmap_precipitations', {

      data: {
          csv: document.getElementById('csv_chartdata_heatmap_precipitations').innerHTML
      },

      chart: {
          type: 'heatmap'
      },

      boost: {
          useGPUTranslations: true
      },

      title: {
          text: 'Sademete hulga varieerumine',
          align: 'left',
          x: 40
      },

      subtitle: {
          text: '{{ yearMin }}-{{ yearMax }}',
          align: 'left',
          x: 40
      },

      xAxis: {
          type: 'datetime',
          min: Date.UTC(2016, 0, 1), //  kasutame liigaastat 2016
          max: Date.UTC(2016, 11, 31, 23, 59, 59),
          labels: {
              align: 'left',
              x: 5,
              y: 14,
              format: '{value:%B}' // long month
          },
          showLastLabel: false,
          tickLength: 16
      },

      yAxis: {
          title: {
              text: null
          },
          labels: {
              format: '{value}'
          },
          minPadding: 0,
          maxPadding: 0,
          startOnTick: false,
          endOnTick: false,
          tickPositions: _.range({{ yearMin }}, {{ yearMax }}, 4),
          tickWidth: 1,
          min: {{ yearMin }},
          max: {{ yearMax }},
          reversed: true
      },

      colorAxis: {
          stops: [
              [0, '#ffffff'],
              [1, '#3060cf']
          ],
          min: 0,
          max: 10,
          startOnTick: false,
          endOnTick: false,
          labels: {
              format: '{value} mm'
          }
      },

      series: [{
          boostThreshold: 100,
          borderWidth: 0,
          nullColor: '#EFEFEF',
          colsize: 24 * 36e5, // one day
          tooltip: {
              headerFormat: 'Sademete hulk<br/>',
              pointFormat: '{point.x:%d.%m}.{point.y}: <b>{point.value} mm</b>'
          },
          turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
      }]

  });

  // aasta ujuva keskmise muutumine
  Highcharts.chart('container_chartdata_rolling_year_avg', {
    title: {
        text: 'Ujuva aastakeskmise varieerumine'
    },
    yAxis: {
        title: {
            text: 'Erinevus ajaloo keskmisega ({{ histAvg }}C°)'
        },
        labels: {
            formatter: function () {
                return this.value + 'C°';
            }
        }
    },
    data: {
        csv: document.getElementById('csv_chartdata_rolling_year_avg').innerHTML
    },
    plotOptions: {
        series: {
            marker: {
                enabled: false
            }
        }
    },
    series: [{
        type: 'areaspline',
        color: '#c4392d',
        negativeColor: '#5679c4',
        fillOpacity: 0.5
    },
    {
        type: 'spline',
        color: '#c4392d',
        negativeColor: '#5679c4',
        fillOpacity: 0.8
    }]
  });
  </script>
{% endblock %}