{% load static %}
{% load ilm_extras %}
<article class="max-w-sm mx-auto mt-5 bg-white rounded shadow">
  <section class="flex items-center justify-center">
    <table>
    {% for hour, data in history.items %}
      <tr>
        <td>{{ hour|time:"H:i" }}</td>
        {% comment %} <td class="temperature colored-{% if data.airtemperature > 0 %}positive{% else %}negative{% endif %}">{{ data.airtemperature|floatformat:1 }}°C</td> {% endcomment %}
        <td class="temperature">
          <span class="temperature colored-{% if data.airtemperature > 0 %}positive{% else %}negative{% endif %}">
            {{ data.airtemperature|floatformat:1 }}°C
          </span>
        </td>
        <td class="rain {{ data.precipitation_color }}"> {{ data.precipitations|floatformat:1 }}</td>
{#        <td>{{ data.phenomenon }}</td>#}
        <td>
          <img
{#            src="https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{ hour.weather.0.icon }}.png"#}
            src="https://cdn.jsdelivr.net/gh/YR/weather-symbols@6.0.2/dist/svg/{{ data.symbol }}.svg"
            alt="{{ data.phenomenon }}"
            width="32" height="32"
          />
        </td>
      </tr>
    {% endfor %}
    </table>
  </section>
  <section class="mt-5 py-3 px-2 flex justify-around">
    <p class="{{ sun.previousevent.event }} flex items-center">{{ sun.previousevent.time|date:"H:i" }}</p>
    <p class="text-lg text-center text-gray-600">
      <strong>{{ current_weather.timestamp|date:"H:i" }}</strong>
    </p>
    <p class="{{ sun.nextevent.event }} flex items-center">{{ sun.nextevent.time|date:"H:i" }}
  </section>
{#  <p class="mt-1 text-lg text-gray-700 font-medium text-center">{{ weather.current.kirjeldus }}</p>#}
  <section class="flex items-center justify-center">
    {% if current_weather.phenomenon %}
      <img
              src="https://cdn.jsdelivr.net/gh/YR/weather-symbols@6.0.2/dist/svg/{{ current_weather.symbol }}.svg"
  {#            src="https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{weather.current.weather.0.icon}}.png"#}
              alt="{{ current_weather.phenomenon }}"
              width="128" height="128"
      />
    {% endif %}
    <p class="font-bold text-5xl temperature colored-{% if current_weather.airtemperature > 0 %}positive{% else %}negative{% endif %} ml-1 mr-4">{{ current_weather.airtemperature|floatformat:1 }}°C</p>
  </section>

  <section class="mt-5 py-3 px-2 flex justify-around text-gray-700">
    <p class="wind flex items-center">{{ current_weather.windspeed|floatformat:0 }} m/s</p>
    <p class="humidity flex items-center">{{ current_weather.relativehumidity }} %</p>
    <p class="pressure flex items-center">{{ current_weather.airpressure }} hPa</p>
  </section>

  <section class="flex items-center justify-center">
    <div id="forecast-ilmateenistus">
      <table>
        {# Ilmateenistus #}
        {% for timestamp, data in forecasts.items %}
          <tr class="row">
            <td>{{ timestamp|timestamp_to_time|date:"d.m H" }}-{{ timestamp|timestamp_to_time|date:"H"|add:"1"|stringformat:"02d" }}</td>
            <td
                class="temperature">
              <span class="temperature colored-{% if data.i_temp > 0 %}positive{% else %}negative{% endif %}">
                {{ data.i_temp|floatformat:1 }}
              </span>
            </td>
            <td class="w3-center">
              <img
                      src="https://www.ilmateenistus.ee/wp-content/themes/ilm2020/images/{{ data.i_icon }}.svg"
                      alt="{{ data.i_icon }}"
                      width="32" height="32"
              />
            </td>
            <td class="rain {{ data.i_prec_color }}">{{ data.i_prec|floatformat:1 }}</td>
          </tr>
        {% endfor %}
      </table>
      <div class="w3-row w3-padding">
        Mõõtmised: <a href="https://ilmateenistus.ee/" class="text-yellow-900 hover:underline" target="_blank">ilmateenistus.ee</a><br>
        Prognoos: <a href="https://www.ilmateenistus.ee/ilm/prognoosid/asukoha-prognoos/?coordinates=57.776678;26.030958" target="_blank">ilmateenistus.ee</a>
      </div>
    </div>
    <div id="forecast-yrno" class="w3-hide">
      {# yr.no #}
      <table>
        {% for timestamp, data in forecasts.items %}
          <tr class="row">
            <td>{{ timestamp|timestamp_to_time|date:"d.m H:i" }}</td>
            <td
                    class="temperature">
            <span class="temperature colored-{% if data.y_temp > 0 %}positive{% else %}negative{% endif %}">
              {{ data.y_temp|floatformat:1 }}
            </span>
            </td>
            <td class="w3-center">
              <img
                      src="{% static "" %}ilm/img/weathericon/svg/{{ data.y_icon }}.svg"
                      alt="{{ data.y_icon }}"
                      width="32" height="32"
              />
            </td>
            <td class="rain {{ data.y_prec_color }}">{{ data.y_prec }}</td>
          </tr>
        {% endfor %}
      </table>
      <div class="w3-row w3-padding">
        Mõõtmised: <a href="https://ilmateenistus.ee/" class="text-yellow-900 hover:underline">ilmateenistus.ee</a><br>
        Prognoos: <a href="https://www.yr.no/en/forecast/daily-table/2-587876/Estonia/Valgamaa/Valga%20vald/Valga" target="_blank">yr.no</a>
      </div>
    </div>
  </section>
</article>

{% comment %} <footer class="my-8 text-center">
  Mõõtmised: <a href="https://ilmateenistus.ee/" class="text-yellow-900 hover:underline">ilmateenistus.ee</a>
</footer> {% endcomment %}