{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block content %}
  <div class="w3-panel w3-card-4 w3-light-grey w3-round" >
    <!-- Sisukaardi päis-->
    <div class="w3-row text-objekt" >
      <h4>
        <a style="text-decoration: none;" href="{% url 'wiki:wiki_aadress_filter' %}">
          <i class="{% icon_object object %}"></i>
        </a>
        {{ object }}
      </h4>
      <p>Allikas: {{ object.viited.first }}</p>
    </div>

    <!-- Sisukaardi kirjeldav osa-->
    <div class="w3-twothird">
      <div class="w3-third">
        <!-- Sisukaardi kaardiosa-->
        {% include 'wiki/includes/object_detail_map.html' with object=object.objekt %}
      </div>
      <!-- Sisukaardi andmete osa-->
      <div class="w3-twothird">
        <div class="w3-row">
          Kirjeldus:<br />
          {{ object.kirjeldus }}
        </div>
        {% if object.objekt %}
          <div class="w3-row">
            Aadressiga seotud koht:&nbsp;
            <i class="{% icon_object object.objekt %}"></i>&nbsp;
            <a style="text-decoration: none;" href="{% url 'wiki:wiki_objekt_detail' pk=object.objekt.pk slug=object.objekt.slug  %}">
              <strong>{{ object.objekt }}</strong>
            </a>
            {% if seotud_aadressid_objekti_kaudu %}
              <p class="w3-row">
                Seotud aadressid sama koha kaudu:
                <ul class="w3-ul">
                  {% for obj in seotud_aadressid_objekti_kaudu %}
                    <li>
                      <a
                          class="hover-artikkel"
                          href="{% url 'wiki:wiki_aadress_detail' pk=obj.id %}"
                        >
                        <i class="{% icon_object obj %}"></i> {{ obj.hist_year }}: {{ obj }}
                      </a>
                      {% if obj.kirjeldus %}
                            , <i>{{ obj.kirjeldus }}</i>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </p>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <!-- Andmete lisamise/muutmise andmed: -->
      {% include 'wiki/includes/object_updated_edit.html' with model='aadress' %}
    </div>

    <!--  Sisukaardi otseseosed-->
    <div class="w3-third" >
      {#      tühi#}
    </div>
  </div>
{% endblock content %}