{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'wiki/css/wiki_calendar3.css' %}">
{% endblock %}
{% block src %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js"></script>
{% endblock %}
{% block content %}
	<!-- Lingid teemalehtedele -->
  <div class="w3-margin-bottom">
    {% include 'wiki/algus/algus_head2.html' %}
  </div>

  <!-- Sisu algab siit -->
  <div class="w3-margin-bottom">
    {% now "d" as p2ev %}
    {% now "m" as kuu %}
    {% now "Y" as aasta %}
    <!-- Artiklite esitlus -->
	  <div class="w3-quarter">
      {% if j6ul2024 %}
      <div class="w3-container w3-center">
        {% include 'wiki/special/algus_message_j6ul2024_lights.html' %}
      </div>
      {% endif %}
      {# Teadete esitamiseks #}
      {#      <div class="w3-container w3-hover-white w3-padding-16 w3-center">#}
      {#        {% include 'wiki/special/algus_message_440.html' %}#}
      {#      </div>#}
      {% if j6ul2024 %}
      <div class="w3-container w3-hover-white w3-padding-16 w3-center w3-round">
        {% include 'wiki/special/algus_message_j6ul2024.html' %}
      </div>
      {% endif %}
      <!--      Kalender -->
      <div class="card w3-hide-medium w3-padding-16 w3-hover-white w3-round">
        {% include 'wiki/includes/wiki_calendar3.html' %}
      </div>
      <!--      Lood -->
      <div class="card w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/algus/algus_artiklid.html' %}
      </div>
    </div>
    <!-- Isikute esitlus -->
    <div class="w3-quarter">
      {% if j6ul2024 %}
      <div class="w3-container w3-center">
        {% include 'wiki/special/algus_message_j6ul2024_lights.html' %}
      </div>
      {% endif %}
      <div class="card w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/algus/algus_isikud.html' %}
      </div>
    </div>
    <!-- Organisatsioonide esitlus -->
    <div class="w3-quarter">
      {% if j6ul2024 %}
      <div class="w3-container w3-center">
        {% include 'wiki/special/algus_message_j6ul2024_lights.html' %}
      </div>
      {% endif %}
      <div class="card w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/algus/algus_organisatsioonid.html' %}
      </div>
    </div>
    <div class="w3-quarter">
      {% if j6ul2024 %}
      <div class="w3-container w3-center">
        {% include 'wiki/special/algus_message_j6ul2024_lights.html' %}
      </div>
      {% endif %}
      <!-- Kaartide esitlus -->
      <div class="card w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/algus/algus_kaardid.html' %}
      </div>
      <!-- Objektide esitlus -->
      <div class="card w3-container w3-round w3-hover-white">
        {% include 'wiki/algus/algus_objektid.html' %}
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom w3-hide-small">
    {% include 'wiki/algus/algus_foot.html' %}
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'ilm/js/swiped-events.js' %}"></script>
  <script src="{% static 'wiki/js/wiki_calendar3.js'%}?ver=2024"></script>
  <script>
    var calendar_days_with_events_in_month_url = "{% url 'wiki:calendar_days_with_events_in_month' %}"
    var yearsWithEvents = {{ kalender.years_with_events }}
    var kroonikaUrl = "{% url 'wiki:artikkel_index_archive' %}"
    var userCalendarViewLast = '{{ request.session.user_calendar_view_last }}'
    var calendarSystem = '{{ request.session.calendar_system }}'

    $( document ).ready(function() {
      {# Kalendrividina käivitamine #}
      GWDateTimePicker.init({
        targetId: "date-container"
      })
      // toome kalendri nähtavale
      var x = document.getElementById("wiki_calendar");
      x.style.opacity = "1";
    });
  </script>

  {% if j6ul2024 %}
  <script>
    // Jõuluvalgus 2024 Christmas Lights by Jason Knott https://codepen.io/jgknott/pen/XNwPby
    var lightswitch = document.getElementById("j6ul2024-switch"),
      on = false;
    lightswitch.addEventListener('click', toggleLights, false);

    var tl = new TimelineMax({delay: .5});  

    function toggleLights(){
      $(".Site").toggleClass("darker");

      if(on){
        on = false;
        TweenMax.to('.light',.2, {filter:'', opacity: 0.55})
      }else{
        TweenMax.staggerTo('.light', .5, {filter:'url(\'#glow\')', opacity: 1}, .04)
        on = true;
      }
    }

    TweenLite.set(".anim-container",{perspective:600})

    var total = 30;
    var warp = document.getElementById("container"),	w = window.innerWidth , h = window.innerHeight;

    for (i=0; i<total; i++){ 
      var Div = document.createElement('div');
      TweenLite.set(Div,{attr:{class:'dot'},x:R(0,w),y:R(-200,-150),z:R(-200,200)});
      warp.appendChild(Div);
      animm(Div);
    }

    function animm(elm){   
      TweenMax.to(elm,R(6,15),{y:h+100,ease:Linear.easeNone,repeat:-1,delay:-15});
      TweenMax.to(elm,R(4,8),{x:'+=100',rotationZ:R(0,180),repeat:-1,yoyo:true,ease:Sine.easeInOut});
      TweenMax.to(elm,R(2,8),{rotationX:R(0,360),rotationY:R(0,360),repeat:-1,yoyo:true,ease:Sine.easeInOut,delay:-5});
    };

    function R(min,max) {return min+Math.random()*(max-min)};
  </script>
  {% endif %}
{% endblock %}
