{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'wiki/css/wiki_calendar3.css' %}">
{% endblock %}
{% block content %}
	<!-- Lingid teemalehtedele -->
  <div class="w3-margin-bottom">
    {% include 'wiki/algus/algus_head2.html' %}
  </div>

  <!-- Sisu algab siit -->
  <div class="w3-margin-bottom">
    {% now "d" as p2ev %}
    {% now "m" as kuu %}
    {% now "Y" as aasta %}
    <!-- Artiklite esitlus -->
	  <div class="w3-quarter">
      {% comment %} {% if j6ul2024 %}
      <div class="w3-container w3-center">
        {% include 'wiki/special/algus_message_j6ul2024_lights.html' %}
      </div>
      {% endif %} {% endcomment %}
      {# Teadete esitamiseks #}
      {% comment %} <div class="w3-container w3-hover-white w3-padding-16 w3-center">
        {% include 'wiki/special/algus_message_441.html' %}
      </div> {% endcomment %}
      <!--      Kalender -->
      <div class="card w3-hide-medium w3-padding-16 w3-hover-white w3-round">
        {% include 'wiki/includes/wiki_calendar3.html' %}
      </div>
      <!--      Lood -->
      <div class="card w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/algus/algus_artiklid.html' %}
      </div>
    </div>
    <!-- Isikute esitlus -->
    <div class="w3-quarter">
      <div class="card w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/algus/algus_isikud.html' %}
      </div>
    </div>
    <!-- Organisatsioonide esitlus -->
    <div class="w3-quarter">
      <div class="card w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/algus/algus_organisatsioonid.html' %}
      </div>
    </div>
    <div class="w3-quarter">
      {% if j6ul2024 %}
      <div class="w3-container w3-center">
        {% include 'wiki/special/algus_message_j6ul2024_lights.html' %}
      </div>
      {% endif %}
      <!-- Kaartide esitlus -->
      <div class="card w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/algus/algus_kaardid.html' %}
      </div>
      <!-- Objektide esitlus -->
      <div class="card w3-container w3-round w3-hover-white">
        {% include 'wiki/algus/algus_objektid.html' %}
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom w3-hide-small">
    {% include 'wiki/algus/algus_foot.html' %}
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'ilm/js/swiped-events.js' %}"></script>
  <script src="{% static 'wiki/js/wiki_calendar3.js'%}?ver=2024"></script>
  <script>
    var calendar_days_with_events_in_month_url = "{% url 'wiki:calendar_days_with_events_in_month' %}"
    var yearsWithEvents = {{ kalender.years_with_events }}
    var kroonikaUrl = "{% url 'wiki:artikkel_index_archive' %}"
    var userCalendarViewLast = '{{ request.session.user_calendar_view_last }}'
    var calendarSystem = '{{ request.session.calendar_system }}'
    var get_algus_extra_url = "{% url 'wiki:get_algus_extra' %}"

    $( document ).ready(function() {
      {# Kalendrividina käivitamine #}
      GWDateTimePicker.init({
        targetId: "date-container"
      })
      // toome kalendri nähtavale
      var x = document.getElementById("wiki_calendar");
      x.style.opacity = "1";
      // laadime extra Sisu
      $.ajax({
        url: get_algus_extra_url,
        type:'get',
        success: function(response) {
          // Setting content
          document.getElementById('extra_content_isikud').innerHTML = response['extra_content_isikud'];
          document.getElementById('extra_content_organisatsioonid').innerHTML = response['extra_content_organisatsioonid'];
          document.getElementById('extra_content_objektid').innerHTML = response['extra_content_objektid'];
        },
        error: function (XMLHttpRequest, textstatus, errorThrown) {
          console.log(errorThrown);
          document.getElementById('extra_content_isikud').innerHTML = ''
          document.getElementById('extra_content_organisatsioonid').innerHTML = ''
          document.getElementById('extra_content_objektid').innerHTML = ''
        },
        complete: function(XMLHttpRequest, textstatus) {
          getObjectData4tooltip(get_object_data4tooltip_url);
        }
      });
    });
  </script>
{% endblock %}
