{% extends "wiki/wiki_base.html" %}
{% load wiki_extras %}

{% block title %}{{ block.super }} - Kõik sissekanded {% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="w3-cell-row w3-container background-artikkel w3-text-white w3-padding-16">
  <div class="w3-container w3-cell w3-cell-middle">
     <i class="fa fa-comment w3-xlarge"> {% model_name_artikkel %} kronoloogilises järjestuses</i>
  </div>
</div>

<table class="table table-sm">
{% if object_list %}
	<!-- Lehekülgede nummerdamine -->
	{% include 'wiki/includes/pagination.html' with object_list=page_obj %}
	
  <!-- Loend kõigist artiklitest -->
	{% include 'wiki/includes/object_list.html' %}

{% endif %}
</table>
	
{% endblock %}