{% extends "wiki/wiki_base.html" %}
{% load wiki_extras %}
{% load widget_tweaks %}

{% block title %}
  {{ block.super }} - {% model_name_artikkel %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="w3-cell-row w3-container background-artikkel w3-text-white w3-padding-16">
  <div class="w3-cell w3-cell w3-cell-middle w3-mobile w3-large">
		<div class="w3-center">
			<a style="text-decoration: none;" href="{% url 'wiki:wiki_artikkel_filter' %}">
				<i class="fa fa-comment"></i>
			</a>
			<b> {% model_name_artikkel %} (valitud {{ object_list.paginator.count }})
				{% if object_list.paginator.num_pages > 1 %}
			 		lk {{ object_list.number }}/{{ object_list.paginator.num_pages }}
		 		{% endif %}
		 	</b>
		</div>
  </div>
  <form id="formOtsi" action="" method="get">
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
			{% render_field filter.form.hist_year class+="w3-input w3-border-0" placeholder=filter.form.hist_year.label %}
		</div>
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
			{% render_field filter.form.artikkel_sisaldab class+="w3-input w3-border-0" placeholder="Fraas(id) loos..." %}
		</div>
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
			{% render_field filter.form.nimi_sisaldab class+="w3-input w3-border-0" placeholder="Fraas isiku nimes..." %}
		</div>
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
			<div class="w3-center">
				<button
						class="w3-bar-item w3-button background-artikkel w3-text-white w3-hover-white"
						type="submit"
						title="Otsi valitud kriteeriumide järgi">
					<i class="fa fa-search"></i>
				</button>
				<button
						class="w3-bar-item w3-button background-artikkel w3-text-white w3-hover-white"
						type="button"
						title="Uus otsing"
						onclick="goFilter()">
					<i class="fa fa-close"></i>
				</button>
			</div>
		</div>
  </form>
</div>

{% if object_list %}
	<!-- Lehekülgede nummerdamine -->
	{% include 'wiki/includes/pagination.html' with model="artikkel" %}
	<!-- Loend filtriga valitud artiklitest -->
	{% include 'wiki/includes/object_list.html' %}
	{% include 'wiki/includes/pagination_next.html' with model="artikkel" %}
{% else %}
	<div class="w3-container w3-padding">
	  {% if filter.form.hist_year.value or filter.form.artikkel_sisaldab.value or filter.form.nimi_sisaldab.value %}
	    Otsinguga ei leitud sissekandeid, milles:
			<ul>
				{% if filter.form.hist_year.value %}
					<li>toimumisaasta on &#x0022;{{ filter.form.hist_year.value}}&#x0022;</li>
				{% endif %}
				{% if filter.form.artikkel_sisaldab.value %}
					<li>lugu sisaldab fraasi &#x0022;{{ filter.form.artikkel_sisaldab.value }}&#x0022;</li>
				{% endif %}
				{% if filter.form.nimi_sisaldab.value %}
					<li>mainitud isiku nimi sisaldab fraasi &#x0022;{{ filter.form.nimi_sisaldab.value }}&#x0022;</li>
				{% endif %}
			</ul>
	  {% else %}
	    Valikut pole tehtud
	  {% endif %}
	</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
	function goFilter() {
  	url = "{% url 'wiki:wiki_artikkel_filter' %}";
  	location.href=url
  }
</script>
{% endblock %}