{% extends "wiki/wiki_base.html" %}

{% block title %}
  {{ block.super }} - Kronoloogia
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="w3-cell-row w3-container background-artikkel w3-text-white w3-padding-16">
  <div class="w3-container w3-cell w3-cell-middle w3-mobile  w3-large">
     <i class="fa fa-comment"></i><b> Artiklid (valitud {{ kirjeid }})
	 {% if object_list.paginator.num_pages > 1 %}
	   lk {{ object_list.number }}/{{ object_list.paginator.num_pages }}
	 {% endif %}
	 </b>
  </div>
  <form id="formOtsi" action="" method="get">
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
		{% render_field filter.form.hist_year class+="w3-input w3-border-0" placeholder=filter.form.hist_year.label %}
		</div>
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
		{% render_field filter.form.body_text__icontains class+="w3-input w3-border-0" placeholder=filter.form.body_text__icontains.label %}
		</div>
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
		{% render_field filter.form.isikud__perenimi__icontains class+="w3-input w3-border-0" placeholder=filter.form.isikud__perenimi__icontains.label %}
		</div>
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
			<button class="w3-bar-item w3-button background-artikkel w3-text-white w3-hover-white" type="submit" title="Otsi valitud kriteeriumide järgi"><i class="fa fa-search"></i></button>
		<button class="w3-bar-item w3-button background-artikkel w3-text-white w3-hover-white" type="reset" title="Uus otsing" onclick="uusOtsing()"><i class="fa fa-close"></i></button>
		</div>
  </form>
</div>

{% if object_list %}
	<!-- Lehekülgede nummerdamine -->
	{% include 'wiki/includes/pagination.html' with teema="artikkel" %}
	<!-- Loend filtriga valitud artiklitest -->
	{% include 'wiki/includes/object_list.html' %}
{% else %}
	<div class="w3-container w3-padding">
	  {% if filter.form.hist_year.value or filter.form.perenimi__icontains.value or filter.form.eesnimi__icontains.value %}
	    Otsinguga artikleid, milles
		{% if filter.form.hist_year.value %}
		  toimumisaasta on &#x0022;{{ filter.form.hist_year.value}}&#x0022;
		{% endif %}
		{% if filter.form.body_text__icontains.value %}
		  sisutekst sisaldab fraasi &#x0022;{{ filter.form.body_text__icontains.value }}&#x0022;&nbsp;
		{% endif %}
		{% if filter.form.isikud__perenimi__icontains.value %}
		  mainitud isiku nimi sisaldab fraasi&#x0022;{{ filter.form.isikud__perenimi__icontains.value }}&#x0022;
		{% endif %}
		, ei leitud
	  {% else %}
	    Valikut pole tehtud
	  {% endif %}
	</div>
{% endif %}

<script>
function uusOtsing() {
	document.getElementById("formOtsi").reset();   
}
</script>
{% endblock %}