{% extends "wiki/wiki_base.html" %}
{% load wiki_extras %}

{% block title %}
  {{ block.super }} - {{ day|date:"d.m.Y" }}{% if day|vkj %} ({% if request.session.ukj == 'on' %}ukj{% else %}vkj{% endif %}){% endif %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="w3-cell-row w3-container background-artikkel w3-text-white w3-padding-16">
  <div class="w3-large">
    <a style="text-decoration: none;" href="{% url 'wiki:wiki_artikkel_filter' %}">
      <i class="fa fa-comment"></i>
    </a>
    <strong> {% model_name_artikkel %} {{ day|date:"j." }}
      {% include "wiki/includes/kuu.html" with kuu=day|date:"m" %} {{ day|date:"Y" }} {{ month|date:"Y" }}
      {% if day|vkj %}({% if request.session.ukj == 'on' %}ukj{% else %}vkj{% endif %}){% endif %}
      kohta</strong>
  </div>
</div>

<!-- Lingid ajaliselt eelnevatele või järgnevatele perioodidele -->
<div class="w3-cell-row w3-margin-top">
  <div class="w3-quarter">
    <a style="text-decoration: none;" href="{% url 'wiki:artikkel_month_archive' month=previous_month|date:'n' year=previous_month|date:'Y' %}">
	  <div class="w3-container background-artikkel w3-padding-16  w3-hover-white w3-center">
        <b><i class="fa fa-angle-double-left w3-large"></i>
        &nbsp;{% include "wiki/includes/kuu.html" with kuu=previous_month|date:"m" %} {{ previous_month|date:"Y" }}</b>
      </div>
	</a>
  </div>	
  <div class="w3-quarter">
    <a style="text-decoration: none;" href="{% url 'wiki:artikkel_day_archive' month=previous_day|date:'n' year=previous_day|date:'Y' day=previous_day|date:'d' %}">
	  <div class="w3-container background-artikkel w3-padding-16  w3-hover-white w3-center">
        <b><i class="fa fa-angle-left w3-large"></i>
        &nbsp;{{ previous_day|date:"d.m.Y" }}</b>
      </div>
	</a>
  </div>
  <div class="w3-quarter">
    <a style="text-decoration: none;" href="{% url 'wiki:artikkel_day_archive' month=next_day|date:'n' year=next_day|date:'Y' day=next_day|date:'d' %}">
	  <div class="w3-container background-artikkel w3-padding-16  w3-hover-white w3-center">
        <b>{{ next_day|date:"d.m.Y" }}
		&nbsp;<i class="fa fa-angle-right w3-large"></i></b>
      </div>
	</a>
  </div>
  <div class="w3-quarter">
    <a style="text-decoration: none;" href="{% url 'wiki:artikkel_month_archive' month=next_month|date:'n' year=next_month|date:'Y' %}">
	  <div class="w3-container background-artikkel w3-padding-16  w3-hover-white w3-center">
        <b>{% include "wiki/includes/kuu.html" with kuu=next_month|date:"m" %} {{ next_month|date:"Y" }}
        &nbsp;<i class="fa fa-angle-double-right w3-large"></i></b>
      </div>
	</a>
  </div>
</div>

<div class="w3-bar">
  <button
        class="w3-bar-item w3-button tablink background-artikkel"
        onclick="openLinks(event, 'artiklid')"
    >
    <i class="fa fa-comment"></i> {{ day|date:"d.m.Y" }} ({{ object_list.count }})
  </button>
  {% if sel_p2eval %}
    <button
        class="w3-bar-item w3-button tablink"
        onclick="openLinks(event, 'artiklid_teistel')"
    >
      <i class="fa fa-comment"></i> Teistel aastatel ({{ sel_p2eval.count }})
    </button>
  {% endif %}
  {% if syndinud_isikud %}
    <button
        class="w3-bar-item w3-button tablink"
        onclick="openLinks(event, 'isikud_syndinud')"
    >
      <i class="fa fa-address-card-o"></i> Sünnipäev ({{ syndinud_isikud.count }})
    </button>
  {% endif %}
  {% if surnud_isikud %}
    <button
        class="w3-bar-item w3-button tablink"
        onclick="openLinks(event, 'isikud_surnud')">
      <i class="fa fa-address-card-o"></i> Surmapäev ({{ surnud_isikud.count }})
    </button>
  {% endif %}
  {% if loodud_organisatsioonid %}
    <button
        class="w3-bar-item w3-button tablink"
        onclick="openLinks(event, 'organisatsioonid')">
      <i class="fa fa-group"></i> Asutati ({{ loodud_organisatsioonid.count }})
    </button>
  {% endif %}
  {% if valminud_objektid %}
    <button
        class="w3-bar-item w3-button tablink"
        onclick="openLinks(event, 'objektid')">
      <i class="fa fa-bank"></i> Valmis ({{ valminud_objektid.count }})
    </button>
  {% endif %}
</div>

<!-- Loend valitud kuupäeva artiklitest -->
<div
    id="artiklid"
    class="seotud">
  {% if object_list %}
    {% include 'wiki/includes/object_list.html' %}
  {% else %}
    <div class="w3-container w3-padding-16">

      <a class="w3-button w3-round background-artikkel tablink" href="{% url 'wiki:wiki_artikkel_filter' %}">
        <strong>{{ day|date:"d.m.Y" }}</strong> sissekandeid veel pole! Otsime midagi muud?
      </a>
    </div>
  {% endif %}
</div>
<!-- Loend valitud kuu ja päeva teiste aastate artiklitest -->
{% if sel_p2eval %}
  <div
      id="artiklid_teistel"
      class="seotud">
    <div class="w3-cell-row w3-container background-artikkel w3-text-white">
      <div class="w3-cell w3-cell-middle">
        <h5><i class="fa fa-comment w3-large"></i>&nbsp;{{ day|date:"j." }} {% include "wiki/includes/kuu.html" with kuu=day|date:"m" %} teistel aastatel:</h5>
      </div>
    </div>
    {% include 'wiki/includes/object_list.html' with object_list=sel_p2eval %}
  </div>
{% endif %}

<!-- Loend samal päeval sündinud isikutest -->
{% if syndinud_isikud %}
  <div
      id="isikud_syndinud"
      class="seotud w3-cell-row">
    {% with object_list=syndinud_isikud %}
      {% include 'wiki/includes/object_list_isikud.html' with periood=day pealkiri=syndinud_isikud_pealkiri bookmark='syndinud' %}
    {% endwith %}
  </div>
{% endif%}

<!-- Loend samal päeval surnud isikutest -->
{% if surnud_isikud %}
  <div
      id="isikud_surnud"
      class="seotud w3-cell-row">
    {% with object_list=surnud_isikud %}
      {% include 'wiki/includes/object_list_isikud.html' with periood=day pealkiri=surnud_isikud_pealkiri bookmark='surnud' %}
    {% endwith %}
  </div>
{% endif%}

<!-- Samal päeval loodud organisatsioonid -->
{% if loodud_organisatsioonid %}
  <div
      id="organisatsioonid"
      class="seotud w3-cell-row">
    {% with object_list=loodud_organisatsioonid %}
      {% include 'wiki/includes/object_list_organisatsioonid.html' with periood=day pealkiri=loodud_organisatsioonid_pealkiri %}
    {% endwith %}
  </div>
{% endif%}

<!-- Samal päeval valminud objektid -->
{% if valminud_objektid %}
  <div
      id="objektid"
      class="seotud w3-cell-row">
    {% with object_list=valminud_objektid %}
      {% include 'wiki/includes/object_list_objektid.html' with periood=year pealkiri=valminud_objektid_pealkiri %}
    {% endwith %}
  </div>
{% endif%}

{% endblock %}

{% block javascript %}
{% endblock %}
