{% extends "wiki/wiki_base.html" %}

{% block title %}{{ block.super }} - {{ artikkel.headline }}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}

{% include 'wiki/includes/messages.html' %}
<div class="w3-cell-row w3-container w3-padding-16">

	<!-- Kronoloogiliselt eelnev artikkel -->
  <div class="w3-container w3-cell w3-cell-middle">
		{% if prev_obj %}
			{% include 'wiki/includes/kp.html' with sd=prev_obj.hist_date ed=prev_obj.hist_enddate y=prev_obj.hist_year m=prev_obj.hist_month cs="dark" %}
			<br>
			<a class="hover-artikkel" href={% url 'wiki:wiki_artikkel_detail' pk=prev_obj.id %}>
				<i class="fa fa-angle-left"></i>&nbsp;{{ prev_obj.headline }}
			</a>
		{% endif %}
  </div>

  <!-- Kronoloogiliselt järgnev artikkel -->
  <div class="w3-container w3-right-align w3-cell w3-cell-middle">
		{% if next_obj %}
		{% include 'wiki/includes/kp.html' with sd=next_obj.hist_date ed=next_obj.hist_enddate y=next_obj.hist_year m=next_obj.hist_month cs="dark" %}
			<br>
		<a class="hover-artikkel" href={% url 'wiki:wiki_artikkel_detail' pk=next_obj.id %}>
			{{ next_obj.headline }}&nbsp;<i class="fa fa-angle-right"></i>
		</a>
		{% endif %}
  </div>
</div>

<div class="w3-panel w3-card-4 w3-light-grey" >
  <div class="w3-row w3-padding-16 w3-xlarge text-artikkel">
    <i class="fa fa-comment">	</i>
		{% include 'wiki/includes/kp.html' with sd=object.hist_date ed=object.hist_enddate y=object.hist_year m=object.hist_month cs="white" %}
  </div>
  <div class="w3-twothird w3-padding" >
    <!-- Artikkel -->
		<div>
      <div class="w3-third">
	    {% if profiilipilt %} <!-- Kui on määratud profiilipilt -->
			  <div class="w3-margin-right">
		  	  <img class="pilt-postkaart-medium" id="profiiliPilt" src="{{ profiilipilt.link }}"/>
	      	  <small><div class="w3-center" id="imgtext">{{ profiilipilt }}</div></small>
		  	</div>
			{% else %} <!-- Seotud piltide ankur -->
		  	<div class="w3-margin-right" style="display: none">
		    	<img id="profiiliPilt" src="" style="max-width:100%"/>
	        	<small><div class="w3-center" id="imgtext"></div></small>
		  	</div>
			{% endif %}
	  	</div>
			<div class="w3-twothird">
				<div>
						{{ object.body_text | safe | linebreaksbr }}
				</div>
				<div>
						{% include 'wiki/includes/seotud_viited.html' %}
				</div>
			</div>
    </div>
  </div>
	<div class="w3-third" >
		{% include 'wiki/includes/seotud_isikud.html' %}
		{% include 'wiki/includes/seotud_organisatsioonid.html' %}
		{% include 'wiki/includes/seotud_objektid.html' %}
		{% include 'wiki/includes/seotud_pildid.html' %}
	</div>
</div>
{% include 'wiki/includes/object_updated_edit.html' with model='artikkel' %}

{% endblock %}