{% extends "wiki/wiki_base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block title %}{{ block.super }} - {{ artikkel.headline }} - muutmine{% endblock %}
{% block src %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

<!--<script src="{% static 'wiki/js/admin/vendor/jquery/jquery.min.js' %}"></script>-->
<!--<script src="{% static 'wiki/js/admin/jquery.init.js' %}"></script>-->
<!--<script src="{% static 'wiki/js/admin/core.js' %}"></script>-->
<!--<script src="{% static 'wiki/js/admin/actions.js' %}"></script>-->
<!--<script src="{% static 'wiki/js/admin/SelectBox.js' %}"></script>-->
<!--<script src="{% static 'wiki/js/admin/SelectFilter2.js' %}"></script>-->

<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/admin/base.css' %}" >
<!--<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/admin/responsive.css' %}" >-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/admin/forms.css' %}" >-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/admin/changelists.css' %}" >-->
<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/admin/widgets.css' %}" >
{% endblock %}

{% block content %}
<div class="w3-container">
  <form method="post" class="uniForm">
    {% csrf_token %}
    {{ form|crispy }}
    <button href="{% url 'wiki:wiki_organisatsioon_detail' pk=object.pk  slug=object.slug %}" role="button">Loobu</button>
    <button class="btn btn-info btn-sm btn-block" type="submit" value="Update">Muuda</button>
    {% include 'wiki/includes/object_form_footer.html' %}
  </form>
  {{ form.media }}
</div>
{% endblock %}
