{% extends "wiki/wiki_base.html" %}

{% block title %}
  {{ block.super }} - {{ edasi }}?
{% endblock %}

{% block content %}
	<div class="w3-cell-row w3-container background-artikkel w3-text-white w3-padding-16">
		<form method="POST"
						action="{% url 'wiki:confirm_with_recaptcha' %}"
						id="confirmForm"
						novalidate>
				{% csrf_token %}
				{% if form.non_field_errors %}
						<div class="alert alert-danger">
								{{ form.non_field_errors }}
						</div>
				{% endif %}
				<input id="edasi" type="hidden" name="edasi" maxlength="100" value="{{ edasi }}">
				{% if form.recaptcha.errors %}
						<div class="alert alert-danger">
								{{ form.recaptcha.errors }}
						</div>
				{% endif %}

				Palun kinnita, et päringu {{ edasi }} tegi inimene:

				<div class="d-none">
						{{ form.recaptcha }}
				</div>
				<button type="submit" class="btn btn-primary">Jah</button>
		</form>
	</div>
{% endblock %}