{% extends "wiki/wiki_base.html" %}

{% block title %}
  {{ block.super }} - {{ edasi }}?
{% endblock %}

{% block content %}
	<div class="w3-cell-row w3-container w3-padding-16">
		<form method="POST"
						action="{% url 'wiki:confirm_with_recaptcha' %}"
						id="confirmForm"
						novalidate
		>
			{% csrf_token %}
			{% if form.non_field_errors %}
				<div class="alert alert-danger">
					{{ form.non_field_errors }}
				</div>
			{% endif %}
			<input id="edasi" type="hidden" name="edasi" maxlength="100" value="{{ edasi }}">
			<input type="hidden" value="" name="g-recaptcha-response" class="g-recaptcha-response" />
			{% comment %} {% if form.recaptcha.errors %}
				<div class="alert alert-danger">
					{{ form.recaptcha.errors }}
				</div>
			{% endif %} {% endcomment %}

			Ole hea ja kinnita, et päringu {{ edasi }} tegid Sina:
			{% comment %} <div class="d-none">
					{{ form.recaptcha }}
			</div> {% endcomment %}
			<button type="submit" class="btn btn-primary">Jah</button>
			<p><small>Suur tänu, et aitad agressiivsete veebirobotite vastu võidelda!</small></p>
		</form>
	</div>
{% endblock %}