{% extends "wiki/base.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Valga kroonika</li>
{% endblock %}

{% block content %}
{% load staticfiles %}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Idee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Andmebaasid</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Tarkvara</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
	<div class="row align-items-start">
	<div class="col-5">
	<p>Valga linna süstematiseeritud ja veel süstematiseerimata kroonika 
		seotuna isikute, organisatsioonide ja objektidega. 
		Andmebaasis on {{ a.id__count }} artiklit {{ a.hist_searchdate__min|date:"d.m.Y" }}
	kuni {{ a.hist_searchdate__max|date:"d.m.Y" }}.</p>
	<p>Otsimiseks:</p>
	<p><form method="get" action="{% url 'wiki:mine_krono_kp' %}">
		Vali kuupäev:
		<input type="date" name="kuup2ev" value="1900-01-01">
		<input type="submit" value='Vaata'>
	</form></p>
	<p>või kasuta vasakul loetelus olevaid temaatilisi otsinguid või otseteed wiki/krono/aasta/kuu/päev, 
		näiteks <i>wiki/krono/1971/03/15</i>.</p>
	<p>Kõrvalolevatele kaardipiltidele klikkides avaneb suurem kaardipilt.</p>
	
	</div>
	<div class="col-7">
	<p><small class="form-text text-muted">Valga linna plaanid</small></p>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
	  </ol>
	  <div class="carousel-inner">
		<div class="carousel-item active">
		  <a href="{% static 'wiki/img/1682.jpg' %}" target="_blank">
		  <img class="d-block w-100" src="{% static 'wiki/img/1682_cr.jpg' %}" alt="1682">
		  </a>
		  <div class="carousel-caption d-none d-md-block">
			<h3>1682</h3>
		  </div>
		</div>
		<div class="carousel-item">
		  <a href="{% static 'wiki/img/1795.jpg' %}" target="_blank">
		  <img class="d-block w-100" src="{% static 'wiki/img/1795_cr.jpg' %}" alt="1795">
		  </a>
		  <div class="carousel-caption d-none d-md-block">
			<h3>1795</h3>
		  </div>
		</div>
		<div class="carousel-item">
		  <a href="{% static 'wiki/img/1870.jpg' %}" target="_blank">
		  <img class="d-block w-100" src="{% static 'wiki/img/1870_cr.jpg' %}" alt="1870">
		  </a>
		  <div class="carousel-caption d-none d-md-block">
			<h3>1870</h3>
		  </div>
		</div>
		<div class="carousel-item">
		  <a href="{% static 'wiki/img/1905.jpg' %}" target="_blank">
		  <img class="d-block w-100" src="{% static 'wiki/img/1905_cr.jpg' %}" alt="1905">
		  </a>
		  <div class="carousel-caption d-none d-md-block">
			<h3>1905</h3>
		  </div>
		</div>
		<div class="carousel-item">
		  <a href="{% static 'wiki/img/1932.jpg' %}" target="_blank">
		  <img class="d-block w-100" src="{% static 'wiki/img/1932_cr.jpg' %}" alt="1932">
		  </a>
		  <div class="carousel-caption d-none d-md-block">
			<h3>1932</h3>
		  </div>
		</div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Järgmine</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Eelmine</span>
	  </a>
	</div>
	</div>
	</div>
	
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
	Andmebaasid:
	{% for a in andmebaasid%}
	   <br>{{a}}
	{% endfor %}
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
	Abiks:
	<ul>
	<li><a href="https://www.python.org/">Python 3.7</a></li>
	<li><a href="https://www.djangoproject.com/">Django 2.1</a></li>
	<li><a href="https://sqlite.org/index.html">SQLite</a></li>
	</ul>
	Lisaks:
	<ul>
	<li><a href="https://getbootstrap.com/">Bootsrap</a></li>
	<li><a href="https://github.com/carltongibson/django-filter">django-filter</a></li>
	<li><a href="https://github.com/jazzband/django-widget-tweaks">django-widget-tweaks</a></li>
	</ul>
  </div>
</div>

<!-- <div>
Artikkel:
{% for key, value in artikkel_fields.items %}
	<br>{{ key }} {{ value }}
{% endfor %}
</div>
 -->
{% endblock %}