{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block title %}{{ block.super }} info{% endblock %}

{% block src %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

(% block css %}(% endblock %}

{% block content %}
  <br class="w3-container">
    <div class="w3-row">
      <div class="w3-quarter">
        <div class="w3-panel w3-center">
          <img
                  src="{% static 'wiki/img/valgalinn_ee_logo.png' %}"
                  style='max-height:250px;'
                  alt="valgalinn.ee logo"
          >
        </div>
        <div class="link-copy-tooltip-container">
          <div class="link-copy-tooltip">
            <a
                    onclick="getLinkCopy(this)"
                    onmouseout="outLinkCopy()"
                    data-uri="{{ request.scheme }}://{{ request.site }}{% static 'wiki/img/valgalinn_ee_logo.png' %}"
            >
              <span
                      class="link-copy-tooltiptext"
                      id="linkCopyTooltip">
                kopeeri link
              </span>
              <i class="fa fa-clone"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="w3-threequarter">
        <p>
          Valga linna kroonika seotuna isikute, organisatsioonide ja objektidega on kasutamiseks informatsioonilistel ja hariduslikel eesmärkidel. Kogutud ja esitatud materjalid võivad olla ebatäpsed, mistõttu nende kasutamine on iga kasutaja enda riskil.
        </p>
        <p>
          Viidatud materjalid võivad olla nende autorite omand ja nende kasutamisel tuleb viidata algallikale.
        </p>
        <p>
          Kirjaviis ja kohanimed on algallikast. Mõnel juhul on selguse huvides tänapäevane termin või nimi lisatud.
          Kuupäevade puhul on kasutatud sel hetkel kehtinud kalendrit.
          <ul>
            <li>
              Ülevaade kalendrite kasutamisest ajaloos on
              <a target="blank" href="https://en.wikipedia.org/wiki/List_of_adoption_dates_of_the_Gregorian_calendar_per_country">siin</a>
            </li>
            <li>
              Kalendriarvutaja on
              <a target="blank" href="https://stevemorse.org/jcal/julian.html">siin</a>
            </li>
          </ul>
        </p>
        <p style="clear: left;">
          Parandatud on ilmsed vead. Vastukäivate andmete puhul on järjekord:
          <br>
          Arhiivimaterjalid -> Teatmeteosed -> Uurimused -> Ajakirjandus -> Vikipeedia -> muud andmeallikad
        </p>
      </div>
    </div>
    <hr>
    {% if andmed.id__count > 0 %}
      <p>
        Andmebaasis on {{ andmed.id__count }} lugu aastatest {{ andmed.hist_year__min }} kuni {{ andmed.hist_year__max }}.
      </p>
      <!--    Artiklite heatmap kuude kaupa-->
      <div
              id="container_artikkel_heatmap"
              class="w3-row-padding"
              style="height: 300px; min-width: 310px; max-width: 1000px; margin: 0 auto"
      ></div>
      {% if user.is_authenticated %}
        <div
                id="container_aws_monitor"
                class="w3-row-padding"
                style="height: 300px; min-width: 310px; max-width: 1000px; margin: 0 auto"
        ></div>
      {% endif %}
    {% endif %}
    <hr>
    <p>
      Otsimiseks kasuta temaatilisi otsinguid:
      <ul>
        <li>
          <a
            href="{% url 'wiki:wiki_artikkel_filter' %}"
            class="text-artikkel"
          >
            {% model_name_artikkel %}
          </a>
        </li>
        <li>
          <a
            href="{% url 'wiki:wiki_isik_filter' %}"
            class="text-isik"
          >
            {% model_name_isik %}
          </a>
        </li>
        <li>
          <a
            href="{% url 'wiki:wiki_organisatsioon_filter' %}"
            class="text-organisatsioon"
          >
            {% model_name_organisatsioon %}
          </a>
        </li>
        <li>
          <a
            href="{% url 'wiki:wiki_objekt_filter' %}"
            class="text-objekt"
          >
            {% model_name_objekt %}
          </a>
        </li>
      </ul>
    </p>
    <div>
      <form
          id="yearmonthform"
          method="post"
          action="{% url 'wiki:mine_krono_kuu' %}"
      >
        {% csrf_token %}
        <input type="hidden" value="" name="g-recaptcha-response" class="g-recaptcha-response" >
        <input
            type="submit"
            value="... vali kuu:"
        />
        <select
            id="yearinput"
            name="year"
            onchange="getMonthArticles()">
          {% for year in a.artikleid_aasta_kaupa %}
            <option value="{{ year.hist_year }}" >
              {{ year.hist_year }} ({{ year.hist_year__count }})
            </option>
          {% endfor %}
        </select>
        <select
            id="monthinput"
            name="month"
        >
        </select>

      </form>
    </div>
    <div>
      <form
          id="form"
          method="post"
          action="{% url 'wiki:mine_krono_kp' %}"
      >
        {% csrf_token %}
        <input
            type="hidden"
            value=""
            name="g-recaptcha-response"
            class="g-recaptcha-response"
        >
        <input type="submit" value="... või päev:">
        <input type="date" name="kuup2ev" value="1902-02-24">
      </form>
    </div>

    <p>
      ...või otseteed https://valgalinn/wiki/kroonika/aasta/kuu/päev,
      näiteks <i>https://valgalinn/wiki/kroonika/1902/02/24</i>.
    </p>
    <div>
      Andmebaasid:
      <ul>
        {% for a in andmebaasid %}
          <li>{{a}}
        {% endfor %}
      </ul>
    </div>
    Andmebaasi- ja veebilahenduse tegi {% kalev %}.<br>

    Abiks:
    <ul class="w3-ul">
      <li>
        <a href="https://www.jetbrains.com/pycharm/">
          <img
                  src="https://resources.jetbrains.com/storage/products/company/brand/logos/jb_beam.png"
                  alt="JetBrains Logo (Main) logo."
                  height="80px" width="auto"
          >
          JetBrains PyCharm
        </a>
      </li>
      <li>
        <a href="https://www.python.org/">
          <img
                  src="https://www.python.org/static/community_logos/python-powered-w-200x80.png"
                  alt="Python Logo."
{#                  height="80px" width="auto"#}
          >
        </a>
      </li>
      <li>
        <a href="https://www.djangoproject.com/">
          <img
                  src="https://static.djangoproject.com/img/logos/django-logo-negative.png"
                  alt="Django Logo."
                  height="80px" width="auto"
          >
        </a>
      </li>
      <li>
        <a href="https://www.postgresql.org/">
          <img
                  src="https://www.postgresql.org/media/img/about/press/elephant.png"
                  alt="PostgreSQL Logo."
                  height="80px" width="auto"
          >
          PostgreSQL
        </a>
      </li>
      <li>
        <a href="https://vuejs.org/">
          <img
                  src="https://avatars.githubusercontent.com/u/6128107?s=200&v=4"
                  alt="VueJS Logo."
                  height="80px" width="auto"
          >
          Vue.js
        </a>
      </li>
      <li>
        <a href="https://www.nginx.com/">
          <img
                  src="https://www.nginx.com/wp-content/uploads/2018/08/NGINX-logo-rgb-large.png"
                  alt="Nginx Logo."
                  height="80px" width="auto"
          >
        </a>
      </li>
      <li>
        <a href="https://github.com/django/daphne">
          <img
                  src="https://opengraph.githubassets.com/8560f619b7870113497d3f7aeb048aa19f2f842e2d7e0f00da0ddb9a49b8e32b/django/daphne"
                  alt="Daphne Logo."
                  height="80px" width="auto"
          >
        </a>
      </li>
      <li>
        <a href="https://www.w3schools.com/">
          <img
                  src="https://cdn.shopify.com/s/files/1/0274/1783/7625/files/W3Schools_Logo_RGB_480x450.png"
                  alt="W3Schools Logo."
                  height="80px" width="auto"
          >
          W3Schools
        </a>
      </li>
    </ul>
    {% if user.is_authenticated %}
      Python {{ python }}<br>
      Lisaks:
      {% for key, item in env.items|dictsort:0 %}
        <br><small>{{ key }}: {{ item }}</small>
      {% endfor %}
      <div>
        <div>
          Revision: {{ revision_data.kroonika }}:
          {% for obj in revision_data.revised %}
            &nbsp;<a class="hover-artikkel" href="{% url 'wiki:wiki_artikkel_detail' pk=obj.pk slug=obj.slug %}">
              {{ obj.pk }}
            </a>
          {% endfor %}
        </div>
        {% if revision_data.viiteta %}
          <div>
            Viiteta:
            {% for obj in revision_data.viiteta %}
              &nbsp;<a class="hover-artikkel" href="{% url 'wiki:wiki_artikkel_detail' pk=obj.pk slug=obj.slug %}">
                {{ obj.pk }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div>
        session:<br>
        {% for item, value in session_data.items %}
          <small>{{ item }}: {{ value }}</small><br>
        {% endfor %}
      </div>
      <div>
        cookies:<br>
        {% for item, value in cookies.items %}
          <small>{{ item }}: {{ value }}</small><br>
        {% endfor %}
      </div>
      <div>
        loading:<br>
        {% for item, value in time_log.items %}
          <small>{{ item }}: {{ value|duration }} </small>
        {% endfor %}
      </div>
      <div>
        {% for item, value in model_verbose_examples.items %}
          <small>{{ item }}: {{ value }}</small><br>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block javascript %}
  <script>
    let artikleidKuudeKaupa = {{ artikleid_kuus }};
  </script>
  <script src="{% static 'wiki/js/wiki_calendar.js'%}"></script>

  <script>
    // Default font change
    Highcharts.setOptions({
      chart: {
          style: {
              fontFamily: 'Raleway'
          }
      }
     });

    // Artiklite heatmap aastate ja kuude kaupa
    Highcharts.chart('container_artikkel_heatmap', {
       chart: {
            type: 'heatmap',
            margin: [60, 10, 80, 50]
        },

        title: {
            text: 'Artikleid andmebaasis (n={{ andmed.id__count }})',
            align: 'left',
            x: 40
        },

        subtitle: {
            text: 'Aastatel {{ andmed.hist_year__min }}-{{ andmed.hist_year__max }} kuude kaupa',
            align: 'left',
            x: 40
        },

        xAxis: {
            title: {
                text: 'aastad'
            },
            min: {{ andmed.hist_year__min }},
            max: {{ andmed.hist_year__max }},
            labels: {
                align: 'left',
                x: 5,
                y: 14
            },
            showLastLabel: false,
            tickLength: 16
        },

        yAxis: {
            title: {
                text: 'kuud'
            },
            labels: {
                format: '{value}'
            },
            minPadding: 0,
            maxPadding: 0,
            startOnTick: false,
            endOnTick: false,
            tickPositions: [3, 6, 9, 12],
            tickWidth: 1,
            min: 0,
            max: 12,
            reversed: false
        },

        colorAxis: {
            min: 1,
            max: {{ artikleid_kuus_max }},
            minColor: '#00FF00',
            maxColor: '#006600',
            startOnTick: false,
            endOnTick: false,
            labels: {
                format: '{value}'
            }
        },

        series: [{
            borderWidth: 0,
            data: {{ artikleid_kuus }},
            // nullColor: '#EFEFEF',
            // colsize: 24 * 36e5, // one day
            tooltip: {
              headerFormat: 'Lugusid:<br/>',
              // pointFormat: '{point.x} {kuunimi(point.y)}: <b>{point.value}</b>',
              pointFormatter: function () {
                return getEstonianMonthName(this.y) + ' ' + this.x + ': <b>' + this.value + '</b>';
              }
            },
            // turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
        }]

    });

    // AWS ja logide töötlused
    Highcharts.chart('container_aws_monitor', {
      chart: {
          type: 'spline'
      },

      title: {
          text: 'Live Data (Rows JSON)'
      },

      subtitle: {
          text: 'Data input from a remote JSON file'
      },

      legend: {
          enabled: false
      },

      yAxis: {
          title: null
      },

      data: {
          rowsURL: 'https://valgalinn.ee/api/user/monitor/?format=json',
          firstRowAsNames: false,
          enablePolling: true,
          name: 'Random Sample Data'
      }
  });

  </script>
{% endblock %}