{% extends "wiki/wiki_base.html" %}
{% load wiki_extras %}
{% load widget_tweaks %}

{% block title %}
  {{ block.super }} - Isikud
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="w3-cell-row w3-container background-isik w3-text-white w3-padding-16">
  <div class="w3-cell w3-cell-middle w3-mobile w3-large">
		<div class="w3-center">
			<a style="text-decoration: none;" href="{% url 'wiki:wiki_isik_filter' %}">
				<i class="fa fa-address-card-o"></i>
			</a>
	<!--		<i class="fa fa-address-card-o"></i>-->
			<b> Isikud (valitud {{ object_list.paginator.count }})
				{% if object_list.paginator.num_pages > 1 %}
				 lk {{ object_list.number }}/{{ object_list.paginator.num_pages }}
				{% endif %}
		  </b>
		</div>
  </div>
  <form id="formOtsi" action="" method="get">
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
			{% render_field filter.form.eesnimi__icontains class+="w3-input w3-border-0" placeholder=filter.form.eesnimi__icontains.label %}
		</div>
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
			{% render_field filter.form.perenimi__icontains class+="w3-input w3-border-0" placeholder=filter.form.perenimi__icontains.label %}
		</div>
		<div class="w3-container w3-cell w3-cell-middle w3-mobile">
			<div class="w3-center">
				<button
						class="w3-bar-item w3-button background-isik w3-text-white w3-hover-white"
						type="submit"
						value="Otsi">
					<i class="fa fa-search"></i>
				</button>
				<button
						class="w3-bar-item w3-button background-isik w3-text-white w3-hover-white"
						type="button"
						title="Uus otsing"
						onclick="goFilter()">
					<i class="fa fa-close"></i>
				</button>
			</div>
		</div>
  </form>
</div>

{% if object_list %}
  {% include 'wiki/includes/pagination.html' with model="isik" %}
  {% include 'wiki/includes/object_list_isikud.html'%}
	{% include 'wiki/includes/pagination_next.html' with model="isik" %}
{% else %}
  <div class="w3-container w3-padding">
	  {% if filter.form.perenimi__icontains.value or filter.form.eesnimi__icontains.value %}
	    Otsinguga (isiku 
		{% if filter.form.perenimi__icontains.value %}
		  perenimi sisaldab fraasi &#x0022;{{filter.form.perenimi__icontains.value }}&#x0022;&nbsp;
		{% endif %}
		{% if filter.form.eesnimi__icontains.value %}
		  eesnimi sisaldab fraasi&#x0022;{{filter.form.eesnimi__icontains.value }}&#x0022;&nbsp;
		{% endif %}
		) ei leitud midagi
	  {% else %}
	    Valikut pole tehtud
	  {% endif %}
	</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
	function goFilter() {
  	url = "{% url 'wiki:wiki_isik_filter' %}";
  	location.href=url
  }
</script>
{% endblock %}