{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block content %}
  <div class="w3-panel w3-card-4 w3-light-grey w3-round">
    <!-- Sisukaardi päis-->
    <div class="w3-row text-isik" >
      <h4>
        <a style="text-decoration: none;" href="{% url 'wiki:wiki_isik_filter' %}">
          <i class="{% icon_isik %}"></i>
        </a>
        {% include 'wiki/includes/object_detail_nimi.html' %}
      </h4>
      <h5>

        {% if object.hist_date or object.hist_year or object.synd_koht %}
          <i class="fa fa-asterisk"></i>
          {% if object.hist_date %}
            <strong>{% include 'wiki/includes/kp.html' with sd=object.dob cs='isik' %}</strong>
            {% include 'wiki/includes/date_vkjukj.html' with d=object.hist_date cs='isik' %}
          {% elif object.hist_year %}
            <strong>{% include 'wiki/includes/kp.html' with y=object.hist_year cs="isik" %}</strong>
          {% endif %}
          {% if object.synd_koht %}
            {{ object.synd_koht }}
          {% endif %}
        {% endif %}

        {% if object.hist_enddate or object.hist_endyear or object.surm_koht %}
          <br>&#9840;
          {% if object.hist_enddate %}
            <strong>{% include 'wiki/includes/kp.html' with sd=object.doe cs="isik" %}</strong>
            {% include 'wiki/includes/date_vkjukj.html' with d=object.hist_enddate cs='isik' %}
          {% elif object.hist_endyear %}
            <strong>{% include 'wiki/includes/kp.html' with y=object.hist_endyear cs="isik" %}</strong>
          {% endif %}
          {% if object.surm_koht %}{{ object.surm_koht }}{% endif %}
        {% endif %}
        {% if object.maetud %}&nbsp;maetud: <strong>{{ object.maetud }}</strong>{% endif %}
      </h5>
      {% include 'wiki/includes/object_detail_eellased_j2rglane.html' with qs=eellased.qs label=eellased.label %}
      {% include 'wiki/includes/object_detail_eellased_j2rglane.html' with qs=j2rglane.qs label=j2rglane.label %}
    </div>

    <!-- Sisukaardi kirjeldav osa-->
    <div class="w3-twothird" >
      <div class="w3-row">
        <div class="w3-third">
          {% include 'wiki/includes/object_detail_pilt2.html' with cls='pilt-portree-medium' %}
        </div>
        <!-- Sisukaardi tekstiosa-->
        <div class="w3-twothird">
          {% include 'wiki/includes/vigane.html' %}
          <div class="w3-margin-right">
            {{ object.formatted_markdown | safe }}
          </div>
          {% include 'wiki/includes/seotud_special_links.html' %}
          {% include 'wiki/includes/object_detail_mainitud_aastatel.html' %}
          <div class="w3-row w3-padding-16">
            {% include 'wiki/includes/object_fbshare.html' %}
            {% include 'wiki/includes/object_updated_edit.html' with model='isik' %}
          </div>
        </div>
      </div>
      <div class="w3-row">
        <!-- Seotud objectide andmed -->
      {% include 'wiki/includes/seotud_objects.html' %}
      </div>
    </div>
    <!--  Sisukaardi otseseosed-->
    <div class="w3-third"  style="padding-bottom: 16px">
      {% include 'wiki/includes/seotud_objects_related_direct.html' with objectid=seotud_isikud %}
      {% include 'wiki/includes/seotud_objects_related_direct.html' with objectid=seotud_organisatsioonid %}
      {% include 'wiki/includes/seotud_objects_related_direct.html' with objectid=seotud_objektid %}
      {% include 'wiki/includes/seotud_pildid2.html' %}
    </div>
  </div>
{% endblock %}