{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block content %}
  <div class="w3-panel w3-card-4 w3-light-grey" >
    <!-- Sisukaardi päis-->
    <div class="w3-row text-objekt" >
      <h4>
        <a style="text-decoration: none;" href="{% url 'wiki:wiki_kaardiobjekt_filter' %}">
          <i class="fa fa-bank"></i>
        </a>
        {{ object }}
        {% if object.objekt %} ->
          <a style="text-decoration: none;" href="{% url 'wiki:wiki_objekt_detail' pk=object.objekt.pk slug=object.objekt.slug  %}">
            <strong>{{ object.objekt }}</strong>
          </a>
        {% endif %}
      </h4>
      <h5>Kaart: {{ object.kaart }}</h5><br />
    </div>

    <!-- Sisukaardi kirjeldav osa-->
    <div class="w3-twothird">
      <div class="w3-third">
        <!-- Sisukaardi kaardiosa-->
        <div class="w3-margin-right w3-center w3-padding-16">
          <div
                  class="kaardiobjekt"
                  id="get_kaardiobjekt_leaflet_{{ object.id }}"
                  data-url="{% url 'wiki:get_kaardiobjekt_leaflet' object.id %}"
          ></div>
        </div>
      </div>
      <!-- Sisukaardi andmete osa-->
      <div class="w3-twothird">
        Koordinaadid (CRS: EPSG:3301):<br />
        <ol>
          {% for part in object.geometry.coordinates %}
            <li>{{ part }}</li>
          {% endfor %}
        </ol>
      </div>
      <!-- Andmete lisamise/muutmise andmed: -->
      {% include 'wiki/includes/object_updated_edit.html' with model='kaardiobjekt' %}
    </div>

    <!--  Sisukaardi otseseosed-->
    <div class="w3-third" >
      {#      tühi#}
    </div>
  </div>

  {% if kaardiobjekt_match %}
    <div>
      <div class="w3-twothird">
        <h5>Kattuvad kaardiobjektid</h5>
        {% for match in kaardiobjekt_match %}
            <div
                    {% if object.objekt %}
                      id="kaardiobjekt-{{ match.kaardiobjekt.id }}"
                      data-url="{% url 'wiki:join_kaardiobjekt_with_objekt' kaardiobjekt_id=match.kaardiobjekt.id objekt_id=object.objekt.id %}"
                    {% endif %}
            >
              <a
                      style="text-decoration: none;"
                      class="hover-kaardiobjekt"
                      href="{% url 'wiki:wiki_kaardiobjekt_detail' pk=match.kaardiobjekt.pk %}"
              >
                <strong>{{ match.kaardiobjekt }}</strong>
              </a> {{ match.kattuvus }}
              {% if match.kaardiobjekt.objekt %}
                ->
                <a
                        style="text-decoration: none;"
                        class="hover-objekt"
                        href="{% url 'wiki:wiki_objekt_detail' pk=match.kaardiobjekt.objekt.pk slug=match.kaardiobjekt.objekt.slug  %}"
                >
                  <strong>{{ match.kaardiobjekt.objekt }}</strong>
                </a>
              {% else %}
                {% if object.objekt and user.is_authenticated and user.is_staff %}
                  <button
                          class="w3-button"
{#                      href="javascript:joinKaardiobjektWithObjekt({{ match.kaardiobjekt.id }})"#}
                          onclick="joinKaardiobjektWithObjekt({{ match.kaardiobjekt.id }})"
                  >
                    Seo objektiga {{ object.objekt }}
                  </button>
                {% endif %}
              {% endif %}
            </div>
            <div class="w3-container">
              <div class="w3-third">
                <!-- Kattuva kaardiobjekt kaardiosa-->
                <div class="w3-margin-right w3-center w3-padding-16">
                  <div
                          class="kaardiobjekt"
                          id="get_kaardiobjekt_leaflet_{{ match.kaardiobjekt.id }}"
                          data-url="{% url 'wiki:get_kaardiobjekt_leaflet' match.kaardiobjekt.id %}"
                  ></div>
                </div>
              </div>
              <div class="w3-twothird">
                {{ match.kaardiobjekt.geometry }}
              </div>

            </div>
        {% endfor %}
      </div>
      <div class="w3-third">
        {#      tühi#}
      </div>
    </div>
  {% endif %}

  <script>
    function joinKaardiobjektWithObjekt(kaardiobjekt_id) {
      $.ajax({
        url: $("#kaardiobjekt-"+kaardiobjekt_id).attr("data-url"),
        dataType: 'text',
        timeout: 300000,
        beforeSend: function() {
          // $("#loaderDiv7").show();
        },
      success: function (data) {
        if (data) {
            document.getElementById("kaardiobjekt-"+kaardiobjekt_id).innerHTML = data;
          }
        },
        error: function (XMLHttpRequest, textstatus, errorThrown) {
          console.log(textstatus);
        },
      complete: function () {
        // $("#loaderDiv7").hide();
      }
      });
    }

    function get_kaardiobjekt_leaflet(id) {
      // Küsime andmed ja näitame kaarti
      $.ajax({
        url: $("#"+id).attr("data-url"),
        dataType: 'text',
        timeout: 300000,
        beforeSend: function() {
          // $("#loaderDiv7").show();
        },
      success: function (data) {
        if (data) {
            document.getElementById(id).innerHTML = data;
          }
        },
        error: function (XMLHttpRequest, textstatus, errorThrown) {
          console.log(textstatus);
        },
      complete: function () {
        // $("#loaderDiv7").hide();
      }
      });
    }

    $(document).ready(function() {
      kaardiobjektid = document.getElementsByClassName("kaardiobjekt");
      var i;
      for (i = 0; i < kaardiobjektid.length; i++) {
        get_kaardiobjekt_leaflet(kaardiobjektid[i].id);
      }
    });
  </script>
{% endblock %}