{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block css %}
  <style>
    .folium-map-big {
        position:relative;
        width:100%;
        height:0;
        padding-bottom:50%;
    }

    @media (max-aspect-ratio: 2/1) {
      .folium-map-big {
          position:relative;
          width:100%;
          height:0;
          padding-bottom:35%;
      }
    }

    @media (max-aspect-ratio: 4/3) {
      .folium-map-big {
          position:relative;
          width:100%;
          height:0;
          padding-bottom:50%;
      }
    }

    @media (max-aspect-ratio: 1/1) {
      .folium-map-big {
          position:relative;
          width:100%;
          height:0;
          padding-bottom:100%;
      }
    }

    @media (max-aspect-ratio: 2/3) {
      .folium-map-big {
          position:relative;
          width:100%;
          height:0;
          padding-bottom:120%;
      }
    }

  </style>
{% endblock %}

{% block title %}{{ block.super }} ajaloolised kaardid{% endblock %}

{% block content %}
  <div class="w3-container">
    {{ kaart|safe }}
  </div>
{% endblock %}
