{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block content %}
  <div class="w3-panel w3-card-4 w3-light-grey">
    <!-- Sisukaardi päis-->
    <div class="w3-row text-objekt" >
      <h4>
        <a style="text-decoration: none;" href="{% url 'wiki:wiki_objekt_filter' %}">
          <i class="fa fa-bank"></i>
        </a>
        {% include 'wiki/includes/object_detail_nimi.html' %}
      </h4>
      {% if object.asukoht %}
        <h5>
          <span style="font-weight: normal;">Varasemad aadressi- või nimekujud:</span> {{ object.asukoht }}
        </h5>
      {% endif %}
      {% if object.gone or object.hist_enddate or object.hist_endyear %}
        kaasajal pole olemas või on nime muudetud
      {% endif %}
      <h5>
        {% if object.hist_date %}
          <strong>{{ object.hist_date }}</strong>
          {% if object.hist_date|vkj %}ukj: {{ object.hist_date|ukj }}{% endif %}
        {% elif object.hist_year %}
          <strong>{{ object.hist_year }}</strong>
        {% endif %}
        {% if object.hist_enddate %}
          <strong> - {{ object.hist_enddate }}</strong>
          {% if object.hist_enddate|vkj %}ukj: {{ object.hist_enddate|ukj }}{% endif %}
        {% elif object.hist_endyear %}
          <strong> - {{ object.hist_endyear }}</strong>
        {% endif %}
      </h5>
      {% include 'wiki/includes/object_detail_eellased_j2rglane.html' with qs=eellased.qs label=eellased.label %}
      {% include 'wiki/includes/object_detail_eellased_j2rglane.html' with qs=j2rglane.qs label=j2rglane.label %}
    </div>

    <!-- Sisukaardi kirjeldav osa-->
    <div class="w3-twothird">
      <div class="w3-row">
        <div class="w3-third">
          {% include 'wiki/includes/object_detail_pilt2.html' with cls='pilt-postkaart-medium' %}
          {% include 'wiki/includes/object_detail_map.html' %}
        </div>
        <!-- Sisukaardi tekstiosa-->
        <div class="w3-twothird">
          {% include 'wiki/includes/vigane.html' %}
          <div class="w3-margin-right">
            {{ object.formatted_markdown | safe }}
          </div>
          {% include 'wiki/includes/seotud_special_links.html' %}
          {% include 'wiki/includes/object_detail_mainitud_aastatel.html' %}
          <div class="w3-row">
            {% include 'wiki/includes/object_fbshare.html' %}
            {% include 'wiki/includes/object_updated_edit.html' with model='objekt' %}
          </div>
        </div>
      </div>
      <div class="w3-row">
        <!-- Seotud objectide andmed -->
        {% include 'wiki/includes/seotud_objects.html' %}
      </div>
    </div>
    <!--  Sisukaardi otseseosed-->
    <div class="w3-third" >
      {% include 'wiki/includes/seotud_isikud.html' %}
      {% include 'wiki/includes/seotud_organisatsioonid.html' %}
      {% include 'wiki/includes/seotud_objektid.html' %}
      {% include 'wiki/includes/seotud_pildid2.html' %}
    </div>
  </div>

{% endblock %}