{% extends "wiki/wiki_base.html" %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block content %}
<div class="w3-panel w3-card-4 w3-light-grey" >
	<!-- Sisukaardi päis-->
  <div class="w3-row w3-xlarge text-organisatsioon">
    <h4>
			<a style="text-decoration: none;" href={% url 'wiki:wiki_organisatsioon_filter' %}>
				<i class="fa fa-group"></i>
			</a>
			{{ object }}
		</h4>
    <p class="w3-large">
	  	{% include 'wiki/includes/kp.html' with sd=object.hist_date y=object.hist_year m=object.hist_month ed=object.hist_enddate ey=object.hist_endyear cs="white" %}
		</p>
  </div>

	<!-- Sisukaardi kirjeldav osa-->
  <div class="w3-twothird" >
    <div>
			{% include 'wiki/includes/object_detail_pilt.html' with cls='pilt-postkaart-medium' %}
			<!-- Sisukaardi tekstiosa-->
			<div class="w3-twothird">
				{% include 'wiki/includes/vigane.html' %}
				<div>
					{{ object.kirjeldus | safe | linebreaksbr }}
				</div>
				{% include 'wiki/includes/mainitud_aastatel.html' %}
				{% include 'wiki/includes/seotud_special_links.html' %}
				{% include 'wiki/includes/seotud_viited.html' %}
			</div>
    </div>
  </div>

	<!--  Sisukaardi otseseosed-->
  <div class="w3-third w3-padding" >
		{% include 'wiki/includes/seotud_isikud.html' %}
		{% include 'wiki/includes/seotud_objektid.html' %}
		{% include 'wiki/includes/seotud_pildid.html' %}
  </div>

	<!-- Andmete lisamise/muutmise andmed: -->
   {% include 'wiki/includes/object_updated_edit.html' with model='organisatsioon' %}
</div>

{% include 'wiki/includes/seotud_artiklikaudu.html' with model='organisatsioon' %}

{% endblock %}