{% extends "wiki/wiki_base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block src %}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {# j2rgnevad vajalikud django-ajax-selects add toimimiseks #}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/admin/base.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/admin/widgets.css' %}" >
{% endblock %}

{% block title %}{{ block.super }} - {{ object }} - muutmine{% endblock %}

{% block content %}
  {{ form.media }}
  <div class="w3-container">
    <form method="post" class="uniForm">
      {% csrf_token %}
      {{ form|crispy }}
      <button href="{% url 'wiki:wiki_organisatsioon_detail' pk=object.pk  slug=object.slug %}" role="button">Loobu</button>
      <button class="btn btn-info btn-sm btn-block" type="submit" value="Update">Muuda</button>
      {% include 'wiki/includes/object_form_footer.html' %}
    </form>
  </div>
{% endblock %}
