{% extends "wiki/wiki_base.html" %}
{% load static %}
{% block breadcrumb %}
{% endblock %}

{% block src %}
{% endblock %}

{% block css %}
<style>
  html {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
  }
  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:1em;
  }


  /* Switch starts here */
  /* Idea from Marcus Connor https://codepen.io/marcusconnor/pen/QJNvMa */
  .rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    /* text-transform: uppercase; */
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }

  .rocker-small {
    font-size: 0.75em; /* Sizes the switch */
    margin: 1em;
  }

  .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }

  .rocker input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch-left,
  .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
  }

  .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }

  .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #337257;
    color: #fff;
  }

  .switch-left::before,
  .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
  }

  .switch-left::before {
    left: -0.4em;
  }

  .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }

  input:checked + .switch-left {
    background-color: #337257;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
  }

  input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
  }

  input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
  }

  input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
  }

  /* Keyboard Users */
  input:focus + .switch-left {
    color: #333;
  }

  input:checked:focus + .switch-left {
    color: #fff;
  }

  input:focus + .switch-left + .switch-right {
    color: #fff;
  }

  input:checked:focus + .switch-left + .switch-right {
    color: #333;
  }
</style>
{% endblock %}

{% block content %}
<div class="w3-container">
  <h4>Katseline lehekülg, kus on võimalik vaadata vkj <-> ukj</h4>
  <div class="mid">
    <label class="rocker rocker-small" title="vana või uus kalender?"><input type="checkbox" id="checkbox1">
      <span class="switch-left">ukj</span>
      <span class="switch-right">vkj</span>
    </label>
  </div>
  <div id="checkbox-value"></div>
  <div>
    session:<br>
    {% for item, value in request.session.items %}
      <small>{{ item }}:{{ value }}</small><br>
    {% endfor %}
  </div>
  <!-- Sisu algab siit -->
  <div class="w3-row-padding w3-margin-bottom">
    {% now "d" as p2ev %}
    {% now "m" as kuu %}
    {% now "Y" as aasta %}
    <!-- Artiklite esitlus -->
	  <div class="w3-quarter">
      <!-- Teadete esitamiseks -->
<!--      <div class="w3-container w3-hover-white">-->
<!--        {% include 'wiki/includes/wiki_message.html' %}-->
<!--      </div>-->
      <div class="w3-container w3-padding-16 w3-hover-white">
<!--        {% include 'wiki/includes/wiki_calendar.html' %}-->
        <div id="algus_artikkel"></div>
      </div>
    </div>
    <!-- Isikute esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16 w3-hover-white">
        <div id="algus_isik"></div>
      </div>
    </div>
    <!-- Organisatsioonide esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16 w3-hover-white">
        <div id="algus_organisatsioon"></div>
      </div>
    </div>
	  <!-- Objektide esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16 w3-hover-white">
        <div id="algus_objekt"></div>
      </div>
      <!-- Kaardid -->
      <div class="w3-container background-objekt w3-padding-16">
        <div class="w3-left">
          <i class="fa fa-map w3-xxxlarge"></i>
        </div>
        <div class="w3-hide-medium w3-right">
          <h4>Kaardid</h4>
        </div>
        <div class="w3-hide-large w3-hide-small w3-right ">
          <h6>Kaardid</h6>
        </div>
      </div>

      <div class="w3-margin-top">
        {% include 'wiki/includes/kaart_slideshow.html' %}
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom w3-hide-small">
<!--    {% include 'wiki/includes/algus_foot.html' %}-->
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  function get_isik_data(url) {
    $.ajax(
      {
        url: url,
        success: function(data) {
          $('#algus_isik').html(data);
        },
        error: function (jqXHR, exception) {
          var msg = '';
          if (jqXHR.status === 0) {
              msg = 'Not connect.\n Verify Network.';
          } else if (jqXHR.status == 404) {
              msg = 'Requested page not found. [404]';
          } else if (jqXHR.status == 500) {
              msg = 'Internal Server Error [500].';
          } else if (exception === 'parsererror') {
              msg = 'Requested JSON parse failed.';
          } else if (exception === 'timeout') {
              msg = 'Time out error.';
          } else if (exception === 'abort') {
              msg = 'Ajax request aborted.';
          } else {
              msg = 'Uncaught Error.\n' + jqXHR.responseText;
          }
          $('#algus_isik').html(msg);
          <!-- Proovime 5 s pärast uuesti -->
          {
            window.setTimeout(get_isik_data(url), 5000);
          };
        },
      }
    );
  };

  function get_objekt_data(url) {
    $.ajax(
      {
        url: url,
        success: function(data) {
<!--          console.log(data);-->
          $('#algus_objekt').html(data);
        },
        error: function (jqXHR, exception) {
          var msg = '';
          if (jqXHR.status === 0) {
              msg = 'Not connect.\n Verify Network.';
          } else if (jqXHR.status == 404) {
              msg = 'Requested page not found. [404]';
          } else if (jqXHR.status == 500) {
              msg = 'Internal Server Error [500].';
          } else if (exception === 'parsererror') {
              msg = 'Requested JSON parse failed.';
          } else if (exception === 'timeout') {
              msg = 'Time out error.';
          } else if (exception === 'abort') {
              msg = 'Ajax request aborted.';
          } else {
              msg = 'Uncaught Error.\n' + jqXHR.responseText;
          }
          $('#algus_objekt').html(msg);
          <!-- Proovime 5 s pärast uuesti -->
          {
            window.setTimeout(get_objekt_data(url), 5000);
          };
        },
      }
    );
  };

  $( document ).ready(function() {
    $('#checkbox-value').text(document.getElementById("checkbox1").checked);
    let ukj_state = ('{{ request.session.ukj }}'.length) > 0 ? {{ request.session.ukj }} : false

    document.getElementById("checkbox1").checked = ukj_state;
    get_isik_data("{% url 'wiki:ukj_test_isik_detail' %}");
    get_objekt_data("{% url 'wiki:ukj_test_objekt_detail' %}");

    <!-- Loome triggeri, kui kalendrisüsteemi valik muutub -->
    $("#checkbox1").on('change', function() {
      let ukj = document.getElementById("checkbox1").checked;
      switch_url = "{% url 'wiki:switch_vkj_ukj' 123 %}".replace('123', ukj);
      fetch(switch_url)
        .then((response) => {
          return response;
        })
        .then((data) => {
          location.reload()
<!--          get_isik_data("{% url 'wiki:ukj_test_isik_detail' %}");-->
<!--          get_objekt_data("{% url 'wiki:ukj_test_objekt_detail' %}");-->
        });
      $('#checkbox-value').text(document.getElementById("checkbox1").checked);
    });
  });
</script>
{% endblock %}
