{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block content %}
	<!--		Tagasiside vorm -->
  {% load crispy_forms_tags %}
  <div id="panelFeedBack" class="w3-panel w3-padding w3-card-4 w3-light-grey w3-hide">
    {% crispy feedbackform %}
  </div>
	<!-- Lingid teemalehtedele -->
	<div class="w3-row-padding w3-margin-bottom">
    {% include 'wiki/includes/algus_head.html' %}
  </div>
  <!-- Sisu algab siit -->
  <div class="w3-row-padding w3-margin-bottom">
    {% now "d" as p2ev %}
    {% now "m" as kuu %}
    {% now "Y" as aasta %}
    <!-- Artiklite esitlus -->
	  <div class="w3-quarter">
      <div class="w3-container w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/wiki_calendar.html' %}
        {% include 'wiki/includes/algus_artiklid.html' %}
      </div>
    </div>
    <!-- Isikute esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_isikud.html' %}
      </div>
    </div>
    <!-- Organisatsioonide esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_organisatsioonid.html' %}
      </div>
    </div>
	  <!-- Objektide esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_objektid.html' %}
      </div>
      <!-- Kaardid -->
       <div class="w3-container background-objekt w3-padding-16">
        <i class="fa fa-map w3-xlarge"></i> Kaardid
      </div>
      <div class="w3-margin-top">
        {% include 'wiki/includes/kaart_slideshow.html' %}
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom w3-hide-small">
    {% include 'wiki/includes/algus_foot.html' %}
  </div>
{% endblock %}