{% extends "wiki/wiki_base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
  <div class="w3-container w3-padding">
    <h4>Suur tänu! Sinu parandus/täiendusettepanek salvestati järgneva infoga:</h4>
  </div>
  <div class="w3-container w3-padding w3-white"">
    <p>{{ vihje.inp_date|date:"d.m.Y" }}: {{ vihje.kirjeldus }}</p>
    {{ vihje.kontakt }}
  </div>
  <div class="w3-container w3-padding">
    Salvestati ka järgmised meta-andmed:<br>
  </div>
  <div class="w3-container w3-padding w3-white"">
    Viide objektile: {{ vihje.http_referer }}<br>
    IP aadress: {{ vihje.remote_addr }}<br>
    Django: ver{{ vihje.django_version }}<br>
  </div>
  <div>
    <a href="{{ vihje.http_referer }}" class="w3-button w3-light-grey">Tagasi</a>
  </div>

  <div class="w3-container w3-padding">
    {% for key, value in meta.items %}
      <small>{{key}}:{{ value }}</small><br>
    {% endfor %}
  </div>
{% endblock %}

{% block javascript %}
<script>
$("#formFeedback").submit(function( event ) {
  $("span").text("Saadetud...").show();
  return;
});
</script>
{% endblock %}
