{% extends "wiki/wiki_base.html" %}
{% load staticfiles %}
{% load wiki_extras %}

{% block breadcrumb %}
{% endblock %}

{% block src %}
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
    var kroonika_url = "{{ kroonika_url }}"
    var question = "{{ question }}"
  </script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
  <div id="kroonika-api">
    <div class="w3-cell-row">
      Otsi:
      <input id="question" placeholder="fraas..." v-model="question">
      &nbsp;[[ answer ]]
    </div>
    <div class="w3-cell-row">
      <div class="w3-cell" style="width:25%">
        <div id="leitud_isikud" class="w3-cell-row w3-cell-top w3-hover-white">
          <div class="w3-padding-small">
            <a  id="wiki_filter_isik"
                class="hover-isik"
                href="{% url 'wiki:wiki_isik_filter' %}"
                style="text-decoration: none;">
              <strong>
                [[ isik_results_count>0 ? 'Isikuid: ' : '' ]]
                [[ isik_results_count>0 ? isik_results_count : '' ]]
                [[ isik_message ]]
              </strong>
            </a>
          </div>
          <ul class="w3-ul">
            <li class="w3-padding-small" style="list-style-type:none;" v-for="result in isik_results">
              <a
                  class="hover-isik"
                  style="text-decoration: none;"
                  v-bind:href="result.link">
                [[ result.eesnimi ]] [[ result.perenimi ]]
              </a>
            </li>
          </ul>
        </div>
        <div id="leitud_organisatsioonid" class="w3-cell-row w3-hover-white">
          <div class="w3-padding-small">
            <a
                class="hover-organisatsioon"
                href="{% url 'wiki:wiki_organisatsioon_filter' %}"
                style="text-decoration: none;">
              <strong>
                [[ organisatsioon_results_count>0 ? 'Asutisi: ' : '' ]]
                [[ organisatsioon_results_count>0 ? organisatsioon_results_count : '' ]]
                [[ organisatsioon_message ]]
              </strong>
            </a>
          </div>
          <ul class="w3-ul">
            <li class="w3-padding-small" style="list-style-type:none;" v-for="result in organisatsioon_results">
                <a
                    class="hover-organisatsioon"
                    style="text-decoration: none;"
                    v-bind:href="result.link">
                  [[ result.nimi ]]
                </a>
            </li>
          </ul>
        </div>
        <div id="leitud_objektid" class="w3-cell-row w3-hover-white">
          <div class="w3-padding-small">
            <a
                class="hover-objekt"
                href="{% url 'wiki:wiki_objekt_filter' %}"
                style="text-decoration: none;">
              <strong>
                [[ objekt_results_count>0 ? 'Kohti: ' : '' ]]
                [[ objekt_results_count>0 ? objekt_results_count : '' ]]
                [[ objekt_message ]]
              </strong>
            </a>
          </div>
          <ul class="w3-ul">
            <li class="w3-padding-small" style="list-style-type:none;" v-for="result in objekt_results">
                <a
                    class="hover-objekt"
                    style="text-decoration: none;"
                    v-bind:href="result.link">
                  [[ result.nimi ]]
                </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="w3-cell w3-cell-top">
        <div class="w3-cell-row w3-hover-white">
          <div class="w3-padding-small">
            <strong>
              [[ artikkel_results_count>0 ? 'Lugusid: ' : '' ]]
              [[ artikkel_results_count>0 ? artikkel_results_count : '' ]]
              <a v-bind:href="'/?body_text__icontains=' + question">[[ artikkel_message ]]</a>
            </strong>
          </div>
          <ul class="w3-ul">
            <li class="w3-padding-small" style="list-style-type:none;" v-for="result in artikkel_results">
                <a
                    class="hover-artikkel"
                    style="text-decoration: none;"
                    v-bind:href="result.link">
                  [[ result.hist_year ]]: [[ result.body_text.slice(0, 100) ]][[ result.body_text.length>100 ? '...' : '' ]]
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'wiki/js/wiki_otsi.js'%}"></script>
{% endblock %}