{% extends "wiki/wiki_base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
  <p>Suur tänu! Sinu parandus/täiendusettepanek salvestati järgneva infoga:</p>
  {{ django_version }}<br>
  <p>{{ vihje.kirjeldus }}</p>
  <p>{{ vihje.kontakt }}</p>
  ja järgmiste meta-andmetega:
  <p>viide:{{ meta.HTTP_REFERER }}</p>
  <p>aadress:{{ meta.REMOTE_ADDR }}</p>
  <a href="{{http_referer}}" role="button">Tagasi</a>
  <div>
    {% for key, value in meta.items %}
      <small>{{key}}:{{ value }}</small><br>
    {% endfor %}
  </div>
{% endblock %}

{% block javascript %}
<script>
$("#formFeedback").submit(function( event ) {
  $("span").text("Saadetud...").show();
  return;
});
</script>
{% endblock %}
