{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'wiki/css/wiki_calendar3.css' %}">
<style>
.card {
	 position: relative;
	 display: block;
}

#card-artikkel.card:hover #icon-artikkel-dropdown.icon-dropdown {
	 height: auto;
	 display: block;
}

#card-isik.card:hover #icon-isik-dropdown.icon-dropdown {
	 height: auto;
	 display: block;
}

#card-organisatsioon.card:hover #icon-organisatsioon-dropdown.icon-dropdown {
	 height: auto;
	 display: block;
}

#card-objekt.card:hover #icon-objekt-dropdown.icon-dropdown {
	 height: auto;
	 display: block;
}

.card .icon {
	 height: auto;
	 transition: all 0.3s ease-in-out;
}

.card .icon-dropdown {
   position: absolute;
   margin-top: -5px;
   width: 100%;
	 box-sizing: border-box;
	 height: 0px;
	 overflow: hidden;
	 transition: all 0.3s ease-in-out;
	 z-index: 1;
}

/* Otsinguriba */
.search-form {
  --searchButtonWidth: 32px;

  margin: 8px;
  overflow: hidden;
  position: relative;
  margin-top: 16px;
}

.search-input {
  border: 0;
  margin: 0;
  padding: 0.5rem calc(var(--searchButtonWidth) + 0.5rem) 0.5rem 0.5rem;
  border-radius: 2px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 0.8rem;
}
.search-input:focus {
  outline: 0;
  background: white;
}
.search-input:not(:placeholder-shown) ~ .search-button {
  /* transform: translateX(calc(-1 * var(--searchButtonWidth))); */
}

.search-input:focus ~ .search-button {
  left: calc(100% - var(--searchButtonWidth));
  /* transform: translateX(calc(-1 * var(--searchButtonWidth))); */
}

.search-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 100%;
  width: var(--searchButtonWidth);
  transition: 0.2s;
  color: white;
  height: 100%;
}
.search-button:focus {
  outline: 0;
  background: #222;
  opacity: 0.5;
}

.search-button:hover {
  outline: 0;
  background: #222;
  opacity: 0.5;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
</style>
{% endblock %}


{% block content %}
	<!--		Tagasiside vorm -->
  {% load crispy_forms_tags %}
  <div id="panelFeedBack" class="w3-panel w3-padding w3-card-4 w3-light-grey w3-hide">
    {% crispy feedbackform %}
  </div>
	<!-- Lingid teemalehtedele -->
  <div class="w3-row-padding w3-margin-bottom">
    {% include 'wiki/includes/algus_head2.html' %}
  </div>
  <!-- Sisu algab siit -->
  <div class="w3-row-padding w3-margin-bottom">
    {% now "d" as p2ev %}
    {% now "m" as kuu %}
    {% now "Y" as aasta %}
    <!-- Artiklite esitlus -->
	  <div class="w3-quarter">
      {% include 'wiki/includes/wiki_calendar3.html' %}
      <!-- Teadete esitamiseks -->
<!--      <div class="w3-container w3-hover-white">-->
<!--        {% include 'wiki/includes/wiki_message.html' %}-->
<!--      </div>-->
      <div class="w3-container w3-round w3-padding-16 w3-hover-white">

        {% include 'wiki/includes/algus_artiklid.html' %}
      </div>
    </div>
    <!-- Isikute esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_isikud.html' %}
      </div>
    </div>
    <!-- Organisatsioonide esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_organisatsioonid.html' %}
      </div>
    </div>
	  <!-- Objektide esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_objektid.html' %}
      </div>
      <!-- Kaardid -->
      <div class="w3-container w3-round background-objekt w3-padding-16">
        <div class="w3-left">
          <i class="fa fa-map w3-xxxlarge"></i>
        </div>
        <div class="w3-hide-medium w3-right">
          <h4>Kaardid</h4>
        </div>
        <div class="w3-hide-large w3-hide-small w3-right ">
          <h6>Kaardid</h6>
        </div>
      </div>

      <div class="w3-margin-top">
        {% include 'wiki/includes/kaart_slideshow.html' %}
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom w3-hide-small">
    {% include 'wiki/includes/algus_foot.html' %}
  </div>
{% endblock %}

{% block javascript %}
<!--<script>-->
<!--  let artikleidKuudeKaupa = {{ andmed.artikleid_kuu_kaupa }};-->
<!--</script>-->
<!--<script src="{% static 'wiki/js/wiki_calendar.js'%}"></script>-->

<script src="{% static 'wiki/js/wiki_calendar3.js'%}"></script>
<script>
  var calendar_days_with_events_in_month_url = "{% url 'wiki:calendar_days_with_events_in_month' %}"
  var yearsWithEvents = {{ kalender.years_with_events }}
  var kroonikaUrl = "{% url 'wiki:artikkel_index_archive' %}"
  var userCalendarViewLast = '{{ kalender.user_calendar_view_last }}'
  var calendarSystem = '{{ request.session.ukj }}'

  $( document ).ready(function() {
    GWDateTimePicker.init({
      targetId: "date-container"
    });
  });
</script>
{% endblock %}
