{% extends "wiki/wiki_base.html" %}

{% block breadcrumb %}
{% endblock %}

{% block src %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/boost-canvas.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
{% endblock %}

{% block content %}
{% load staticfiles %}
{% load wiki_extras %}

<div id="container" style="height: 300px; min-width: 310px; max-width: 1000px; margin: 0 auto"></div>

<pre id="csv" style="display: none">Aasta,Kuu,Artikleid
1915,1,1
1915,2,2
1915,3,3
1915,4,4
1915,5,5
1915,6,6
1915,7,6
1915,8,5
1915,9,4
1915,10,3
1915,11,2
1915,12,1
1917,1,1
1917,2,2
1917,3,3
1917,4,4
1917,6,6
1917,7,6
1917,8,5
1917,9,4
1917,10,3
1917,11,2
1917,12,1
1918,1,1
1918,2,2
1918,3,1
1918,4,1
1918,5,1
1918,6,10
1918,7,10
1918,8,1
1918,9,1
1918,10,1
1918,11,2
1918,12,1
1919,1,1
1919,2,1
1919,3,1
1919,4,1
1919,5,1
1919,6,1
1919,7,1
1919,8,1
1919,9,1
1919,10,1
1919,11,1
1919,12,1</pre>

Andmebaasis on {{ andmed.id__count }} artiklit {{ andmed.hist_searchdate__min|date:"d.m.Y" }} kuni {{ andmed.hist_searchdate__max|date:"Y" }}.
<script>
Highcharts.chart('container', {

    data: {
        csv: document.getElementById('csv').innerHTML
    },

    chart: {
        type: 'heatmap',
        margin: [60, 10, 80, 50]
    },

    boost: {
        useGPUTranslations: true
    },

    title: {
        text: 'Artikleid andmebaasis (n={{ andmed.id__count }})',
        align: 'left',
        x: 40
    },

    subtitle: {
        text: 'Aastatel {{ andmed.hist_searchdate__min|date:"Y" }}-{{ andmed.hist_searchdate__max|date:"Y" }}',
        align: 'left',
        x: 40
    },

    xAxis: {
        min: {{ andmed.hist_searchdate__min|date:"Y" }},
        max: {{ andmed.hist_searchdate__max|date:"Y" }},
        labels: {
            align: 'left',
            x: 5,
            y: 14
        },
        showLastLabel: false,
        tickLength: 16
    },

    yAxis: {
        title: {
            text: null
        },
        labels: {
            format: '{value}'
        },
        minPadding: 0,
        maxPadding: 0,
        startOnTick: false,
        endOnTick: false,
        tickPositions: [3, 6, 9, 12],
        tickWidth: 1,
        min: 0,
        max: 12,
        reversed: false
    },

    colorAxis: {
        stops: [
            [0, '#3060cf'],
            [0.5, '#fffbbc'],
            [0.9, '#c4463a'],
            [1, '#c4463a']
        ],
        min: 0,
        max: 20,
        startOnTick: false,
        endOnTick: false,
        labels: {
            format: '{value}'
        }
    },

    series: [{
        boostThreshold: 100,
        borderWidth: 0,
        nullColor: '#EFEFEF',
        // colsize: 24 * 36e5, // one day
        // tooltip: {
        //    headerFormat: 'Temperature<br/>',
        //    pointFormat: '{point.x:%e %b, %Y} {point.y}:00: <b>{point.value} ℃</b>'
        // },
        turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
    }]

});
</script>
{% endblock %}

{% block javascript %}
{% endblock %}