{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load wiki_extras %}

{% block css %}
  <link rel="stylesheet" href="{% static 'wiki/css/wiki_calendar3.css' %}">

{#  <link rel="preconnect" href="https://fonts.gstatic.com">#}
{#  <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">#}
{#  <style>#}
{#  .holidays-title-small {#}
{#    font-size: 1.5em;#}
{#    color: red;#}
{#    /* font-family: 'Just Another Hand', cursive; */#}
{#    font-family: 'Mountains of Christmas', cursive;#}
{#    margin: .5em;#}
{#    text-align: center;#}
{#    justify-content: center;#}
{#  }#}
{#  </style>#}
{% endblock %}

{% block content %}
	<!-- Lingid teemalehtedele -->
  <div class="w3-row-padding w3-margin-bottom">
    {% include 'wiki/includes/algus_head2.html' %}
  </div>
  <!-- Sisu algab siit -->
  <div class="w3-row-padding w3-margin-bottom">
    {% now "d" as p2ev %}
    {% now "m" as kuu %}
    {% now "Y" as aasta %}
    <!-- Artiklite esitlus -->
	  <div class="w3-quarter">
<!--      Teadete esitamiseks-->
{#      <div class="w3-container w3-hover-white w3-padding-16 w3-center">#}
{#        {% include 'wiki/includes/wiki_message.html' %}#}
{#      </div>#}
      <div class="w3-hide-medium">
        {% include 'wiki/includes/wiki_calendar3.html' %}
      </div>

      <div class="w3-container w3-round w3-padding-16 w3-hover-white">

        {% include 'wiki/includes/algus_artiklid.html' %}
      </div>
    </div>
    <!-- Isikute esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_isikud.html' %}
      </div>
    </div>
    <!-- Organisatsioonide esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_organisatsioonid.html' %}
      </div>
    </div>
	  <!-- Objektide esitlus -->
    <div class="w3-quarter">
      <div class="w3-container w3-round w3-padding-16 w3-hover-white">
        {% include 'wiki/includes/algus_objektid.html' %}
      </div>
      <!-- Kaardid -->
      <div class="w3-container w3-round background-objekt w3-padding-16">
        <div class="w3-left">
          <i class="fa fa-map w3-xxxlarge"></i>
        </div>
        <div class="w3-hide-medium w3-right">
          <h4>Kaardid</h4>
        </div>
        <div class="w3-hide-large w3-hide-small w3-right ">
          <h6>Kaardid</h6>
        </div>
      </div>
      <div class="w3-margin-top">
        {% include 'wiki/includes/kaart_slideshow.html' %}
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom w3-hide-small">
    {% include 'wiki/includes/algus_foot.html' %}
  </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'ilm/js/swiped-events.js' %}"></script>
<script src="{% static 'wiki/js/wiki_calendar3.js'%}"></script>
<script>
  var calendar_days_with_events_in_month_url = "{% url 'wiki:calendar_days_with_events_in_month' %}"
  var yearsWithEvents = {{ kalender.years_with_events }}
  var kroonikaUrl = "{% url 'wiki:artikkel_index_archive' %}"
  var userCalendarViewLast = '{{ kalender.user_calendar_view_last }}'
  var calendarSystem = '{{ request.session.ukj }}'

  $( document ).ready(function() {
    GWDateTimePicker.init({
      targetId: "date-container"
    });
  });
</script>
{% endblock %}
