{% extends "wiki/wiki_base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
{% endblock %}

{% block src %}
{% endblock %}

{% block css %}
<style>
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');

div.image-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.image-wrapper img {
  display: block;
}

#test {
  position: relative;
  left:0;
  top:50%;
  right:0;
  height:100px;
  margin: 0 auto;
  text-align:center;
  width: 100%;
  font-family: 'Just Another Hand', cursive;
}
</style>
{% endblock %}


{% block og_image %}
  <meta property="og:image" content="https://valgalinn.ee{% static 'wiki/img/special/VaMF2299_4_1_pisipilt_FB.jpg' %}" />
{% endblock %}

{% block content %}
  <div class="w3-container image-wrapper">
    {% now "Y" as current_year %}
    <h4 style="color:red; text-align: center;">
      {% if current_year == '2019' %}
        Häid jõule ja rõõmsat aastavahetust!
      {% else %}
        Head uut aastat!
      {% endif %}
    </h4>

    <img
        src="{% static 'wiki/img/special/VaMF2299_4_1_pisipilt.jpg' %}"
        alt="Pühadetervitus"
        style="width:100%"
    >

    <div
        style="font-family: 'Just Another Hand', cursive; text-align: center;"
        id="txtHolder"
        class="w3-hide-large"
    >
    </div>

    <p style="text-align: center;">
      <small>
        Valga jõulukaart 1920ndatest (Valga muuseum, VaM F 2299:4)
      </small>
    </p>
    {% include 'wiki/includes/object_fbshare.html' %}
    <div id="test" class="w3-hide-small w3-hide-medium fancy_title">
      <canvas width=640 height=100 style="position: relative; top: -170px;"></canvas>
    </div>
    <div class="w3-tiny">
      Oma nimega jõulukaardi saatmiseks kasutage aadressi: https://valgalinn.ee/wiki/j6ul2019/?<i>minginimi</i> NB! Küsimärk peab olema!
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  WebFontConfig = {
    google: { families: [ 'Just+Another+Hand::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();


 //$(".fancy_title p").lettering();

// get 2D context
	var ctx = document.querySelector("canvas").getContext("2d"),

  // the text we will draw
  txt = decodeURIComponent("Soovib: {{tervitaja}}".replace("amp;", "")),

      // dash-length for off-range
        dashLen = 220,

		// we'll update this, initialize
        dashOffset = dashLen,

		// some arbitrary speed
        speed = 10,


		// start position for x and iterator
		x = 350, i = 0;

// text mobiiliseadmete jaoks
  document.getElementById("txtHolder").innerHTML = txt;

// Comic Sans?? Let's make it useful for something ;) w/ fallbacks
    ctx.font = "30px Just Another Hand";

	// thickness of the line
    ctx.lineWidth = 1;

	// to avoid spikes we can join each line with a round joint
	//ctx.lineJoin = "round";

	// increase realism letting background (f.ex. paper) show through
	ctx.globalAlpha = 2/3;

	// some color, lets use a black pencil
    ctx.strokeStyle = ctx.fillStyle = "#331100";


(function loop() {
      // clear canvas for each frame
      ctx.clearRect(x, 0, 60, 150);

      // calculate and set current line-dash for this char
      ctx.setLineDash([dashLen - dashOffset, dashOffset - speed]);

      // reduce length of off-dash
      dashOffset -= speed;

      // draw char to canvas with current dash-length
      ctx.strokeText(txt[i], x, 90);

      // char done? no, the loop
      if (dashOffset > 0) requestAnimationFrame(loop);
      else {

        // ok, outline done, lets fill its interior before next
        ctx.fillText(txt[i], x, 90);

        // reset line-dash length
        dashOffset = dashLen;

        // get x position to next char by measuring what we have drawn
        // notice we offset it a little by random to increase realism
        x += ctx.measureText(txt[i++]).width + ctx.lineWidth * Math.random();

        // lets use an absolute transform to randomize y-position a little
        ctx.setTransform(1, 0, 0, 1, 0, 3 * Math.random());

        // and just cause we can, rotate it a little too to make it even
        // more realistic
        ctx.rotate(Math.random() * 0.005);

        // if we still have chars left, loop animation again for this char
        if (i < txt.length) requestAnimationFrame(loop);
      }
    })();  // just to self-invoke the loop
</script>
{% endblock %}