{% extends "wiki/wiki_base.html" %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
{% load staticfiles %}
{% load wiki_extras %}
<div>
  <p>
    Valga linna süstematiseeritud ja veel süstematiseerimata kroonika
    seotuna isikute, organisatsioonide ja objektidega.
  </p>
  <p>
    Loodud kasutamiseks informatsioonilistel ja hariduslikel eesmärkidel.
    <br>
    Kogutud ja esitatud materjalid võivad olla ebatäpsed, mistõttu nende kasutamine on iga kasutaja enda riskil.
  </p>
  <p>
    Viidatud materjalid võivad olla nende autorite omand ja nende kasutamisel tuleb viidata algallikale.
  </p>
  <p>
    Kuupäevade puhul on kasutatud sel hetkel kasutatud kalendrit.
    <br>
    Ülevaade kalendrite kasutamisest ajaloos on <a target="blank" href="https://en.wikipedia.org/wiki/List_of_adoption_dates_of_the_Gregorian_calendar_per_country">siin</a></li>
  </p>
  {% if andmed.id__count > 0 %}
    Andmebaasis on {{ andmed.id__count }} artiklit {{ andmed.hist_searchdate__min|date:"d.m.Y" }} kuni {{ andmed.hist_searchdate__max|date:"d.m.Y" }}.
  {% endif %}
</div>

<p>
  Parandatud on ilmsed vead. Vastukäivate andmete puhul on järjekord:
  <br>
  Arhiivimaterjalid -> Teatmeteosed -> Kroonikaraamatud -> Vikipeedia -> muud andmekogud
</p>

<p>Otsimiseks kasuta temaatilisi otsinguid:
  <a href={% url 'wiki:wiki_artikkel_filter' %}>Artiklid</a>
  <a href={% url 'wiki:wiki_isik_filter' %}>Isikud</a>
  <a href={% url 'wiki:wiki_organisatsioon_filter' %}>Organisatsioonid</a>
  <a href={% url 'wiki:wiki_objekt_filter' %}>Objektid</a>
</p>

<p>
  <form id="form" method="post" action="{% url 'wiki:mine_krono_kp' %}">
    {% csrf_token %}
    ...või vali kuupäev:
    <input type="date" name="kuup2ev" value="1902-02-24">
    <input type="submit" value='Vaata'>
    <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
  </form>
</p>

<p>
  ...või otseteed wiki/krono/aasta/kuu/päev,
  näiteks <i>wiki/krono/1971/03/15</i>.
</p>
<div>
  Andmebaasid:
  <ul>
    {% for a in andmebaasid%}
      <li>{{a}}
    {% endfor %}
  </ul>
</div>
Andmebaasi- ja veebilahenduse tegi {% kalev %}.<br>
Testserveri eest suured tänud: Margo Pärnaku, Siim Somma!<br>

Abiks:
<ul>
  <li><a href="https://www.python.org/">Python</a></li>
  <li><a href="https://www.djangoproject.com/">Django</a></li>
  <li><a href="https://mariadb.com/">MariaDB</a></li>
  <li><a href="http://apache.org/">Apache</a></li>
</ul>
Lisaks:
<ul>
  <li><a href="https://www.w3schools.com/">W3Schools</a></li>
  <li><a href="https://github.com/carltongibson/django-filter">django-filter</a></li>
  <li><a href="https://github.com/jazzband/django-widget-tweaks">django-widget-tweaks</a></li>
  <li><a href="https://www.django-rest-framework.org/">Django REST framework</a></li>
</ul>

<div>
{% render_logged_in_user_list %}
</div>
<div>
  Revision: {{ revision_data.kroonika }}/{{ revision_data.revised }}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  grecaptcha.ready(function() {
<!--    grecaptcha.execute('6Lc0b6kUAAAAAI5eSRmcRti9xAb7bO46baecy23i', {action: '{% url 'wiki:mine_krono_kp' %}'}).then(function(token) {-->
<!--      document.getElementById("form").appendChild(document.CreateElement(`<input type="hidden" name="g-recaptcha-response" value=${token}`);-->
<!--    });-->
    $('#form').submit(function(e){
      var form = this;
      e.preventDefault()
      grecaptcha.execute('6Lc0b6kUAAAAAI5eSRmcRti9xAb7bO46baecy23i', {action: '{% url 'wiki:mine_krono_kp' %}'}).then(function(token) {
        $('#recaptcha').val(token)
        form.submit()
      });
    })
  });
</script>

{% endblock %}

{% block javascript %}
{% endblock %}