{% load static %}
{% load wiki_extras %}

{#    Sisukaardi päis#}
<div class="w3-row">
  <h2 class="text-isik">
    <a style="text-decoration: none;" href="{% url 'wiki:wiki_isik_filter' %}">
      <i class="{% icon_isik %}"></i>
    </a>
    {{ object }}
  </h2>
  <div>
    <table>
      {% if object.hist_date or object.hist_year or object.synd_koht %}
        <tr>
          <td><strong><i class="fa fa-asterisk"></i></td>
          {% if object.hist_date %}
            <td>
              <strong>{% include 'wiki/includes/kp.html' with sd=object.hist_date cs='isik' %}</strong>
              {% if object.hist_date|vkj %}ukj: {{ object.hist_date|ukj|date:'j.m.Y' }}{% endif %}
            </td>
          {% elif object.hist_year %}
            <td>
              <strong><i class="fa fa-asterisk"></i>{% include 'wiki/includes/kp.html' with y=object.hist_year cs="isik" %}</strong>
            </td>
          {% endif %}
          {% if object.synd_koht %}
            <td>{{ object.synd_koht }}</td>
          {% endif %}
        </tr>
      {% endif %}
      {% if object.hist_enddate or object.hist_endyear or object.surm_koht %}
        <tr>
          <td>&#9840;</td>
          {% if object.hist_enddate %}
            <td>
              <strong>{% include 'wiki/includes/kp.html' with sd=object.hist_enddate cs="isik" %}</strong>
            </td>
            {% if object.hist_enddate|vkj %}ukj: {{ object.hist_enddate|ukj|date:'j.m.Y' }}{% endif %}
          {% elif object.hist_endyear %}
            <td>
              <strong>&#9840;{% include 'wiki/includes/kp.html' with y=object.hist_endyear cs="isik" %}</strong>
            </td>
          {% endif %}
          {% if object.surm_koht %}
            <td>{{ object.surm_koht }}</td>
          {% endif %}
        </tr>
      {% endif %}
      {% if object.gone %}
        <tr>
          <td colspan="3">surnud</td>
        </tr>
      {% endif %}
      {% if object.maetud %}
        <tr>
          <td colspan="3">maetud: <strong>{{ object.maetud }}</strong></td>
        </tr>
      {% endif %}
    </table>
    {% if object.eellased.all %}
      Vanemad:
      <ul>
        {% for obj in object.eellased.all %}
          <li>{{ obj }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if object.j2rglane.all %}
      Lapsed:
      <ul>
        {% for obj in object.j2rglane.all %}
          <li>{{ obj }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

{#    Sisukaardi kirjeldav osa#}
<div class="w3-row">
  <div class="w3-third">
    {% include 'wiki/includes/object_detail_pilt2.html' with cls='pilt-portree-medium' %}
  </div>
  <!-- Sisukaardi tekstiosa-->
  <div class="w3-twothird">
    {% include 'wiki/includes/vigane.html' %}
    <div>
      {{ object.formatted_markdown | safe }}
    </div>
    {% include 'wiki/includes/seotud_special_links.html' %}
{#    {% include 'wiki/includes/mainitud_aastatel.html' %}#}
    <!-- Andmete lisamise/muutmise andmed: -->
    {% include 'wiki/includes/object_updated_edit.html' with model='isik' %}
  </div>
</div>

<!--  Sisukaardi otseseosed-->
<div class="w3-row">
  {% include 'wiki/includes/del_seotud_organisatsioonid.html' %}
  {% include 'wiki/includes/del_seotud_objektid.html' %}
  {% include 'wiki/includes/seotud_pildid2.html' %}
</div>

<!-- Seotud artiklid: -->
<div class="w3-row">
  <div
      id="artiklid_{{ object.id }}"
      class="seotud"
  >
    {% include 'wiki/includes/seotud_artiklid.html' %}
  </div>
</div>
