{% extends "wiki/wiki_base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
{% endblock %}

{% block src %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
  <meta property="og:image" content="https://valgalinn.ee{% static 'wiki/img/special/VaMF2299_4_1_pisipilt.jpg' %}" />
  <div class="w3-half w3-container">
    <h4 style="color:red; text-align: center;">
      Häid jõule ja rõõmsat aastavahetust!
    </h4>
    <img
        src="{% static 'wiki/img/special/VaMF2299_4_1_pisipilt.jpg' %}"
        alt="Jõulutervitus"
        style="width:100%"
    >
    <p style="text-align: center;">
    <small>
      Valga jõulukaart 1920ndatest (Valga muuseum, VaM F 2299:4)
    </small>
    </p>
    {% include 'wiki/includes/object_fbshare.html' %}
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}