{% load static %}
<a
{#    href="{% url 'special_j6ul2020' %}"#}
    href="https://www.valgamuuseum.ee/et/naitused/naitused/kalender/2021-05-04/valga-linn-vanadel-kaartidel/"
    target="_blank"
    class="hover-artikkel"
    title="Vaata näituse infot!"
>
{#  <h5 class="holidays-title-small">#}
{#      {% now "Y" as current_year %}#}
{#      {% if current_year == '2020' %}#}
{#        Rahulikke jõule!#}
{#      {% else %}#}
{#        Head uut aastat!#}
{#      {% endif %}#}
{#  </h5>#}
  <img
        style="width: 100%;"
        src="{% static 'wiki/img/special/Poster_2021_Valga_linn_vanadel_kaartidel_2.jpg' %}"
        alt='Näituse "Valga linn vanadel kaartidel" plakat'
        title="Vaata näituse infot!"
  />
{#  <div class="w3-tiny">#}
{#    Valga. Vaade Jaani kiriku poole, VaM F 597, Valga Muuseum#}
{#  </div>#}
</a>