{% if andmed.organisatsioon.sel_p2eval %}
  <h5>
    <a style="text-decoration:none;" href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}#bookmark_organisatsioonid">
      {% now "j.m." %} loodud <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.sel_p2eval_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.sel_p2eval %}
    {% if forloop.counter > 1 %}
        <br>
    {% endif %}
    <a class="hover-organisatsioon"
    href="{% url 'wiki:artikkel_day_archive' year=obj.hist_date|date:'Y' month=obj.hist_date|date:'m' day=obj.hist_date|date:'d' %}"
    >
      <strong>{{ obj.hist_date|date:"d.m.Y" }}</strong>
    </a>
    &nbsp;
    <a class="hover-organisatsioon" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
      {{ obj }}
      {% if obj.vanus|divisibleby:"5" %}
        &nbsp;&nbsp;<b>{{ obj.vanus }}</b>
      {% endif %}
      {% include 'wiki/includes/algus_pilt.html' with tyyp='postkaart' %}
    </a>
  {% endfor %}
{% endif %}
{% if andmed.organisatsioon.sel_kuul %}
  {% now "m" as kuu %}
  <h5>
    <a style="text-decoration:none;" href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}#bookmark_organisatsioonid">
      {% include 'wiki/includes/kuul.html' with kuu=kuu %} asutatud  <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.sel_kuul_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.sel_kuul %}
    {% if forloop.counter > 1 %}
        <br>
    {% endif %}
    <a class="hover-organisatsioon"
    href="{% url 'wiki:artikkel_day_archive' year=obj.hist_date|date:'Y' month=obj.hist_date|date:'m' day=obj.hist_date|date:'d' %}"
    >
    <strong>{{ obj.hist_date|date:"d.m.Y" }}</strong>
    </a>
    &nbsp;
    <a class="hover-organisatsioon" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
      {{ obj }}
    </a>
    {% if obj.vanus|divisibleby:"5" %}
      &nbsp;&nbsp;<b>{{ obj.vanus }}</b>
    {% endif %}
  {% endfor %}
{% endif %}
{% if andmed.organisatsioon.juubilarid %}
  <h5>
    <a style="text-decoration:none;" href="{% url 'wiki:artikkel_year_archive' year=aasta %}#bookmark_organisatsioonid">
      {% now "Y" %} juubilarid <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.juubilarid.count }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.juubilarid %}
    {% if forloop.counter > 1 %}
      <br>
    {% endif %}
    {% if obj.hist_date %}
      <a class="hover-organisatsioon"
        href="{% url 'wiki:artikkel_day_archive' year=obj.hist_date|date:'Y' month=obj.hist_date|date:'m' day=obj.hist_date|date:'d' %}"
      >
        <b>{{ obj.hist_date|date:"d.m.Y" }}</b>
      </a>
    {% else %}
      <a class="hover-organisatsioon"
        href="{% url 'wiki:artikkel_year_archive' year=obj.hist_year %}"
      >
        <b>{{ obj.hist_year }}</b>
      </a>
    {% endif %}
    &nbsp;
    <a class="hover-organisatsioon" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
        {{ obj.nimi }}
      &nbsp;<b>{{ obj.vanus }}</b>
      {% include 'wiki/includes/algus_pilt.html' with tyyp='postkaart' %}
    </a>
  {% endfor %}
{% endif %}