{% load wiki_extras %}
<div class="w3-quarter">
  <div
          class="card w3-round"
          id="card-artikkel"
  >
    <a
      class="w3-tooltip"
      style="text-decoration: none;"
      href="{% url 'wiki:wiki_artikkel_filter' %}"
    >
      <div
              class="w3-container w3-round background-artikkel w3-padding-16 icon"
              id="icon-artikkel"
      >
        <div class="w3-left">
            <i class="fa fa-comment w3-xxxlarge"></i>
        </div>
        <div class="w3-hide-medium w3-right">
          <h4>{% model_name_artikkel %} ({{ andmed.artikkel.kirjeid }})</h4>
        </div>
        <div class="w3-hide-large w3-hide-small w3-right ">
          <h6>{% model_name_artikkel %} ({{ andmed.artikkel.kirjeid }})</h6>
        </div>
      </div>
    </a>
    <div
            class="w3-round background-artikkel icon-dropdown w3-hide-small"
            id="icon-artikkel-dropdown"
    >
      <form
              id="form-search-artikkel"
              name="form-search-artikkel"
              action="{% url 'wiki:wiki_artikkel_filter' %}"
              class="search-form"
      >
        <label for="artikkel_sisaldab" class="screen-reader-text">Otsi</label>
        <input
                id="artikkel_sisaldab"
                name="artikkel_sisaldab"
                type="search"
                class="search-input"
                placeholder="Otsi lugudest sõna(osa)..."
                autocomplete="off"
        >
        <button
                type="submit"
                form="form-search-artikkel"
                class="background-artikkel search-button fa fa-search"
        ></button>
        {% csrf_token %}
        <input
            type="hidden"
            value=""
            name="g-recaptcha-response"
            class="g-recaptcha-response"
        >
      </form>
    </div>
  </div>
</div>

<div class="w3-quarter">
  <div
          class="card w3-round"
          id="card-isik"
  >
    <a style="text-decoration: none;" href="{% url 'wiki:wiki_isik_filter' %}">
      <div
              class="w3-container w3-round background-isik w3-padding-16 icon"
              id="icon-isik"
      >
        <div class="w3-left">
            <i class="fa fa-address-card-o w3-xxxlarge"></i>
        </div>
        <div class="w3-hide-medium w3-right">
          <h4>{% model_name_isik %} ({{ andmed.isik.kirjeid }})</h4>
        </div>
        <div class="w3-hide-large w3-hide-small w3-right ">
          <h6>{% model_name_isik %} ({{ andmed.isik.kirjeid }})</h6>
        </div>
      </div>
    </a>
    <div
            class="w3-round background-isik icon-dropdown w3-hide-small"
            id="icon-isik-dropdown"
    >
      <form
              id="form-search-isik"
              name="form-search-isik"
              action="{% url 'wiki:wiki_isik_filter' %}"
              class="search-form"
      >
        <label for="isik_nimi_sisaldab" class="screen-reader-text">Otsi</label>
        <input
                id="isik_nimi_sisaldab"
                name="nimi_sisaldab"
                type="search"
                class="search-input"
                placeholder="Otsi nime(osa)..."
                autocomplete="off"
        />
        <button
                type="submit"
                form="form-search-isik"
                class="background-isik search-button fa fa-search"
        ></button>
        {% csrf_token %}
        <input
            type="hidden"
            value=""
            name="g-recaptcha-response"
            class="g-recaptcha-response"
        >
      </form>
    </div>
  </div>
</div>

<div class="w3-quarter">
  <div
          class="card w3-round"
          id="card-organisatsioon"
  >
    <a class="w3-tooltip" style="text-decoration: none;" href="{% url 'wiki:wiki_organisatsioon_filter' %}">
      <div
              class="w3-container w3-round background-organisatsioon w3-padding-16 icon"
              id="icon-organisatsioon"
      >
        <div class="w3-left">
            <i class="fa fa-group w3-xxxlarge"></i>
        </div>
        <div class="w3-hide-medium w3-right">
          <h4>{% model_name_organisatsioon %} ({{ andmed.organisatsioon.kirjeid }})</h4>
        </div>
        <div class="w3-hide-large w3-hide-small w3-right ">
          <h6>{% model_name_organisatsioon %} ({{ andmed.organisatsioon.kirjeid }})</h6>
        </div>
      </div>
    </a>
    <div
            class="w3-round background-organisatsioon icon-dropdown w3-hide-small"
            id="icon-organisatsioon-dropdown"
    >
      <form
              id="form-search-organisatsioon"
              name="form-search-organisatsioon"
              action="{% url 'wiki:wiki_organisatsioon_filter' %}"
              class="search-form"
      >
        <label for="organisatsioon_nimi_sisaldab" class="screen-reader-text">Otsi</label>
        <input
                id="organisatsioon_nimi_sisaldab"
                name="nimi_sisaldab"
                type="search"
                class="search-input"
                placeholder="Otsi asutise nime(osa)..."
                autocomplete="off"
        />
        <button
                type="submit"
                form="form-search-organisatsioon"
                class="background-organisatsioon search-button fa fa-search"
        ></button>
        {% csrf_token %}
        <input
            type="hidden"
            value=""
            name="g-recaptcha-response"
            class="g-recaptcha-response"
        >
      </form>
    </div>
  </div>
</div>

<div class="w3-quarter">
  <div
          class="card w3-round"
          id="card-objekt"
  >
    <a
      class="w3-tooltip"
      style="text-decoration: none;"
      href="{% url 'wiki:wiki_objekt_filter' %}"
    >
      <div
              class="w3-container w3-round background-objekt w3-padding-16 icon"
              id="icon-objekt"
      >
        <div class="w3-left">
            <i class="fa fa-bank w3-xxxlarge"></i>
        </div>
        <div class="w3-hide-medium w3-right">
          <h4>{% model_name_objekt %} ({{ andmed.objekt.kirjeid }})</h4>
        </div>
        <div class="w3-hide-large w3-hide-small w3-right ">
          <h6>{% model_name_objekt %} ({{ andmed.objekt.kirjeid }})</h6>
        </div>
      </div>
    </a>
    <div
            class="w3-round background-objekt icon-dropdown w3-hide-small"
            id="icon-objekt-dropdown"
    >
      <form
              id="form-search-objekt"
              name="form-search-objekt"
              action="{% url 'wiki:wiki_objekt_filter' %}"
              class="search-form"
      >
        <label for="inp_objekt_nimi_sisaldab" class="screen-reader-text">Otsi</label>
        <input
                id="inp_objekt_nimi_sisaldab"
                name="nimi_sisaldab"
                type="search"
                class="search-input"
                placeholder="Otsi kohanime(osa)..."
                autocomplete="off"
        />
        <button
                id="btn_submit_form_search_objekt"
                type="submit"
                form="form-search-objekt"
                class="background-objekt search-button fa fa-search"
        ></button>
        {% csrf_token %}
        <input
            type="hidden"
            value=""
            name="g-recaptcha-response"
            class="g-recaptcha-response"
        >
      </form>
    </div>
  </div>
</div>
