{% if obj.profiilipilt %}
{#  <!--  monitori ja mobiilversioon-->#}
{#  <div class="pilt-wiki-algus w3-hide-medium" >#}
  <div class="pilt-wiki-algus w3-block" >
		<img
        class="pilt-{{ tyyp }}-small"
        {% if obj.profiilipilt.pilt.width > 400 %}
          src="{{ obj.profiilipilt.pilt_thumbnail.url }}"
        {% else %}
          src="{{ obj.profiilipilt.pilt.url }}"
        {% endif %}
        alt="{{ obj.profiilipilt }}"
        title="{{ obj.profiilipilt }}"
    />
		{% if tyyp == "portree" %}
        <small class="w3-hide-medium">
          {{ obj.kirjeldus|truncatewords:10 }}
        </small>
    {% endif %}
	</div>
{% endif %}