{% load static %}
<a
    href="{% url 'special_valga437' %}"
>
  <h5 class="background-artikkel" style="padding-top: 1em; padding-bottom: 1em;">
    <strong>Valga linn 437 - palju õnne!</strong>
  </h5>
  <img
        style="width: 100%; margin-top: 1em"
        src="{% static 'wiki/img/special/Alb 32-27_cr_960x600_icon.png' %}"
        alt='Valga linna vaade õhust 1928. aastast'
        title="Valga linna vaade õhust 1928. aastast"
  />
  <div class="w3-tiny">
    Valga. Vaade Jaani kiriku poole, VaM F 597, Valga Muuseum
  </div>
</a>