<div class="w3-quarter">
  <div class="w3-container w3-padding-16 w3-hover-white">
    {% if andmed.artikkel.kirjeid > 0 %}
      <h5>Viimasena lisatud:</h5>
      <strong>{% include 'wiki/includes/date_year.html' with obj=andmed.artikkel.viimane_lisatud %}</strong>
<!--      <a class="hover-artikkel" href={% url 'wiki:artikkel_year_archive' year=andmed.artikkel.viimane_lisatud.hist_year %}>-->
<!--        {{ andmed.artikkel.viimane_lisatud.hist_year }}:-->
<!--      </a>-->
      <a class="hover-artikkel" href="{% url 'wiki:wiki_artikkel_detail' pk=andmed.artikkel.viimane_lisatud.id slug=andmed.artikkel.viimane_lisatud.slug %}">
        {{ andmed.artikkel.viimane_lisatud }}
      </a>
      <h5>Viimasena muudeti:</h5>
      <strong>{% include 'wiki/includes/date_year.html' with obj=andmed.artikkel.viimane_muudetud %}</strong>
<!--      <a class="hover-artikkel" href={% url 'wiki:artikkel_year_archive' year=andmed.artikkel.viimane_muudetud.hist_year %}>-->
<!--        {{ andmed.artikkel.viimane_muudetud.hist_year }}:-->
<!--      </a>-->
      <a class="hover-artikkel" href="{% url 'wiki:wiki_artikkel_detail' pk=andmed.artikkel.viimane_muudetud.id slug=andmed.artikkel.viimane_muudetud.slug %}">
        {{ andmed.artikkel.viimane_muudetud }}
      </a>
    {% endif %}
  </div>
</div>
<div class="w3-quarter">
  <div class="w3-container w3-padding-16 w3-hover-white">
    {% if andmed.isik.kirjeid > 0 %}
      <h5>Viimasena lisatud:</h5>
      <a class="hover-isik" href="{% url 'wiki:wiki_isik_detail' pk=andmed.isik.viimane_lisatud.id slug=andmed.isik.viimane_lisatud.slug %}">
        {{ andmed.isik.viimane_lisatud }}
      </a>
        <h5>Viimasena muudeti:</h5>
        <a
            class="hover-isik"
            href="{% url 'wiki:wiki_isik_detail' pk=andmed.isik.viimane_muudetud.id slug=andmed.isik.viimane_lisatud.slug %}"
        >
        {{ andmed.isik.viimane_muudetud }}
      </a>
    {% endif %}
  </div>
</div>
<div class="w3-quarter">
  <div class="w3-container w3-padding-16 w3-hover-white">
    {% if andmed.organisatsioon.kirjeid > 0 %}
      <h5>Viimasena lisatud:</h5>
      <a
          class="hover-organisatsioon"
          href="{% url 'wiki:wiki_organisatsioon_detail' pk=andmed.organisatsioon.viimane_lisatud.id  slug=andmed.organisatsioon.viimane_lisatud.slug %}"
      >
        {{ andmed.organisatsioon.viimane_lisatud }}
      </a>
        <h5>Viimasena muudeti:</h5>
        <a
            class="hover-organisatsioon"
            href="{% url 'wiki:wiki_organisatsioon_detail' pk=andmed.organisatsioon.viimane_muudetud.id slug=andmed.organisatsioon.viimane_muudetud.slug %}"
        >
        {{ andmed.organisatsioon.viimane_muudetud }}
      </a>
    {% endif %}
  </div>
</div>
<div class="w3-quarter">
  <div class="w3-container w3-padding-16 w3-hover-white">
    {% if andmed.objekt.kirjeid > 0 %}
      <h5>Viimasena lisatud:</h5>
      <a
          class="hover-objekt"
          href="{% url 'wiki:wiki_objekt_detail' pk=andmed.objekt.viimane_lisatud.id slug=andmed.objekt.viimane_lisatud.slug %}"
      >
        {{ andmed.objekt.viimane_lisatud }}
      </a>
        <h5>Viimasena muudeti:</h5>
        <a
            class="hover-objekt"
            href="{% url 'wiki:wiki_objekt_detail' pk=andmed.objekt.viimane_muudetud.id slug=andmed.objekt.viimane_muudetud.slug %}"
        >
        {{ andmed.objekt.viimane_muudetud }}
      </a>
    {% endif %}
  </div>
</div>