{% if obj.profiilipilt %}
  <!--  monitori ja mobiilversioon-->
  <div class="pilt-wiki-algus w3-hide-medium" >
		<img
        class="pilt-{{ tyyp }}-small"
        src="{{ obj.profiilipilt.pilt_thumbnail.url }}"
        alt="{{ obj.profiilipilt }}"
        title="{{ obj.profiilipilt }}"
    />
		{% if tyyp == "portree" %}
        <small>
          {{ obj.kirjeldus|truncatewords:10 }}
        </small>
    {% endif %}
	</div>
  <!--  tahvliversioon-->
  <div class="w3-hide-small w3-hide-large">
    <img
        style="display: block; margin-left: auto; margin-right: auto; width: 100%;"
        class="pilt-{{ tyyp }}-small"
        src="{{ obj.profiilipilt.pilt_thumbnail.url }}"
        alt="{{ obj.profiilipilt }}"
        title="{{ obj.profiilipilt }}"
    />
  </div>
{% endif %}