{# cs - lingi värv ("artikkel", "isik", "organisatsioon", "objekt") #}
{% load wiki_extras %}
{% with ed=obj.doe ey=obj.hist_endyear %}
	{% if ed %}
		<div 
			class="date {% if obj.doe|date:'d.m.Y' != obj.hist_enddate|date:'d.m.Y' %}text-ukj{% endif %}"
			id="_date_{% get_uuid %}"
		>
			<a
					class="text-{{ cs }} day"
					href="{% url 'wiki:artikkel_day_archive' year=ed|date:'Y' month=ed|date:'m' day=ed|date:'d' %}?v6ti={{ request.session.session_key }}"
					onmouseover="hoverDate(this)"
					onmouseout="normalDate(this)"
					title="Mis juhtus {{ ed|date:'j.' }} {% include 'wiki/includes/kuul.html' with kuu=ed|date:'m' l6pp='l' %} {{ ed|date:'Y' }}?"
			>
				{{ ed|date:"j." }}
			</a>
			<a
					class="text-{{ cs }} month"
					href="{% url 'wiki:artikkel_month_archive' year=ed|date:'Y' month=ed|date:'m' %}?v6ti={{ request.session.session_key }}"
					onmouseover="hoverDate(this)"
					onmouseout="normalDate(this)"
					title="Mis juhtus {% include 'wiki/includes/kuul.html' with kuu=ed|date:'m' %} {{ ed|date:'Y' }}?"
				>
				{{ ed|date:"m." }}
			</a>
			<a
					class="text-{{ cs }} year"
					href="{% url 'wiki:artikkel_year_archive' year=ed|date:'Y' %}?v6ti={{ request.session.session_key }}"
					onmouseover="hoverDate(this)"
					onmouseout="normalDate(this)"
					title="Mis juhtus {{ ed|date:'Y' }}?"
			>
				{{ ed|date:"Y" }}
			</a>
		</div>
	{% elif ey %}
		<div 
			class="date"
			id="_date_{% get_uuid %}"
		>
			<a
					class="text-{{ cs }} year"
					href="{% url 'wiki:artikkel_year_archive' year=ey %}?v6ti={{ request.session.session_key }}"
					onmouseover="hoverDate(this)"
					onmouseout="normalDate(this)"
					title="Mis juhtus {{ ey }}?"
			>
				{{ ey }}
			</a>
		</div>
	{% endif %}
{% endwith %}