<!-- Loetelu seotud artiklinumbritest -->

{% for key, artiklid in artikkel_qs_dict.items %}
  {% if key == obj.id %}
    {% if artiklid %}
      &nbsp;mainitud:
      {% for artikkel in artiklid %}
        &nbsp;
        <a
            class="hover-artikkel tooltip"
            href="{% url 'wiki:wiki_artikkel_detail' pk=artikkel.id slug=artikkel.slug %}"
        >
          {{ artikkel.hist_year }}
          <span class="tooltiptext">
            {% if artikkel.hist_date %}
              {{ artikkel.hist_date|date:"d.m.Y" }}
            {% else %}
              {{ artikkel.hist_year }}
            {% endif %}
            :
            &nbsp;{{ artikkel.body_text|truncatewords:10 }}
          </span>
        </a>
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
