{% if kuu %}
	{% if kuu == '01' %}
		jaanuar
	{% endif %}
	{% if kuu == '02' %}
		veebruar
	{% endif %}
	{% if kuu == '03' %}
		märts
	{% endif %}
	{% if kuu == '04' %}
		aprill
	{% endif %}
	{% if kuu == '05' %}
		mai
	{% endif %}
	{% if kuu == '06' %}
		juuni
	{% endif %}
	{% if kuu == '07' %}
		juuli
	{% endif %}
	{% if kuu == '08' %}
		august
	{% endif %}
	{% if kuu == '09' %}
		september
	{% endif %}
	{% if kuu == '10' %}
		oktoober
	{% endif %}
	{% if kuu == '11' %}
		november
	{% endif %}
	{% if kuu == '12' %}
		detsember
	{% endif %}
{% endif %}