{% if kuu %}
	{% if kuu == '01' %}
		jaanuaris
	{% endif %}
	{% if kuu == '02' %}
		veebruaris
	{% endif %}
	{% if kuu == '03' %}
		märtsis
	{% endif %}
	{% if kuu == '04' %}
		aprillis
	{% endif %}
	{% if kuu == '05' %}
		mais
	{% endif %}
	{% if kuu == '06' %}
		juunis
	{% endif %}
	{% if kuu == '07' %}
		juulis
	{% endif %}
	{% if kuu == '08' %}
		augustis
	{% endif %}
	{% if kuu == '09' %}
		septembris
	{% endif %}
	{% if kuu == '10' %}
		oktoobris
	{% endif %}
	{% if kuu == '11' %}
		novembris
	{% endif %}
	{% if kuu == '12' %}
		detsembris
	{% endif %}
{% endif %}