{% spaceless %}
{% if kuu %}
	{% if kuu == '01' %}
		jaanuari{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '02' %}
		veebruari{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '03' %}
		märtsi{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '04' %}
		aprilli{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '05' %}
		mai{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '06' %}
		juuni{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '07' %}
		juuli{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '08' %}
		augusti{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '09' %}
		septembri{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '10' %}
		oktoobri{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '11' %}
		novembri{{ l6pp|default:"s" }}
	{% endif %}
	{% if kuu == '12' %}
		detsembri{{ l6pp|default:"s" }}
	{% endif %}
{% endif %}
{% endspaceless %}