{% load wiki_extras %}
{% for obj in object_list %}
  <div class="w3-cell-row w3-hover-white w3-padding-small infinite-item">
    <div class="w3-third">
      <div class="w3-cell w3-cell-middle w3-mobile">
        <strong>{% include 'wiki/includes/date_range.html' with obj=obj %}</strong>
        &nbsp;<a
          class="hover-artikkel tooltip-content"
          href="{% url 'wiki:wiki_artikkel_detail' pk=obj.id slug=obj.slug %}"
        >
          <span
                title='{{ obj }}'
                data-model='{{ obj|get_model_name }}'
                data-id='{{ obj.id }}'
                id='{{ obj|get_model_name }}_{{ obj.id }}_object_list'
          >
            {{ obj.body_text|truncatewords:10 }}
          </span>
        </a>
      </div>
    </div>
    {% with obj_isikud_count=obj.isikud.count obj_organisatsioonid_count=obj.organisatsioonid.count obj_objektid_count=obj.objektid.count obj_pildid_count=obj.pildid.sorted.count %}
      <div class="w3-rest w3-hide-small">
        <div class="w3-bar">
          {% if obj_isikud_count > 0 %}
            <button
                class="w3-bar-item w3-button tablink isik {{ obj.id }} text-isik"
                onclick="openTab(event,'isik', {{ obj.id }})">
              <i class="{% icon_isik %}"></i> {{ obj_isikud_count }}
            </button>
          {% endif %}
          {% if obj_organisatsioonid_count > 0 %}
            <button
                class="w3-bar-item w3-button tablink organisatsioon {{ obj.id }}{% if obj_isikud_count == 0 %} text-organisatsioon{% endif %}"
                onclick="openTab(event,'organisatsioon', {{ obj.id }})">
              <i class="{% icon_organisatsioon %}"></i> {{ obj_organisatsioonid_count }}
            </button>
          {% endif %}
          {% if obj_objektid_count > 0 %}
            <button
                class="w3-bar-item w3-button tablink objekt {{ obj.id }}{% if obj_isikud_count == 0 and obj_organisatsioonid_count == 0 %} text-objekt{% endif %}"
                onclick="openTab(event,'objekt', {{ obj.id }})">
              <i class="{% icon_objekt %}"></i> {{ obj_objektid_count }}
            </button>
          {% endif %}
          {% if obj_pildid_count > 0 %}
            <button
                class="w3-bar-item w3-button tablink pilt {{ obj.id }}{% if obj_isikud_count == 0 and obj_organisatsioonid_count == 0 and obj_objektid_count == 0 %} text-objekt{% endif %}"
                onclick="openTab(event,'pilt', {{ obj.id }})">
              <i class="{% icon_pilt %}"></i> {{ obj_pildid_count }}
            </button>
          {% endif %}
        </div>

        <div
                id="isik{{ obj.id }}"
                class="w3-container sisu isik {{ obj.id }}"
        >
          {% if obj_isikud_count > 0 %}
            {% for isik in obj.isikud.all %}
              {% if forloop.counter > 1 %}
                &ensp;
              {% endif %}
              <a class="hover-isik" href="{% url 'wiki:wiki_isik_detail' pk=isik.id slug=isik.slug %}">
                {{ isik }}
              </a>
            {% endfor %}
          {% endif %}
        </div>

        <div
                id="organisatsioon{{ obj.id }}"
                class="w3-container sisu organisatsioon {{ obj.id }}"
                style="display:{% if obj.isikud.exists %}none{% else %}block{% endif %}"
        >
          {% if obj_organisatsioonid_count > 0 %}
            {% for organisatsioon in obj.organisatsioonid.all %}
              {% if forloop.counter > 1 %}
                &ensp;
              {% endif %}
              <a class="hover-organisatsioon" href="{% url 'wiki:wiki_organisatsioon_detail' pk=organisatsioon.id slug=organisatsioon.slug %}">
                {{ organisatsioon }}
              </a>
            {% endfor %}
          {% endif %}
        </div>

        <div
                id="objekt{{ obj.id }}"
                class="w3-container sisu objekt {{ obj.id }}"
                style="display:{% if obj.isikud.exists or obj.organisatsioonid.exists %}none{% else %}block{% endif %}">
          {% if obj_objektid_count > 0 %}
            {% for objekt in obj.objektid.all %}
              {% if forloop.counter > 1 %}
                &ensp;
              {% endif %}
              <a class="hover-objekt" href="{% url 'wiki:wiki_objekt_detail' pk=objekt.id  slug=objekt.slug %}">
                {{ objekt }}
              </a>
            {% endfor %}
          {% endif %}
        </div>

        <div
                id="pilt{{ obj.id }}"
                class="w3-container sisu pilt {{ obj.id }}"
                style="display:{% if obj.isikud.exists or obj.organisatsioonid.exists or obj.objektid.exists %}none{% else %}block{% endif %}"
        >
          {% if obj_pildid_count > 0 %}
            {% for pilt in obj.pildid.sorted.all %}
              {% if forloop.counter > 1 %}
                &ensp;
              {% endif %}
              <a class="hover-pilt" href="{% url 'wiki:wiki_artikkel_detail' pk=obj.id slug=obj.slug %}">
                <img class="pilt-pildirida" src="{{ pilt.pilt_icon.url }}" alt="{{ pilt }}" title="{{ pilt }}">
              </a>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endwith %}
  </div>
{% empty %}
  Ei leitud midagi
{% endfor %}
{% if kirjeid_kokku > start %}
  <div id="artikkel_month_archive_otheryears_content_next">
    <a
            class="hover-isik w3-button text-isik"
            style="text-decoration: none;"
            id="get_artikkel_month_archive_otheryears_content_next"
            title="laadi järgmised {{ kirjeid }}..."
            onclick="artikkel_month_archive_otheryears({{ start }})"
    >
      näita veel...
    </a>
  </div>
{% endif %}