{% load wiki_extras %}
<a class="hover-{{model}} tooltip-content" href="{% url 'wiki:wiki_'|add:model|add:'_detail' pk=obj.id slug=obj.slug %}">
  <span
          class='text-{{ obj|get_model_name|lower }}'
          title='{{ obj }}'
          data-model='{{ obj|get_model_name }}'
          data-id='{{ obj.id }}'
          id='{{ obj|get_model_name }}_{{ obj.id }}_{% get_uuid %}'>
    {{ obj }}
  </span>
</a>
{% if obj.vanus_gen and obj.vanus_gen > 0 %}
  {% if obj.vanus_gen|divisibleby:"5" %}
    <b class="text-{{model}}">
      {{ obj.vanus_gen }}
      {% if obj.vanus != obj.vanus_gen %}
        <small> ({{ periood|date:'Y' }}) </small>
      {% endif %}
    </b>
  {% endif %}
{% endif %}