<div id="bookmark_organisatsioonid"></div>

{% if pealkiri %}
<div class="w3-cell-row w3-container background-organisatsioon w3-text-white">
  <div class="w3-cell w3-cell-middle">
	<h5><i class="fa fa-group w3-large"></i>&nbsp;{{ pealkiri }}</h5>
  </div>
</div>
{% endif %}

{% for obj in object_list %}
  <div class="w3-cell-row w3-hover-white w3-padding-small">
		{% include 'wiki/includes/object_list_object.html' with model='organisatsioon' %}
		<!-- Lingid seotud artiklitele -->
		{% include 'wiki/includes/object_list_objects_artikkel_links.html' %}
	<!-- Loetelu seotud artiklinumbritest -->
	<!--{% for artikkel in obj.artikkel_set.all %}
	  &nbsp;
	  <a class="hover-artikkel tooltip" href={% url 'wiki:wiki_artikkel_detail' pk=artikkel.id %}>{{ artikkel.id }}
	  <span class="tooltiptext">{{ artikkel.hist_year }}: {{ artikkel }}</span>
	  </a>
	{% endfor %}-->
  </div>
{% endfor %}