{% load static %}
<a
        class="icon-link round-corner facebook fill"
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri | urlencode }}%2F&amp;src=sdkpreparse"
>
  <i class="fa fa-facebook"></i>
</a>
<a
        class="icon-link round-corner linkedin fill"
        href="https://www.linkedin.com/shareArticle?mini=true&title=valgalinn.ee: {{ object }}&url={{ request.build_absolute_uri }}"
>
  <i class="fa fa-linkedin"></i>
</a>
<a
        class="icon-link round-corner twitter fill"
        href="https://twitter.com/intent/tweet?text=valgalinn.ee ({{ object }}): {{ request.build_absolute_uri }}"
>
  <i class="fa fa-twitter"></i>
</a>
<a
        class="icon-link round-corner envelope fill"
        href="mailto:?subject=valgalinn.ee: {{ object }}&body={{ object }}: {{ request.build_absolute_uri }}"
>
  <i class="fa fa-envelope"></i>
</a>
<a
        class="icon-link round-corner qrcode fill"
        onclick="showShareQRCodeOptions(this)"
        data-uri="{{ request.build_absolute_uri }}"
>
  <i class="fa fa-qrcode"></i>
</a>
<a
        class="icon-link round-corner bug fill"
        title="Märkasid viga või oskad täiendada?"
        onclick="showFeedback()"
>
  <i class="fa fa-bug"></i>
</a>

<div id="shareQRCodeModal_{{ object.id }}" class="modal w3-center">
  <span id="button-close-modal" class="close cursor" onclick="closeQRCodeModal()">&times;</span>
  <div class="modal-content">
      <div class="myQRCode">
        <img
                id="qrcode"
                src=""
                alt="{{ request.build_absolute_uri }}"
                title="{{ request.build_absolute_uri }}"
                style="width: 90%;"
        />
      </div>
  </div>
</div>

<script>
  function openQRCodeModal(uri) {
    {# Järgnev rida tagab, et navbar ei tuleks modal akna peale #}
    document.getElementsByTagName("header")[0].style.zIndex = 0;
    $.ajax(
      {
        type: "GET",
        url: "{% url 'wiki:get_qrcode_from_uri' %}",
        data: {'uri': uri},
        success: function(response) {
          $("#qrcode").attr('src', response);
          document.getElementById("shareQRCodeModal_{{ object.id }}").style.display = "block";
          window.addEventListener('keydown', function (event) {
            if (event.key === 'Escape') {
              closeQRCodeModal();
            }
          })
          $(document).click(function (e) {
            if ($(e.target).is('#shareQRCodeModal_{{ object.id }}')) {
                closeQRCodeModal();
            }
          });
        }
       }
    )
  }

  function closeQRCodeModal() {
    $('#shareQRCodeModal_{{ object.id }}').fadeOut(200, "linear");
  }

  {#function showQRCodeModal(uri) {#}
  {#  $.ajax(#}
  {#    {#}
  {#      type: "GET",#}
  {#      url: "{% url 'wiki:get_qrcode_from_uri' %}",#}
  {#      data: {'uri': uri},#}
  {#      success: function(response) {#}
  {#        $("#qrcode").attr('src', response);#}
  {#      }#}
  {#     }#}
  {#  )#}
	{#	var x = document.getElementById("shareQRCodeModal_{{ object.id }}");#}
  {#  x.style.display='block';#}
	// {#}#}

  function showShareQRCodeOptions(evt) {
    uri = evt.dataset.uri;
    openQRCodeModal(uri);
  }
</script>
