{% load wiki_extras %}
{% with model=obj|get_model_name %}
  {% if qs %}
    <p>
      {{ title }}:
      {% for obj in qs %}
      &nbsp;
      <a
              class="hover-{{ model }} tooltip-content"
              href="{{ obj.get_absolute_url }}"
      >
        <span
        title='{{ obj }}'
        data-model='{{ obj|get_model_name }}'
        data-id='{{ obj.id }}'
        id='{{ obj|get_model_name }}_{{ obj.id }}'
        >
          {{ obj }}
        </span>
      </a>
      {% endfor %}
    </p>
  {% endif %}
{% endwith %}
