<!--  pilt-class: pilt-portree-medium, pilt-postkaart-medium -->

<!-- Sisukaardi pildiosa-->
      <div class="w3-third">
        {% if profiilipilt %} <!-- Kui on määratud profiilipilt -->
          <div class="w3-margin-right">
            <img class="{{pilt-class}}" id="profiiliPilt" src="{{ profiilipilt.link }}"/>
              <small><div class="w3-center" id="imgtext">{{ profiilipilt }}</div></small>
          </div>
        {% else %} <!-- Seotud piltide ankur -->
          <div class="w3-margin-right" style="display: none">
            <img id="profiiliPilt" src="" style="max-width:100%"/>
              <small><div class="w3-center" id="imgtext"></div></small>
          </div>
        {% endif %}
	    </div>


<!--<div class="w3-third">-->
<!--	    {% if profiilipilt %} &lt;!&ndash; Kui on määratud profiilipilt &ndash;&gt;-->
<!--			  <div class="w3-margin-right">-->
<!--		  	  <img class="{{pilt-class}}" id="profiiliPilt" src="{{ profiilipilt.link }}"/>-->
<!--	      	  <small><div class="w3-center" id="imgtext">{{ profiilipilt }}</div></small>-->
<!--		  	</div>-->
<!--			{% else %} &lt;!&ndash; Seotud piltide ankur &ndash;&gt;-->
<!--		  	<div class="w3-margin-right" style="display: none">-->
<!--		    	<img id="profiiliPilt" src="" style="max-width:100%"/>-->
<!--	        	<small><div class="w3-center" id="imgtext"></div></small>-->
<!--		  	</div>-->
<!--			{% endif %}-->
<!--	  	</div>-->