{% load wiki_extras %}
{% if seotud_aadressid %}
  <div>
    <ul class="ul-seotud">
      <span style="margin: 0 -1px 0 10px;">
        {% if object.gone or object.hist_enddate or object.hist_endyear %}
          <span class="w3-text-red">Kaasajal pole olemas või on nime muudetud. </span>
        {% endif %}
        Varasemad aadressi- või nimekujud:
      </span>
      {% for item in seotud_aadressid|dictsortreversed:'hist_year' %}
        <a
          class="hover-artikkel"
          {% with item.object|to_model_name_lower as model_name %}
            href="{% url 'wiki:wiki_'|add:model_name|add:'_detail' pk=item.object.id %}"
          {% endwith %}
        >
          <li class="li-seotud">
            <div class="w3-tooltip">
            <i class="{% icon_object item.object %}"></i> 
            <span 
              style="position:absolute;left:0;bottom:18px" 
              class="w3-text w3-tag w3-round w3-white w3-border w3-border-grey w3-small w3-animate-opacity"
            >
              {{ item.object.kirjeldus }}
            </span>
            {{ item.hist_year }}: {{ item.object }}
            </div>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
{% endif %}