<div class="w3-row">
	<small>
		<a class="w3-button w3-padding-bottom w3-hover-white fa fa-bug" onclick="showFeedback()"></a>
		{% if user.is_authenticated %}
			{% with update_url='wiki:'|add:model|add:'_update' %}
				<a class="w3-button w3-padding-bottom w3-hover-white fa fa-edit" href={% url update_url pk=object.id %}></a>
			{% endwith %}
		{% endif %}
		{% if object.updated_by.username %}
	  	{{ object.mod_date|date:"d.m.Y" }}/{{ object.updated_by.username}}
		{% else %}
	  	{{ object.inp_date|date:"d.m.Y" }}/{{ object.created_by.username}}
		{% endif %}
  </small>
	<div id="panelFeedBack" class="w3-panel w3-card-4 w3-light-grey w3-hide">
		Tagasiside vorm tuleb siia
	</div>
</div>

<script>
function showFeedback() {
  var x = document.getElementById("panelFeedBack");
  if (x.className.indexOf("w3-show-block") == -1) {
    x.className += " w3-show-block";
  } else {
    x.className = x.className.replace(" w3-show-block", "");
  }
}
</script>