<!-- Sisukaardi kaardiosa-->
{% include 'wiki/includes/div_loader_book.html' with n=2 %}
<div
        class="w3-margin-right w3-center w3-padding-16"
        style="display: {% if seotud_kaardiobjektid %}block{% else %}none{% endif %}"
>
  <div
        id="get_objekt_leaflet_combo"
        data-url="{% url 'wiki:get_objekt_leaflet_combo' object.id %}"
  ></div>
  {% if user.is_authenticated %}
    <div class="w3-padding-16">
    <ul class="no-bullets">
      {% for obj in seotud_kaardiobjektid %}
        <li>
          <a
              class="hover-artikkel"
              href="{% url 'wiki:wiki_kaardiobjekt_detail' pk=obj.id %}"
            >
            {{ obj }}
          </a>
        </li>
      {% endfor %}
    </ul>
    </div>
  {% endif %}
</div>

<script>
  function get_objekt_leaflet_combo() {
    // Küsime andmed ja näitame kaarti
    $.ajax({
      url: $("#get_objekt_leaflet_combo").attr("data-url"),
      dataType: 'text',
      timeout: 300000,
      beforeSend: function() {
        $("#loaderDiv2").show();
      },
      success: function (data) {
        if (data) {
            document.getElementById("get_objekt_leaflet_combo").innerHTML = data;
          }
        },
      error: function (XMLHttpRequest, textstatus, errorThrown) {
        console.log(textstatus);
      },
    complete: function () {
      $("#loaderDiv2").hide();
    }
    });
  }

  $(document).ready(function() {
    get_objekt_leaflet_combo();
  });
</script>