<div id="bookmark_organisatsioonid"></div>
{% load wiki_extras %}

{% if pealkiri %}
<div class="w3-cell-row w3-container background-organisatsioon w3-text-white">
  <div class="w3-cell w3-cell-middle">
	<h5><i class="fa fa-group w3-large"></i>&nbsp;{{ pealkiri }}</h5>
  </div>
</div>
{% endif %}

{% for obj in object_list %}
  <div class="w3-cell-row w3-hover-white w3-padding-small">
    {% if periood %}<strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>{% endif %}
		{% include 'wiki/includes/object_list_object.html' with model='organisatsioon' %}
		<!-- Lingid seotud artiklitele -->
    {% object_mainitud_artiklites obj 'organisatsioon' %}
  </div>
{% endfor %}