{% load static %}
{% load wiki_extras %}
{% include 'wiki/includes/div_loader_book.html' %}

<div class="w3-padding-16"
        id="wiki_object_detail_seotud"
        data-url="{% url 'wiki:wiki_object_detail_seotud' model=object|to_model_name_lower id=object.id %}"
></div>

<script>
  var get_object_data4tooltip_url = '{% url "wiki:get_object_data4tooltip" %}'
  $(document).ready( function() {
    // Laadime objektiga seosed
    wiki_object_detail_seotud();
    wiki_object_detail_seotud_pildirida();
  });
</script>