{% load wiki_extras %}
<div class="w3-bar">
  {% if seotud_artiklid %}
    <button
        class="w3-bar-item w3-button tablink background-artikkel"
        onclick="openLinks(event, 'artiklid')"
    >
      <i class="{% icon_artikkel %}"></i> Lugusid {{ seotud_artiklid.count }}
    </button>
  {% endif %}
  {% if seotud_isikud_artiklikaudu %}
    <button
        class="w3-bar-item w3-button tablink"
        onclick="openLinks(event, 'isikud')"
    >
      <i class="{% icon_isik %}"></i> Isikuid {{ seotud_isikud_artiklikaudu|length }}
    </button>
  {% endif %}
  {% if seotud_organisatsioonid_artiklikaudu %}
    <button
        class="w3-bar-item w3-button tablink"
        onclick="openLinks(event, 'organisatsioonid')">
      <i class="{% icon_organisatsioon %}"></i> Asutisi {{ seotud_organisatsioonid_artiklikaudu|length }}
    </button>
  {% endif %}
  {% if seotud_objektid_artiklikaudu %}
    <button
        class="w3-bar-item w3-button tablink"
        onclick="openLinks(event, 'objektid')">
      <i class="{% icon_objekt %}"></i> Kohti {{ seotud_objektid_artiklikaudu|length }}
    </button>
  {% endif %}
</div>

{% comment %} Seotud objectid {% endcomment %}
<div
    id="artiklid"
    class="seotud w3-animate-opacity"
>
  {% include 'wiki/includes/seotud_artiklid.html' with querparams=queryparams %}
</div>
<div
    id="isikud"
    class="seotud w3-animate-opacity"
    style="display:none"
>
  {% include 'wiki/includes/seotud_artiklikaudu_isikud.html' %}
</div>
<div
    id = "organisatsioonid"
    class="seotud w3-animate-opacity"
    style="display:none"
>
  {% include 'wiki/includes/seotud_artiklikaudu_organisatsioonid.html' %}
</div>
<div
    id = "objektid"
    class="seotud w3-animate-opacity"
    style="display:none"
>
  {% include 'wiki/includes/seotud_artiklikaudu_objektid.html' %}
</div>

{% block javascript %}{% endblock %}