<!-- Pildigalerii -->
<script>
function myPilt(imgs) {
  var expandImg = document.getElementById("profiiliPilt");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>

{% if object.pilt_set.all %}
  <p><i class="fa fa-camera-retro w3-xlarge text-pilt"></i>
	{% for obj in object.pilt_set.all %}
	  <img class="pilt-pildirida" src="{{ obj.link }}" alt="{{ obj }}" title="{{ obj }}" onclick="myPilt(this);">
	  <!-- {{ obj.id }}<a class="pildid" id="pilt{{obj.id}}" href="{{ obj.link }}">{{ obj }}</a><br> -->
	{% endfor %}
  </p>
{% endif %}
