{% load staticfiles %}
<!--Kui objektiga on seotud viited Vikipeedia, geni.com veebidesse-->
<div class="w3-padding-16">
{% if object.viited.all %}
  {% for obj in object.viited.all %}
      {% if obj.url %}
        {% if "wikipedia.org" in obj.url %}
          <a href="{{ obj.url }}" target="_blank">
            <img
                class="pilt-special-links"
                src="{% static 'wiki/img/favicon/wikipedia.ico' %}"
                alt="Wikipedia"
                title="Vikipeedia: {{ obj.url }}"
            >
          </a>
        {% elif "geni.com" in obj.url %}
          <a href="{{ obj.url }}" target="_blank">
            <img
                class="pilt-special-links"
                src="{% static 'wiki/img/favicon/touch-icon-iphone.png' %}"
                alt="geni.com"
                title="geni.com: {{ obj.url }}"
            >
          </a>
        {% endif %}
      {% endif %}
  {% endfor %}
{% endif %}
</div>