{% load wiki_extras %}
{% if seotud_organisatsioonid_artiklikaudu %}
<!-- Loend seotud organisatsioonidest, mis on nimetatud samas artiklis -->
  <div>
    <h5>
	  <i class="fa fa-chain w3-xlarge text-organisatsioon"></i>
      {% model_name_organisatsioon %}, millega koos mainitud artikli(te)s:<br>
	</h5>
    {% for seotud_organisatsioon, object in seotud_organisatsioonid_artiklikaudu.items %}
	  {% if forloop.counter > 1 %}
	    <br>
	  {% endif %}
	  <a class="hover-organisatsioon" href={% url 'wiki:wiki_organisatsioon_detail' pk=object.id %}>
	  {{ object.nimi }}
	  </a>
	  {% include 'wiki/includes/seotud_artiklikaudu_artiklid.html' %}
    {% endfor %}
  </div>
{% endif %}