{% load static %}
<!--Kui objektiga on seotud viited Vikipeedia, geni.com veebidesse-->
<div class="w3-padding-16">
{% if object.viited.all %}
  {% for obj in object.viited.all %}
      {% if obj.url %}
        {% if "wikipedia.org" in obj.url %}
          <a href="{{ obj.url }}" target="_blank">
            <img
                class="pilt-special-links"
                src="{% static 'wiki/img/favicon/wikipedia.ico' %}"
                alt="Wikipedia : {{ obj.url }}"
                title="Vikipeedia: {{ obj.url }}"
            >
          </a>
        {% elif "geni.com" in obj.url %}
          <a href="{{ obj.url }}" target="_blank">
            <img
                class="pilt-special-links"
                src="{% static 'wiki/img/favicon/touch-icon-iphone.png' %}"
                alt="geni.com : {{ obj.url }}"
                title="geni.com: {{ obj.url }}"
            >
          </a>
        {% elif "register.muinas.ee" in obj.url %}
          <a href="{{ obj.url }}" target="_blank">
            <img
                class="pilt-special-links"
                src="{% static 'wiki/img/favicon/register-muinas.ico' %}"
                alt="Kultuurimälestiste register : {{ obj.url }}"
                title="Kultuurimälestiste register: {{ obj.url }}"
            >
          </a>
        {% elif "youtube.com" in obj.url %}
          <a href="{{ obj.url }}" target="_blank">
            <img
                class="pilt-special-links"
                src="{% static 'wiki/img/favicon/youtube.png' %}"
                alt="Youtube video: {{ obj.url }}"
                title="Youtube video: {{ obj.url }}"
            >
          </a>
        {% endif %}
      {% endif %}
  {% endfor %}
{% endif %}
</div>