{% load wiki_extras %}
{% for obj in seotud_artiklid %}
  {% if forloop.counter > 1 %}
    <br>
  {% endif %}
  <strong>{% include 'wiki/includes/date_range.html' with obj=obj %}</strong>
  &nbsp;
  <a
    class="hover-artikkel tooltip-content"
    href="{% url 'wiki:wiki_artikkel_detail' pk=obj.id slug=obj.slug %}{{ queryparams }}"
  >
    <span
          title='{{ obj }}'
          data-model='{{ obj|get_model_name }}'
          data-id='{{ obj.id }}'
          id='{{ obj|get_model_name }}_{{ obj.id }}_seotud_artiklid'
    >
      {{ obj|safe }}
    </span>
  </a>
{% endfor %}