{% load static %}
{% load wiki_extras %}
<!-- Pildigalerii -->
{% with pildid=seotud_pildid %}
  {% if pildid %}
    {% block src %}
      <script src="{% static 'ilm/js/swiped-events.js' %}"></script>
    {% endblock %}

    {#    Pildirida #}
    <h5>
      <i class="{% icon_object pildid.first %} w3-xlarge text-pilt"></i> seotud pildid
    </h5>
    <div>
      {% for obj in pildid %}
        <a href="#">
          <img
            class="pilt-pildirida"
            src="{{ obj.pilt_icon.url }}"
            alt="{{ obj.caption }}"
            data-pilt-id="{{ obj.id }}"
            data-pilt-itemnr="{{ forloop.counter }}"
            data-pilt-markdown-tag="{{ obj.markdown_tag }}"
            title="{{ obj }}"
            data-img-big="{{ obj.pilt.url }}"
            onclick="openModal();currentSlide({{ forloop.counter }})"
          >
        </a>
      {% endfor %}
    </div>

    {#    Modal #}
    <div id="myModal" class="modal">
      {% if pildid.count > 1 %}
        <span class="numbertext" id="numbertext"></span>
      {% endif %}
      <span id="button-close-modal" class="close cursor" onclick="closeModal()">&times;</span>

      <div class="modal-content">
        {% for obj in pildid %}
          <div class="mySlides">
            <img
                    class="pilt-pildimodal"
                    src="{{ obj.pilt.url }}"
                    data-pilt-id="{{ obj.id }}"
                    data-pilt-itemnr="{{ forloop.counter }}"
                    style="width:{% if obj.pilt.width > obj.pilt.height %}100{% else %}60{% endif %}%;"
            />
          </div>
        {% endfor %}

        <a
                class="infoimage"
                onclick="markdownTagCopy(this)"
        >
          <i class="fa fa-info"></i>
          <span id="markdown-tag">id</span>
        </a>
        {% if pildid.count > 1 %}
          <a class="previmage" onclick="plusSlides(-1)">&#10094;</a>
          <a class="nextimage" onclick="plusSlides(1)">&#10095;</a>
        {% endif %}

        <div class="caption-container">
          <p id="captionmodal">Pildiallkiri</p>
        </div>

      </div>
    </div>

    <script>
      function openModal() {
        {# Järgnev rida tagab, et navbar ei tuleks modal akna peale #}
        document.getElementsByTagName("header")[0].style.zIndex = 0;
        document.getElementById("myModal").style.display = "block";
        window.addEventListener('keydown', function (event) {
          if (event.key === 'Escape') {
            closeModal();
          }
        })
        $(document).click(function (e) {
          if ($(e.target).is('#myModal')) {
              closeModal();
          }
        });
      }

      function closeModal() {
        $('#myModal').fadeOut(200, "linear");
      }

      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var slides = document.getElementsByClassName("mySlides");
        var pildirida = document.getElementsByClassName("pilt-pildirida");
        var captionText = document.getElementById("captionmodal");
        var markdownTag = document.getElementById("markdown-tag");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (var i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
        captionText.innerHTML = pildirida[slideIndex-1].alt;
        markdownTag.innerHTML = pildirida[slideIndex-1].getAttribute("data-pilt-markdown-tag");
        if (slides.length > 1) {
          var pildidCount = {{ pildid.count }}
          var numberText = document.getElementById("numbertext");
          numberText.innerHTML = pildirida[slideIndex-1].getAttribute("data-pilt-itemnr") + " / " + pildidCount;
        }
      }

      {# Pildile klikkimisel leitakse vaste modaalakna pildireast ja avatakse valitud pilt #}
      function showPilt(event) {
        if ($(event.target).is('img')) {
          var piltId = event.target.getAttribute("data-pilt-id");
          var pildirida = document.getElementsByClassName("pilt-pildirida");
          var pildItemNr = 1;
          for (i = 0; i < pildirida.length; i++) {
            if (pildirida[i].getAttribute("data-pilt-id") === piltId) {
              pildItemNr = pildirida[i].getAttribute("data-pilt-itemnr");
              break;
            }
          }
          if (pildItemNr) {
            openModal();
            currentSlide(parseInt(pildItemNr));
          }
        }
      }

      {# Profiilipildi peal klikkimisel avaneb modaal #}
      var img = document.getElementById("profiiliPilt");
      if (img) {img.onclick = showPilt;}

      {# Lisame object sisus olevatele piltidele klikkimisel modaalakna avamise #}
      var pildidtekstis = document.getElementsByClassName("pilt-pildidtekstis");
      for (i = 0; i < pildidtekstis.length; i++) {
        pildidtekstis[i].classList.add("pilt-detail");
        pildidtekstis[i].onclick = showPilt;
      }

      // button onclick="markdownTagCopy(this)"
      function markdownTagCopy(btn) {
        var markdownTag = document.getElementById("markdown-tag");
        navigator.clipboard.writeText(markdownTag.innerText);
        markdownTag.parentElement.classList.add("w3-pale-green");
        setTimeout(function () {
          markdownTag.parentElement.classList.remove("w3-pale-green");
        }, 2500);
      }

      {#Vasakule või paremale libistamisel vahetame pilte#}
      $(function(){
        document.addEventListener('swiped-left', swipeHandler);
        document.addEventListener('swiped-right', swipeHandler);

        function swipeHandler( event ){
          if(event.handled !== true) // This will prevent event triggering more then once
          {
            // if ($(event.target).is('img')) {
              if ($(event.target).hasClass('pilt-pildimodal')) {
              switch (event.type) {
                case "swiped-left":
                  plusSlides(1);
                  break;
                case "swiped-right":
                  plusSlides(-1);
                  break;
              }
              event.handled = true;
            }
          }
          return false;
        }
      });
    </script>

  {% endif %}
{% endwith %}
