{% load wiki_extras %}
{% if seotud_organisatsioonid_artiklikaudu %}
<!-- Loend seotud organisatsioonidest, mis on nimetatud samas artiklis -->
  <div>
    <h5>
	  <i class="fa fa-chain w3-xlarge text-organisatsioon"></i>
      {% model_name_organisatsioon %}, millega koos mainitud lugudes:<br>
		</h5>
		{% for seotud_organisatsioon, obj in seotud_organisatsioonid_artiklikaudu.items %}
			{% if forloop.counter > 1 %}
				<br>
			{% endif %}
			<a class="hover-organisatsioon tooltip-content" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
{#				<strong>{{ obj.nimi }}</strong>#}
        <span
              title='{{ obj.nimi }}'
              data-model='Organisatsioon'
              data-id='{{ obj.id }}'
              id='Organisatsioon_{{ obj.id }}_seotud_kaudu_organisatsioonid'>
          {{ obj.nimi }}
        </span>
			</a>
			&nbsp;&ndash;&nbsp;
			{% include 'wiki/includes/seotud_artiklikaudu_artiklid.html' with model_id='organisatsioon' %}
		{% endfor %}
  </div>
{% endif %}