<!-- Pildigalerii -->
<script>
function showPilt(imgs) {
  var expandImg = document.getElementById("profiiliPilt");
  var imgText = document.getElementById("imgtext");
  // expandImg.src = imgs.src;
  expandImg.src = imgs.getAttribute("data-img-big");
  expandImg.alt = imgs.alt;
  expandImg.title = imgs.title;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>

{% if object.pilt_set.all %}
  <p><i class="fa fa-camera-retro w3-xlarge text-pilt"></i>
	{% for obj in object.pilt_set.all %}

			<a class="hover-pilt pilt-pildirida" href="#">
				<img
					src="{{ obj.pilt_icon.url }}"
					data-img-big="{{ obj.pilt.url }}"
					alt="{{ obj.caption }}"
					title="{{ obj }}"
					onclick="showPilt(this);"
				>
			</a>

	{% endfor %}
  </p>
{% endif %}
