{% load wiki_extras %}
{% if seotud_isikud_artiklikaudu %}
<!-- Loend seotud isikutest, mis on nimetatud samas artiklis -->
  <div>
		<h5>
			<i class="fa fa-chain w3-xlarge text-isik"></i>
			Isikud, kellega koos mainitud lugudes:
		</h5>
		{% for seotud_isik, obj in seotud_isikud_artiklikaudu.items %}
			{% if forloop.counter > 1 %}
				<br>
			{% endif %}
			<a class="hover-isik tooltip-content" href="{% url 'wiki:wiki_isik_detail' pk=obj.id slug=obj.slug %}">
{#				<strong>{{ obj.nimi }}</strong>#}
        <span
              title='{{ obj.nimi }}'
              data-model='Isik'
              data-id='{{ obj.id }}'
              id='Isik_{{ obj.id }}_seotud_artiklikaudu_isikud'>
          {{ obj.nimi }}
        </span>
			</a>
			&nbsp;&ndash;&nbsp;
			{% include 'wiki/includes/seotud_artiklikaudu_artiklid.html' with model_id='isik' %}
    {% endfor %}
  </div>
{% endif %}