{% load wiki_extras %}
{% with isikud=seotud_isikud %}
  {% if isikud %}
    <!-- Loend seotud isikutest -->
    <p><i class="fa fa-address-card-o w3-xlarge text-isik"></i>
    {% for obj in isikud %}
      {% if forloop.counter > 1 %}
      &ensp;
      {% endif %}
      <a
              class="hover-isik tooltip-content"
              href={% url 'wiki:wiki_isik_detail' pk=obj.id slug=obj.slug %}
      >
        <span
              title='{{ obj }}'
              data-model='{{ obj|get_model_name }}'
              data-id='{{ obj.id }}'
              id='{{ obj|get_model_name }}_{{ obj.id }}'>
          {{ obj }}
        </span>
      </a>
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}