{% if seotud_objektid_artiklikaudu %}
  <!-- Loend seotud objektidest, mis on nimetatud samas artiklis -->
  <div>
  <h5>
    <i class="fa fa-chain w3-xlarge text-objekt"></i>
    Objektid, millega koos mainitud artikli(te)s:<br>
  </h5>
  {% for item, object in seotud_objektid_artiklikaudu.items %}
	{% if forloop.counter > 1 %}
	    <br>
	{% endif %}
	<a class="hover-objekt" href={% url 'wiki:wiki_objekt_detail' pk=object.id %}>{{ object.nimi }}</a>
	{% include 'wiki/includes/seotud_artiklikaudu_artiklid.html' %}
  {% endfor %}
  </div>
{% endif %}