{% load wiki_extras %}
{% with organisatsioonid=seotud_organisatsioonid %}
  {% if organisatsioonid %}
    <!-- Loend seotud organisatsioonidest -->
    <p><i class="fa fa-group w3-xlarge text-organisatsioon"></i>
    {% for obj in organisatsioonid %}
      {% if forloop.counter > 1 %}
      &ensp;
      {% endif %}
      <a
              class="hover-organisatsioon tooltip-content"
              href={% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}
      >
        <span
              title='{{ obj }}'
              data-model='{{ obj|get_model_name }}'
              data-id='{{ obj.id }}'
              id='{{ obj|get_model_name }}_{{ obj.id }}'>
          {{ obj }}
        </span>
      </a>
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}