{% load wiki_extras %}
{% if seotud_objektid_artiklikaudu %}
  <!-- Loend seotud objektidest, mis on nimetatud samas artiklis -->
  <div>
    <h5>
      <i class="fa fa-chain w3-xlarge text-objekt"></i>
      {% model_name_objekt %}, millega koos mainitud lugudes:<br>
    </h5>
    {% for item, obj in seotud_objektid_artiklikaudu.items %}
      {% if forloop.counter > 1 %}
        <br>
      {% endif %}
      <a class="hover-objekt tooltip-content" href="{% url 'wiki:wiki_objekt_detail' pk=obj.id slug=obj.slug %}">
{#        <strong>{{ obj.nimi }}</strong>#}
        <span
              title='{{ obj.nimi }}'
              data-model='Objekt'
              data-id='{{ obj.id }}'
              id='Objekt_{{ obj.id }}_seotud_kaudu_objektid'>
          {{ obj.nimi }}
        </span>
      </a>
      &nbsp;&ndash;&nbsp;
      {% include 'wiki/includes/seotud_artiklikaudu_artiklid.html' with model_id='objekt' %}
    {% endfor %}
  </div>
{% endif %}