{% load static %}
<a
    href="{% url 'wiki:special_valga436' %}"
    class="hover-artikkel"
>
  <h5 class="text-artikkel">
      Valga linn 436 - Palju õnne!
  </h5>
  <img
        style="width: 100%;"
        src="{% static 'wiki/img/special/EKLA-14063-44122-27747_960x600_icon.png' %}"
        alt="Valga linna vaade 1928. aastast 600 m kõrguselt Võru tänava kohalt jaama poole (EKLA, Alb.-32:26)"
        title="Valga linna vaade 1928. aastast 600 m kõrguselt Võru tänava kohalt jaama poole (EKLA, Alb.-32:26)"
  />
</a>