<div id="wiki_calendar" style="margin: auto; display: table; opacity: 0">
  <div id="gw--datetimepicker">
    <header id="gw--datetimepicker-header">
      <ul>
        <li id="gw--datetimepicker-prev">&lt;</li>
        <li id="gw--datetimepicker-selected-year">1971</li>
        <li id="gw--datetimepicker-selected-month">märts</li>
        <li id="gw--datetimepicker-next">&gt;</li>
      </ul>
    </header>
    <div id="gw--datetimepicker-body" data-selected="day">
      <div id="gw--datetimepicker-year" class="gw--datetimepicker-box" style="display: none;">
        <table>
          <tbody id="gw--datetimepicker-year-body"></tbody>
        </table>
      </div>
      <div id="gw--datetimepicker-month" class="gw--datetimepicker-box" style="display: none;">
        <table>
          <tbody id="gw--datetimepicker-month-body">
            <tr>
              <td class="gw--month" id="gw--month-choice-id_1">jaanuar</td>
              <td class="gw--month" id="gw--month-choice-id_2">veebruar</td>
              <td class="gw--month" id="gw--month-choice-id_3">märts</td>
            </tr>
            <tr>
              <td class="gw--month" id="gw--month-choice-id_4">aprill</td>
              <td class="gw--month" id="gw--month-choice-id_5">mai</td>
              <td class="gw--month" id="gw--month-choice-id_6">juuni</td>
            </tr>
            <tr>
              <td class="gw--month" id="gw--month-choice-id_7">juuli</td>
              <td class="gw--month" id="gw--month-choice-id_8">august</td>
              <td class="gw--month" id="gw--month-choice-id_9">september</td>
            </tr>
            <tr>
              <td class="gw--month" id="gw--month-choice-id_10">oktoober</td>
              <td class="gw--month" id="gw--month-choice-id_11">november</td>
              <td class="gw--month" id="gw--month-choice-id_12">detsember</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="gw--datetimepicker-day" class="gw--datetimepicker-box" style="display: block;">
        <table>
          <thead class="w3-hide">
            <tr>
              <th>E</th>
              <th>T</th>
              <th>K</th>
              <th>N</th>
              <th>R</th>
              <th>L</th>
              <th>P</th>
            </tr>
          </thead>
          <tbody id="gw--datetimepicker-day-body"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
