<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoolduse teade</title>

    <style>
        body { text-align: center; padding: 150px; }
        h1 { font-family: "Raleway", sans-serif; font-size: 46px; }
        body { font-family: "Raleway", sans-serif; color: #333; }
        article { display: block; text-align: left; width: 650px; margin: 0 auto; }
        a { color: #00985F; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
        .text-artikkel {color: #00985F; }
    </style>
</head>
<body>
    <article>
        <h1><span class="text-artikkel">valgalinn.ee</span> on peagi tagasi!</h1>
        <div>
            <p>Palume vabandust, kuid serveri hooldus on pooleli. Kui vajad abi, siis <a href="mailto:info@valgalinn.ee">kirjuta meile</a>, aga me oleme peagi tagasi!</p>
            <p>&mdash; <span class="text-artikkel">valgalinn.ee</span></p>
        </div>
    </article>
</body>
</html>