{#object = detailview 'object'#}
{% load static %}
{% load wiki_extras %}
<meta property="og:locale" content="et_EE" />
<meta property="og:site_name" content="Valga linna kroonika" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="Valga linna kroonika{% if object %} - {{ object }}{% endif%}" />
{% if object %}
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ object }}" />
  <meta property="article:section" content="{% get_verbose_name_plural object %}" />
  <meta property="article:published_time" content="{{ object.mod_date|date:'c' }}" />
  <meta property="article:modified_time" content="{{ object.mod_date|date:'c' }}" />
  <meta property="og:updated_time" content="{{ object.mod_date|date:'c' }}" />
{% else %}
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Valga linna kroonika. Lood, inimesed, asutised ja kohad Valga linna ajaloost." />
{% endif %}
<!-- FB piltide share piltide jaoks -->
{% if profiilipilt %}
  <meta property="og:image" content="{{ request.scheme }}://{{ request.site }}{{ profiilipilt.pilt.url }}" />
  <meta property="og:image:width" content="250"/>
  <meta property="og:image:height" content="250"/>
{% else %}
  {% block og_image %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.site }}{% static 'wiki/img/android-chrome-512x512.png' %}" />
  {% endblock %}
{% endif %}
