{#object = detailview 'object'#}
{% load static %}
{% load wiki_extras %}
<meta property="og:locale" content="et_EE" />
<meta property="og:site_name" content="Valga linna kroonika" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="Valga linna kroonika{% if object %} - {{ object }}{% endif%}" />
{% if object %}
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ object }}" />
  <meta property="article:section" content="{% get_verbose_name_plural object %}" />
  <meta property="article:published_time" content="{{ object.mod_date|date:'c' }}" />
  <meta property="article:modified_time" content="{{ object.mod_date|date:'c' }}" />
  <meta property="og:updated_time" content="{{ object.mod_date|date:'c' }}" />
{% else %}
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{% description %}" />
{% endif %}
{% comment %} FB share jaoks {% endcomment %}
<meta property="fb:app_id" content="275987973680424" />
