{% load static %}
{% load wiki_extras %}
<div
        class="w3-bar w3-left-align w3-large"
        id="wiki_base_info"
        data-url="{% url 'wiki:wiki_base_info' %}"
>
  {# Logo + link avalehele #}
  <a
          href="{% url 'algus' %}"
          title="Valga linna kroonika avalehele"
          class="w3-bar-item w3-button w3-hover-white">
    <img
            src="{% static 'wiki/favicon-32x32.png' %}"
            style='max-height:22px;'
            alt="valgalinn.ee logo"
    >
  </a>
  <a
      href="{% url 'algus' %}"
      class="w3-bar-item w3-button w3-hover-white">
    <i
        id="wiki_start_icon"
        style="display: inline-block; margin-right: 10px;"
        class="text-artikkel fa fa-leanpub"
    >
    </i>
    <span class="w3-hide-small">Valga linna kroonika </span>
    <span class="w3-red">{% server_type %}</span>
  </a>

  {# Search on large screens #}
  <a
      href="{% url 'wiki:otsi' %}"
      title="Otsi valitud fraasi järgi"
      class="w3-bar-item w3-button w3-hide-small w3-hover-white">
    <i
        id="wiki_search_icon"
        class="fa fa-search"
    >
    </i>
  </a>

  {# Tagasiside saatmiseks #}
  <a
      class="w3-bar-item w3-button w3-hide-small w3-hover-white"
      id="wiki_base_feedback"
      title="Märkasid viga või oskad täiendada?"
      onclick="showFeedback()">
    <i class="fa fa-bug"></i>
  </a>

  {# Lingid erilehtedele #}
  <a
      href="{% url 'kaart' %}"
      class="w3-bar-item w3-button w3-hide-small w3-hover-white"
      title="Ajaloolised kaardid">
    <i class="fa fa-map-o"></i>
  </a>
  <a
      href="{% url 'info' %}"
      class="w3-bar-item w3-button w3-hide-small w3-hover-white"
      title="Projektist">
    <i class="fa fa-info"></i>
  </a>
  <a
      href="{% url 'blog:blog_index' %}"
      id="wiki_base_blog"
      class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white"
      title="Blogi">
    <i class="{% icon_artikkel %}s-o"></i>
  </a>
  <a
      href="{% url 'ilm:index' %}"
      class="w3-bar-item w3-button w3-hover-white"
      title="Valga linna ilm">
    <i class="fa fa-thermometer"></i>
  </a>
  <a
      href="https://et.wikipedia.org/wiki/Valga"
      target="blank"
      class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white"
      title="Valga linn Wikipedia">
    <i class="fa fa-wikipedia-w"></i>
  </a>
  <a
      href="https://www.facebook.com/valgalinn/"
      target="blank"
      class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white"
      title="Valga linn Facebook">
    <i class="fa fa-facebook-official"></i>
  </a>
  <a
      href="https://www.instagram.com/valgalinn/"
      target="blank"
      class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white"
      title="Valga linn Instagram">
    <i class="fa fa-instagram"></i>
  </a>
  <a
      id="rightMenuLink"
      href="javascript:void(0)"
      class="w3-bar-item w3-button w3-hide-large w3-right"
      onclick="toggleRightMenu()">
    &#9776;
  </a>

  {# Kasutaja ja adminlingid #}
  {% include 'wiki/wiki_base/wiki_base_nav_bar_accounts.html' %}

  <!-- Kalendrivaliku nupp -->
  {% include 'wiki/wiki_base/wiki_base_nav_bar_calendar_system_choice.html' %}
</div>