{% load static %}
<a
    href="{% url 'special_valga442' %}"
>
  <h5 class="text-artikkel w3-round w3-border" style="padding-top: 1em; padding-bottom: 1em;">
    <strong>Valga linn 442 - palju õnne!</strong>
  </h5>
  <img
        class="pilt-detail"
        style="width: 100%; margin-top: 1em"
        src="{% static 'wiki/img/special/VaMF1816_5_1_fragment_resized.jpg' %}"
        alt='2026. aastal saab 210 aastat Jaani kiriku valmimisest (Allikas: Valga Muuseum, VaM F 1816:5, 05.11.2022)'
        title="2026. aastal saab 210 aastat Jaani kiriku valmimisest (Allikas: Valga Muuseum, VaM F 1816:5, 05.11.2022)"
  />
  <div class="w3-tiny">
    2026. aastal saab 210 aastat Jaani kiriku valmimisest (Allikas: Valga Muuseum, VaM F 1816:5, 05.11.2022)
  </div>
</a>
