{% load static %}
<a
    href="{% url 'special_j6ul2024' %}"
    title="Vaata pühadetervitust"
>
  <section style='border-radius: 1rem;'>
    <img
          style="width: 100%; margin-top: 1em"
          src="{% static 'wiki/img/special/VaMF2744_5_j6ul2024_icon.jpg' %}"
          alt='110 aasta tagune fotopostkaart Valga linna vaatega (VaM F 2744:5); Valga Muuseum'
    />
    <div
        class="holidays-title-small"
    >
      {% now "Y" as current_year %}
      <strong>{% if current_year == '2024' %}Ilusat jõuluaega!{% else %}Head uut aastat!{% endif %}</strong>
    </div>
  </section>
  <div class="w3-tiny">
    110 aasta tagune fotopostkaart Valga linna vaatega (VaM F 2744:5); Valga Muuseum
  </div>
</a>