{% load static %}
<a
    href="{% url 'special_valga440' %}"
>
  <h5 class="text-artikkel w3-round w3-border" style="padding-top: 1em; padding-bottom: 1em;">
    <strong>Valga linn 440 - palju õnne!</strong>
  </h5>
  <img
        class="pilt-detail"
        style="width: 100%; margin-top: 1em"
        src="https://valgalinn.ee/media/pildid/2024/05/27/DIGAR_68021_1.jpg"
        alt='Walk: üldwaade: Meesreaalgümnaasium (ESTER b2513498x)'
        title="Walk: üldwaade: Meesreaalgümnaasium (ESTER b2513498x)"
  />
  <div class="w3-tiny">
    Vaade Puiestee tänavale 20. sajandi alguses - tuletõrje depoo ja vahitorn (ERM Fk 2966:470)
  </div>
</a>
