{% load static %}
<a
    href="{% url 'special_valga439' %}"
>
  <h5 class="background-artikkel w3-round" style="padding-top: 1em; padding-bottom: 1em;">
    <strong>Valga linn 439 - palju õnne!</strong>
  </h5>
  <img
        style="width: 100%; margin-top: 1em"
        src="https://valgalinn.ee/media/pildid/2020/08/26/ERMFk2966_470_1_pisipilt.jpg"
        alt='Vaade Puiestee tänavale 20. sajandi alguses - tuletõrje depoo ja vahitorn (ERM Fk 2966:470)'
        title="Vaade Puiestee tänavale 20. sajandi alguses - tuletõrje depoo ja vahitorn (ERM Fk 2966:470)"
  />
  <div class="w3-tiny">
    Pildil: Tütarlaste Gümnaasium enne 1909. aastat (veel ilma saaliosata). Allikas: Valga Muuseum, VaM F 439:1
  </div>
</a>

{#https://valgalinn.ee/media/pildid/2020/08/26/ERMFk2966_470_1_pisipilt.jpg#}
{#https://valgalinn.ee/media/pildid/2020/08/26/ERMFk2966_470_1_pisipilt_icon.jpg#}