{% load static %}
<a
    href="{% url 'special_valga438' %}"
>
  <h5 class="background-artikkel w3-round" style="padding-top: 1em; padding-bottom: 1em;">
    <strong>Valga linn 438 - palju õnne!</strong>
  </h5>
  <img
        style="width: 100%; margin-top: 1em"
        src="{% static 'wiki/img/special/VaMF439_1_1_cr_small.jpg' %}"
        alt='Valga linna vaade õhust 1928. aastast'
        title="Valga linna vaade õhust 1928. aastast"
  />
  <div class="w3-tiny">
    Pildil: Tütarlaste Gümnaasium enne 1909. aastat (veel ilma saaliosata). Allikas: Valga Muuseum, VaM F 439:1
  </div>
</a>
