{% load static %}
<a
    href="{% url 'special_valga441' %}"
>
  <h5 class="text-artikkel w3-round w3-border" style="padding-top: 1em; padding-bottom: 1em;">
    <strong>Valga linn 441 - palju õnne!</strong>
  </h5>
  <img
        class="pilt-detail"
        style="width: 100%; margin-top: 1em"
        src="{% static 'wiki/img/special/VaMF2667_10-N_resized.png' %}"
        alt='Supelbassein Pedeli ääres. Taga näha Ramsi veski. (VaM F 2667:10/N); Valga Muuseum (koloreeritud hotpot.ai abil)'
        title="Supelbassein Pedeli ääres. Taga näha Ramsi veski. (VaM F 2667:10/N); Valga Muuseum (koloreeritud hotpot.ai abil)"
  />
  <div class="w3-tiny">
    Supelbassein Pedeli ääres. Taga näha Ramsi veski. (VaM F 2667:10/N); Valga Muuseum (koloreeritud hotpot.ai abil)
  </div>
</a>
