{% extends "wiki/wiki_base.html" %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block src %}
{% endblock %}

{% block title %}{{ block.super }} - Valga 437!{% endblock %}

{% block css %}
<style>
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');

div.image-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.image-wrapper img {
  display: block;
}

#test {
  position: relative;
  left:0;
  top:50%;
  right:0;
  height:100px;
  margin: 0 auto;
  text-align:center;
  width: 100%;
  font-family: 'Just Another Hand', cursive;
}
</style>
{% endblock %}


{% block og_image %}
  <meta property="og:image" content="https://valgalinn.ee{% static 'wiki/img/special/Alb 32-27_cr_960x600.png' %}" />
{% endblock %}

{% block content %}
  <div class="w3-container image-wrapper">
    <h4 class="text-artikkel" style="text-align: center;">
      Valga linn 437 - Palju õnne!
    </h4>
    <img
        src="{% static 'wiki/img/special/Alb 32-27_cr_960x600.png' %}"
        alt="Valga linn 437"
        style="width:100%"
    >

    <div
        style="font-family: 'Just Another Hand', cursive; text-align: center;"
        id="txtHolder"
        class="w3-hide-large"
    >
    </div>

    <p style="text-align: center;">
      <small>
        Valga linna vaade 1928. aastast 600 m kõrguselt linnapargi kohalt kesklinna poole (EKLA, Alb.-32:27)
      </small>
    </p>
    {% include 'wiki/includes/object_fbshare.html' %}
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}