{% extends "wiki/wiki_base.html" %}
{% load static %}

{% block src %}{% endblock %}

{% block title %}{{ block.super }} - {{ pyhadesoov }}{% endblock %}

{% block css %}
  <style>
    .Site {
        background-color: #FAEBD7;
    }
  </style>
{% endblock %}

{% block og_image %}
  <meta property="og:image" content="https://valgalinn.ee{% static 'wiki/img/special/VaMF808_21_1_j6ul2022_fb.png' %}" />
  <meta property="og:description" content="{{ pyhadesoov }}" />
{% endblock %}

{% block content %}
  <div class="w3-container image-wrapper">
    <div
        style="color: red; text-align: center; padding-top: 1em"
        class="holidays-title-small w3-hide-large"
    >
      {{ pyhadesoov }} soovib {{ tervitaja }}!
    </div>
    <section class='addLights' style='border-radius: 1rem;'>
      <img
          src="{% static 'wiki/img/special/VaMF808_21_1_j6ul2022.jpg' %}"
          alt="{{ pyhadesoov }} - Talvine Valga vaade üle Pedeli Valge maja suunas (VaM F 808:21, Valga Muuseum)"
          style="width:100%"
      >
      <div id="divGreeting" class="holidays-title w3-hide-small w3-hide-medium">
        {{ pyhadesoov }} soovib {{ tervitaja }}!
      </div>
    </section>
    <p style="text-align: center; padding-top: 16px">
      <small>
        Talvine Valga vaade üle Pedeli Valge maja suunas (VaM F 808:21, Valga Muuseum)
      </small>
    </p>
    <div class="w3-tiny">
      Oma nimega jõulukaardi saatmiseks kasutage aadressi: https://valgalinn.ee/j6ul2022/?<i>minginimi</i> NB! Küsimärk peab olema!
    </div>
    <div
        class="fb-share-button"
        data-href="{% url 'special_j6ul2022' %}"
        data-layout="button"
        data-size="small">
      <a
          target="_blank"
          href="https://www.facebook.com/sharer/sharer.php?u={% url 'special_j6ul2022' %}%2F&amp;src=sdkpreparse"
          class="fb-xfbml-parse-ignore">Jaga
      </a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function() {
      showLights();
      $("body").removeClass("w3-light-grey");
      var divGreeting = document.getElementById("divGreeting");
      var textLength = divGreeting.innerText.length;
      if (textLength > 41) {
        divGreeting.style.fontSize = "1.5em";
      } else if (textLength > 37) {
        divGreeting.style.fontSize = "1.7em";
      }
    });
  </script>
{% endblock %}