{#Juhul kui lehel on mitu sama loaderit, peab n määratud olema #}
<div class="loaderbook" id="loaderDiv{{ n|default:'1' }}">
	<div class="book w3-padding-16">
		<div class="inner">
			<div class="left"></div>
			<div class="middle"></div>
			<div class="right"></div>
		</div>
    <ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
  </div>
</div>
