{% load static %}
{% with url=request.scheme|add:'://'|add:request.get_host|add:object.get_absolute_url %}
<a
        class="icon-link round-corner facebook fill"
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u={{ url | urlencode }}%2F&amp;src=sdkpreparse"
>
  <i class="fa fa-facebook"></i>
</a>
<a
        class="icon-link round-corner linkedin fill"
        href="https://www.linkedin.com/shareArticle?mini=true&title=valgalinn.ee: {{ object }}&url={{ url }}"
>
  <i class="fa fa-linkedin"></i>
</a>
<a
        class="icon-link round-corner twitter fill"
        href="https://twitter.com/intent/tweet?text=valgalinn.ee ({{ object }}): {{ url }}"
>
  <i class="fa fa-twitter"></i>
</a>
<a
        class="icon-link round-corner envelope fill"
        href="mailto:?subject=valgalinn.ee: {{ object }}&body={{ object }}: {{ url }}"
>
  <i class="fa fa-envelope"></i>
</a>
<a
        class="icon-link round-corner qrcode fill"
        title="Näita QR koodi"
        onclick="showShareQRCodeOptions(this)"
        data-uri="{{ url }}"
>
  <i class="fa fa-qrcode"></i>
</a>
<a
        class="icon-link round-corner bug fill"
        title="Märkasid viga või oskad täiendada?"
        onclick="showFeedback()"
>
  <i class="fa fa-bug"></i>
</a>

<div id="shareQRCodeModal_{{ object.id }}" class="modal w3-center">
  <span id="button-close-modal" class="close cursor" onclick="closeQRCodeModal()">&times;</span>
  <div class="modal-content">
      <div class="myQRCode">
        <img
                id="qrcode_{{ object.id }}"
                src=""
                alt="{{ url }}"
{#                Järgmine rida ei tööta korrektselt #}
{#                title="{{ url }}"#}
                style="width: 90%;"
        />
      </div>
  </div>
</div>
{% endwith %}

<script>
  function openQRCodeModal(uri) {
    {# Järgnev rida tagab, et navbar ei tuleks modal akna peale #}
    document.getElementsByTagName("header")[0].style.zIndex = 0;
    $.ajax(
      {
        type: "GET",
        url: "{% url 'wiki:get_qrcode_from_uri' %}",
        data: {'uri': uri},
        success: function(response) {
          $("#qrcode_{{ object.id }}").attr('src', response);
          document.getElementById("shareQRCodeModal_{{ object.id }}").style.display = "block";
          window.addEventListener('keydown', function (event) {
            if (event.key === 'Escape') {
              closeQRCodeModal();
            }
          })
          $(document).click(function (e) {
            if ($(e.target).is('#shareQRCodeModal_{{ object.id }}')) {
                closeQRCodeModal();
            }
          });
        }
       }
    )
  }

  function closeQRCodeModal() {
    $('#shareQRCodeModal_{{ object.id }}').fadeOut(200, "linear");
  }

  function showShareQRCodeOptions(evt) {
    uri = evt.dataset.uri;
    openQRCodeModal(uri);
  }
</script>
