<!DOCTYPE html>
<html lang="et">
	<meta charset="utf-8">
	<head>
		<title>{% block title %}Valga linna kroonika blogi{% endblock %}</title>
		{% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="description" content="Valga linna kroonika blogi" />
		<meta name="keywords" content="Valga, linn, kroonika, ajalugu" />
		<meta name="author" content="Kalev Härk" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Kirjeldus -->
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Valga linna kroonika" />
		<meta property="og:description"   content="Valga linna kroonika" />
		<meta property="og:image"         content="{% static 'wiki/img/220px-Valga_coat_of_arms.svg.png' %}" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--		Bootstrap-->
<!--		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{% static 'wiki/css/kroonika_general.css' %}">
  	<!--  Alternatiivsed värvivalikud metro või colorful-->
  	<link rel="stylesheet" href="{% static 'wiki/css/kroonika_color_metro.css' %}">
		{% block stylesheet %}{% endblock %}

		<link rel="shortcut icon" href="{% static 'ilm/img/favicon.ico' %}">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151102639-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-151102639-1');
		</script>
  </head>
  <body class="w3-light-grey">
    <header>
			<!-- Navbar -->
			<div id="top" class="w3-top">
				<div class="w3-bar w3-left-align w3-large">
					<a
						href="{% url 'algus' %}"
						title="Valga linna kroonika avalehele"
						class="w3-bar-item w3-button w3-hover-white">
						<img
								src="{% static 'wiki/img/220px-Valga_coat_of_arms.svg.png' %}"
								style='max-height:22px;'
								alt="vapp">
					</a>
					<a
							href="{% url 'blog:blog_index' %}"
							class="w3-bar-item w3-button w3-theme-d4 w3-hover-white">
						Valga linna kroonika blogi
					</a>
					<a
							href="{% url 'algus' %}"
							class="w3-bar-item w3-button w3-hide-small w3-hover-white"
							title="Valga linna kroonika">
						<i class="fa fa-leanpub"></i>
					</a>
				</div>
			</div>
		</header>

		<main>
      {% block content %}{% endblock %}
    </main>

    <footer>
	  <div class="w3-bar">
        <a href="#">
	      <button class="w3-button w3-hover-white fa fa-angle-double-up"></button>
	    </a>
	    <a href="{% url 'ilm:index' %}">
          <button class="w3-button w3-hover-white w3-right w3-text-grey"><small>&#9400;&nbsp;2018-2019 Kalev Härk</small></button>
	    </a>
      </div>
		</footer>

		<!-- jQuery teek -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<!-- Äpi skriptid, kui vaja -->
	  {% block javascript %}{% endblock %}
	</body>
</html>