{% extends "blog/blog_base.html" %}
{% block content %}
<div class="w3-container">
    {% for post in posts %}
    <h5><a href="{% url 'blog:blog_detail' post.pk%}">{{ post.title }}</a></h5>
    <small>
        {{ post.created_on.date | date:'d.m.Y' }} |&nbsp;
        Teemad:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog:blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p class="w3-hover-white">
      <a
          href="{% url 'blog:blog_detail' post.pk%}"
          title="Loe edasi..."
      >
        {{ post.body_summary | safe }}<small> loe edasi</small>
      </a>
    </p>
    {% endfor %}
</div>
{% endblock %}