{% extends "blog/blog_base.html" %}
{% load static %}

{% block title %}{{ block.super }} - jutud {% endblock %}

{% block src %}
  <script src="{% static 'wiki/js/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'wiki/js/waypoints/infinite.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="w3-container">
    {% if category %}
      Valitud teema: {{ category }}
    {% endif %}
  </div>
  <div class="infinite-container">
      <div
              class="w3-container infinite-item"
              data-url="{{ jutt.get_absolute_url }}"
      >
        <div class="w3-row">
          <h3>
            <a
                href="{% url 'blog:blog_index' %}"
                class="w3-button w3-theme-d4 w3-hover-white"
                title="Tagasi loetellu"
            >
              <i class="fa fa-list"></i>
            </a>
            <a
                    class="copylink w3-tooltip w3-hover-white"
                    onclick="getLinkCopy(this)"
                    data-uri="{{ request.scheme|add:'://'|add:request.get_host|add:jutt.get_absolute_url }}"
            >
              &nbsp;{{ jutt.title }}
              <span
                      class="copylink-confirmation w3-text"
                      id="linkCopyTooltip"
              >
                <i class="fa fa-clone"></i>
              </span>
            </a>
          </h3>
          <small>
            {{ jutt.created_on | date:'d.m.Y' }} |&nbsp;
            Teemad:&nbsp;
            {% for category in jutt.categories.all %}
              <a
                      class="w3-hover-white"
                      href="?category={{ category.id }}">
                {{ category.name }}
              </a>&nbsp;
            {% endfor %}
          </small>
        </div>
        <div class="w3-row">
          <div class="w3-quarter">
            {% include 'includes/object_fbshare.html' with object=jutt %}
          </div>
          <div class="w3-threequarter">
            <p>{{ jutt.formatted_markdown | safe }}</p>
          </div>
        </div>
{#      <h6>Kui tahad midagi öelda:</h6>#}
{#      <form action="/blog/{{ post.pk }}/" method="post">#}
{#        {% csrf_token %}#}
{#        <div>#}
{#          {{ form.author }}#}
{#        </div>#}
{#        <div>#}
{#          {{ form.body }}#}
{#        </div>#}
{#        <input type="submit" value="Saada">#}
{#      </form>#}
{#      {% if comments %}#}
{#        <h6>Arvamused:</h6>#}
{#      {% endif %}#}
{#      {% for comment in post.comment_set.all %}#}
{#        <div class="w3-hover-white">#}
{#          <p>#}
{#            <small><b>{{ comment.author }}</b> kirjutas {{comment.inp_date | date:'d.m.Y' }}:</small>#}
{#          </p>#}
{#          <p>{{ comment.body }}</p>#}
{#        </div>#}
{#      {% endfor %}#}
      </div>
  </div>

  {% if jutud.has_next %}
    <a class="infinite-more-link" href="?category={{ category }}&page={{ jutud.next_page_number }}"></a>
  {% endif %}

  {% include 'wiki/includes/div_loader_book.html' %}

{% endblock %}

{% block javascript %}
  <script>
    // Linkide kopeerimine lõikelauale
    // button onclick="getLinkCopy(this)" onmouseout="outLinkCopy()"
    function getLinkCopy(btn) {
      var linkCopyUrl = btn.getAttribute("data-uri")
      navigator.clipboard.writeText(linkCopyUrl);
      var tooltip = document.getElementById("linkCopyTooltip");
      if (tooltip !== null) {
        var tooltipInnerHTMLOld = tooltip.innerHTML;
        tooltip.classList.add("w3-pale-green");
        tooltip.innerHTML = "kopeeritud lõikelauale";
        setTimeout(function () {
          tooltip.innerHTML = tooltipInnerHTMLOld;
          tooltip.classList.remove("w3-pale-green");
        }, 2500);
      }
    }

    // muudame brauseri uri kerimisel
    function setUrl(item) {
      window.history.pushState(null, '', item.element.getAttribute('data-url'));
    }

    // esimese elemendi waypoint
    var continuousElements = document.getElementsByClassName('infinite-item')
    new Waypoint({
      element: continuousElements[0],
      handler: function() {
        setUrl(this);
      },
      offset: 25
    })

    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $("#loaderDiv1").show();
      },
      onAfterPageLoad: function ($items) {
        $("#loaderDiv1").hide();
        // console.log($items[0].getAttribute('data-url'));
        new Waypoint({
          element: $items[0],
          handler: function() {
            setUrl(this);
          },
          offset: 50
        })
      }
    })
  </script>
{% endblock %}