{% extends "blog/blog_base.html" %}
{% load static %}

{% block title %}{{ block.super }} - jutud {% endblock %}

{% block src %}
  <script src="{% static 'wiki/js/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'wiki/js/waypoints/infinite.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="infinite-container">
      <div class="w3-container infinite-item">
        <div class="w3-row">
          <h5>
            <a
                href="{% url 'blog:blog_index' %}"
                class="w3-button w3-theme-d4 w3-hover-white"
                title="Tagasi loetellu"
            >
              <i class="fa fa-list"></i>
            </a> {{ jutt.title }}
          </h5>
        </div>
        <div class="w3-row">
          <div class="w3-quarter">
            <div class="w3-row">
              <small>
                {{ jutt.created_on | date:'d.m.Y' }} |&nbsp;
                Teemad:&nbsp;
                {% for category in jutt.categories.all %}
                  <a
                          class="w3-hover-white"
                          href="?category={{ category.id }}">
                    {{ category.name }}
                  </a>&nbsp;
                {% endfor %}
              </small>
            </div>
            {% include 'includes/object_fbshare.html' with object=jutt %}
          </div>
          <div class="w3-threequarter">
            <p>{{ jutt.formatted_markdown | safe }}</p>
          </div>
        </div>
{#      <h6>Kui tahad midagi öelda:</h6>#}
{#      <form action="/blog/{{ post.pk }}/" method="post">#}
{#        {% csrf_token %}#}
{#        <div>#}
{#          {{ form.author }}#}
{#        </div>#}
{#        <div>#}
{#          {{ form.body }}#}
{#        </div>#}
{#        <input type="submit" value="Saada">#}
{#      </form>#}
{#      {% if comments %}#}
{#        <h6>Arvamused:</h6>#}
{#      {% endif %}#}
{#      {% for comment in post.comment_set.all %}#}
{#        <div class="w3-hover-white">#}
{#          <p>#}
{#            <small><b>{{ comment.author }}</b> kirjutas {{comment.inp_date | date:'d.m.Y' }}:</small>#}
{#          </p>#}
{#          <p>{{ comment.body }}</p>#}
{#        </div>#}
{#      {% endfor %}#}
      </div>
  </div>

  {% if jutud.has_next %}
    <a class="infinite-more-link" href="?category={{ category }}&page={{ jutud.next_page_number }}"></a>
  {% endif %}

  {% include 'wiki/includes/div_loader_book.html' %}

{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $("#loaderDiv1").show();
      },
      onAfterPageLoad: function ($items) {
        $("#loaderDiv1").hide();
      }
    })
  </script>
{% endblock %}