<div>
  <input type="text" name="{{name}}_text" id="{{html_id}}_text" value="" autocomplete="off"  {{ extra_attrs }} />
  {% if add_link %}
    <a href="{{ add_link }}" class="add-another addlink" id="add_{{ html_id }}" onclick="return showAddAnotherPopup(this);"> add</a>
  {% endif %}
  <input type="hidden" name="{{name}}" id="{{html_id}}" value="{{current_ids}}" data-ajax-select="autocompleteselectmultiple" data-plugin-options="{{ data_plugin_options }}" />
  <div id="{{html_id}}_on_deck" class="results_on_deck"></div>
</div>
{% block extra_script %}
  <script type="text/javascript">

    // lisab kopeerimise nupule clipboardi funktsionaalsuse
    // object: viide, artikkel, isik, organisatsioon, objekt
    function addCopyEvent() {
      $(document).on("click", ".ui-icon-copy", function() {
        var elementId = this.id; // Faster native JS way to get ID
        const keywords = ["viide", "artikkel", "isik", "organisatsioon", "objekt", "pilt"];
        const regex = new RegExp("copy_" + keywords.join("|"), "i"); // "i" makes it case-insensitive
        if (!regex.test(elementId)) {
          console.error('Element ID does not match any of the expected keywords:', elementId);
          return;
        }
        var objectId = "[" + elementId.replace("copy_", "") + "]";
        navigator.clipboard.writeText(objectId).then(function() {
          var el = $('#' + elementId);
          el.addClass('ui-icon-check');
          el.removeClass('ui-icon-copy');
          setTimeout(() => {
            el.addClass('ui-icon-copy');
            el.removeClass('ui-icon-check');
          }, "1000");
        }).catch(function(err) {
          console.error('Could not copy text: ', err);
        });
      });
    }

    // numereerib viited
    function numereeri() {
      var outerDiv = document.getElementById("{{html_id}}_on_deck");
      for (var index = 0; index < outerDiv.childNodes.length; index++) {
        var childNode = outerDiv.childNodes[index];
        var viiteNumbrid = childNode.getElementsByClassName('viite_number');
        var uusViiteNumber = '[' + (index+1) + '] ';
        var esp;
        if (viiteNumbrid !== undefined && viiteNumbrid.length > 0) {
          esp = viiteNumbrid[0];
        } else {
          esp = document.createElement("span");
          esp.classList.add("viite_number");
          var elemRepr = childNode.getElementsByClassName('repr')[0];
          elemRepr.insertAdjacentElement("afterbegin", esp);
        }
        esp.innerHTML = uusViiteNumber;
      }
    }

    setTimeout(() => {
      numereeri();
      addCopyEvent();
    }, "500");

    $("#{{html_id}}_on_deck").bind('added', function() {
      // var id = $("#{{html_id}}").val();
      // console.log('added id:' + id );
      numereeri();
      addCopyEvent();
    });
    $("#{{html_id}}_on_deck").bind('killed', function() {
      // var current = $("#{{html_id}}").val()
      // console.log('removed, current is:' + current);
      numereeri();
    });
  </script>
{% endblock %}
{# django admin adds the help text. this is for use outside of the admin #}
{% block help %}{% if help_text %}<p class="help">{{help_text}}</p>{% endif %}{% endblock %}

