<input type="text" name="{{name}}_text" id="{{html_id}}_text" value="" autocomplete="off"  {{ extra_attrs }} />
{% if add_link %}
	<a href="{{ add_link }}" class="add-another addlink" id="add_{{ html_id }}" onclick="return showAddAnotherPopup(this);"> add</a>
{% endif %}
<input type="hidden" name="{{name}}" id="{{html_id}}" value="{{current_ids}}" data-ajax-select="autocompleteselectmultiple" data-plugin-options="{{ data_plugin_options }}" />
<div id="{{html_id}}_on_deck" class="results_on_deck"></div>
{% block extra_script %}
  <script type="text/javascript">
    // numereerib viited
    function numereeri() {
      var outerDiv = document.getElementById("id_viited_on_deck");
      for (var index = 0; index < outerDiv.childNodes.length; index++) {
        var childNode = outerDiv.childNodes[index];
        var viiteNumbrid = childNode.getElementsByClassName('viite_number');
        // console.log(viiteNumbrid);
        var uusViiteNumber = '(' + (index+1) + ')';
        var esp;
        if (viiteNumbrid !== undefined && viiteNumbrid.length > 0) {
          esp = viiteNumbrid[0];
        } else {
          esp = document.createElement("span");
          esp.classList.add("viite_number");
          childNode.appendChild(esp);
        }
        esp.innerHTML = uusViiteNumber;
      }
    }

    setTimeout(() => {
      numereeri();
    }, "500");

    $("#{{html_id}}_on_deck").bind('added', function() {
      // var id = $("#{{html_id}}").val();
      // console.log('added id:' + id );
      numereeri();
    });
    $("#{{html_id}}_on_deck").bind('killed', function() {
      // var current = $("#{{html_id}}").val()
      // console.log('removed, current is:' + current);
      numereeri();
    });
  </script>
{% endblock %}
{# django admin adds the help text. this is for use outside of the admin #}
{% block help %}{% if help_text %}<p class="help">{{help_text}}</p>{% endif %}{% endblock %}

