{% extends "rest_framework/base.html" %}

{% load static %}
{% load wiki_extras %}

{% block head %}{{ block.super }}
  <link rel="shortcut icon" href="{% static 'wiki/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'wiki/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'wiki/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'wiki/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'wiki/site.webmanifest' %}">

  <meta name="description" content="Valga linna kroonika. Lood, inimesed, asutised ja kohad Valga linna ajaloost." />
  <meta name="author" content="{% kalev %}" />
{% endblock %}

{% block title %}valgalinn.ee API{% endblock %}
{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="https://valgalinn.ee">'valgalinn.ee API</a>
{% endblock %}
