{% load static %}
{% load wiki_extras %}
  <!-- Sel päeval sada aastat tagasi toimunud -->
  {% if andmed.sada_aastat_tagasi %}
    <h5>
      Täna 100 aastat tagasi...
    </h5>

    {% if andmed.isik.sada_aastat_tagasi %}
      <div style="padding-top: 0.5em;">
        {% for obj in andmed.isik.sada_aastat_tagasi %}
          {% if forloop.counter > 1 %}
            <br>
          {% endif %}
          ...sündis {% include 'wiki/algus/algus_isikud_isik_pildiga.html' with section='sada_aastat_tagasi' %}
        {% endfor %}
      </div>
    {% endif %}
    {% if andmed.organisatsioon.sada_aastat_tagasi %}
      <div style="padding-top: 0.5em;">
        {% for obj in andmed.organisatsioon.sada_aastat_tagasi %}
          {% if forloop.counter > 1 %}
            <br>
          {% endif %}
          ...asutati {% include 'wiki/algus/algus_organisatsioonid_organisatsioon_pildiga.html' with section='sada_aastat_tagasi' %}
          {% comment %} <a class="hover-organisatsioon" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
            ...asutati <strong>{{ obj }}</strong>
            {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
          </a> {% endcomment %}
        {% endfor %}
      </div>
    {% endif %}
    {% if andmed.objekt.sada_aastat_tagasi %}
      <div style="padding-top: 0.5em;">
        {% for obj in andmed.objekt.sada_aastat_tagasi %}
          {% if forloop.counter > 1 %}
            <br>
          {% endif %}
          ...valmis {% include 'wiki/algus/algus_objektid_objekt_pildiga.html' with section='sada_aastat_tagasi' %}
          {% comment %} <a class="hover-objekt" href="{% url 'wiki:wiki_objekt_detail' pk=obj.id slug=obj.slug %}">
            ...valmis <strong>{{ obj }}</strong>
            {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
          </a> {% endcomment %}
        {% endfor %}
      </div>
    {% endif %}
    {% if andmed.artikkel.sada_aastat_tagasi %}
      <div>
        {% for obj in andmed.artikkel.sada_aastat_tagasi %}
          {% if forloop.counter > 1 %}
            <br>
          {% endif %}
          <strong>... </strong>{% include 'wiki/algus/algus_artiklid_artikkel_pildiga.html' with section='sada_aastat_tagasi' %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  <!-- Sel päeval toimunud -->
  {% if andmed.artikkel.sel_p2eval %}
    <h5>
      <a
              class="hover-artikkel"
              href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}"
              title="Näita kõiki {% now "j.m." %} ajaloos"
      >
        {% now "j." %} {% include 'wiki/includes/kuu.html' with kuu=kuu %} ajaloos <span class="w3-badge background-artikkel">{{ andmed.artikkel.sel_p2eval_kirjeid }}</span>
      </a>
    </h5>
    {% for obj in andmed.artikkel.sel_p2eval %}
      {% if forloop.counter > 1 %}
        <br>
      {% endif %}
      <strong>{% include 'wiki/includes/date_year.html' with obj=obj %}</strong>{% include 'wiki/algus/algus_artiklid_artikkel_pildiga.html' with section='sel_p2eval' %}
      
      {# Kui kirjed rohkem kui artikleid_max_split, siis hakime artikleid_max_split_half+1+artikleid_max_split_half  #}
      {% if andmed.artikkel.sel_p2eval_kirjeid > andmed.artikkel.artikleid_max_split %}
        {% if forloop.counter == andmed.artikkel.artikleid_max_split_half %}
          <br>
          <a
                  class="hover-artikkel"
                  href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}"
                  title="Näita kõiki {% now "j.m." %} ajaloos"
          >
            [ . . . ]
          </a>
        {% endif %}
        {% if forloop.counter == andmed.artikkel.artikleid_max_split_half|add:"1" %}
          <br>
          <a
                  class="hover-artikkel"
                  href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}"
                  title="Näita kõiki {% now "j.m." %} ajaloos"
          >
            [ . . . ]
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if andmed.artikkel.sel_p2eval_kirjeid > andmed.artikkel.artikleid_max_split %}
      <p>
        <a class="hover-artikkel" href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}">
          Näita kõiki <em>{% now "j.m." %} ajaloos</em> ({{ andmed.artikkel.sel_p2eval_kirjeid }})
        </a>
      </p>
    {% endif %}
  {% endif %}

  <!-- Sel kuul toimunud -->
  {% if andmed.artikkel.sel_kuul %}
    <h5>
      <a
              class="hover-artikkel"
              href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}"
              title="Näita kõiki {% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos"
      >
        {% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos <span class="w3-badge background-artikkel">{{ andmed.artikkel.sel_kuul_kirjeid }}</span>
      </a>
    </h5>
    {% for obj in andmed.artikkel.sel_kuul %}
      {% if forloop.counter > 1 %}
        <br>
      {% endif %}
      <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
      {% include 'wiki/algus/algus_artiklid_artikkel_pildiga.html' with section='sel_kuul' %}
      {# Kui kirjed rohkem kui artikleid_max_split, siis hakime artikleid_max_split_half+1+artikleid_max_split_half  #}
      {% if andmed.artikkel.sel_kuul_kirjeid > andmed.artikkel.artikleid_max_split %}
        {% if forloop.counter == andmed.artikkel.artikleid_max_split_half %}
          <br>
          <a
                  class="hover-artikkel"
                  href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}"
                  title="Näita kõiki {% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos"
          >
            [ . . . ]
          </a>
        {% endif %}
        {% if forloop.counter == andmed.artikkel.artikleid_max_split_half|add:"1" %}
          <br>
          <a
                  class="hover-artikkel"
                  href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}"
                  title="Näita kõiki {% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos"
          >
            [ . . . ]
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if andmed.artikkel.sel_kuul_kirjeid > andmed.artikkel.artikleid_max_split %}
      <p>
        <a class="hover-artikkel" href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}">
          Näita kõiki <em>{% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos</em> ({{ andmed.artikkel.sel_kuul_kirjeid }})
        </a>
      </p>
    {% endif %}
  {% endif %}

  <!-- top -->
  {% if andmed.artikkel.loetumad %}
    <h5>
      {% model_name_artikkel as model_name_artikkel %}
      loetumad {{ model_name_artikkel|lower }}
    </h5>
    {% for obj in andmed.artikkel.loetumad %}
      {% if forloop.counter > 1 %}
        <br>
      {% endif %}
      <strong>{% include 'wiki/includes/date_year.html' with obj=obj %}</strong>
      {% include 'wiki/algus/algus_artiklid_artikkel_pildiga.html' with section='loetumad' %}
      <small>&nbsp;{{ obj.total_accessed }} vaatamist</small>
    {% endfor %}
  {% endif %}