{% load wiki_extras %}
<div
        class="card w3-round w3-hide-large w3-hide-medium"
>
  <a class="w3-tooltip" style="text-decoration: none;" href="{% url 'wiki:wiki_organisatsioon_filter' %}">
    <div
            class="w3-container w3-round background-organisatsioon w3-padding-16 icon"
    >
      <div class="w3-left">
          <i class="{% icon_organisatsioon %} w3-xxxlarge"></i>
      </div>
      <div class="w3-right">
        <h4>{% model_name_organisatsioon %} ({{ andmed.organisatsioon.kirjeid }})</h4>
      </div>
    </div>
  </a>
</div>
{% if andmed.organisatsioon.sel_p2eval %}
  <h5>
    <a
{#            style="text-decoration:none;"#}
            class="hover-organisatsioon"
            href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}#bookmark_organisatsioonid"
            title="Kõik {% now "j.m." %} asutatud"
    >
      {% now "j.m." %} asutatud <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.sel_p2eval_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.sel_p2eval %}
    {% if forloop.counter > 1 %}
        <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    <a class="hover-organisatsioon tooltip-content" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
      <span
            title='{{ obj }}'
            data-model='{{ obj|get_model_name }}'
            data-id='{{ obj.id }}'
            id='{{ obj|get_model_name }}_{{ obj.id }}_selp2eval'>
        {{ obj }}
      </span>
      {% if obj.vanus|divisibleby:"5" %}
        &nbsp;&nbsp;<span class="text-organisatsioon"><b>{{ obj.vanus }}</b></span>
      {% endif %}
      {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
    </a>
  {% endfor %}
{% endif %}
{% if andmed.organisatsioon.sel_kuul %}
  {% now "m" as kuu %}
  <h5>
    <a
{#            style="text-decoration:none;" #}
            class="hover-organisatsioon"
            href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}#bookmark_organisatsioonid"
            title="Kõik {% include 'wiki/includes/kuul.html' with kuu=kuu %} asutatud"
    >
      {% include 'wiki/includes/kuul.html' with kuu=kuu %} asutatud  <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.sel_kuul_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.sel_kuul %}
    {% if forloop.counter > 1 %}
        <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    <a class="hover-organisatsioon tooltip-content" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
      <span
            title='{{ obj }}'
            data-model='{{ obj|get_model_name }}'
            data-id='{{ obj.id }}'
            id='{{ obj|get_model_name }}_{{ obj.id }}_selkuul'>
        {{ obj }}
      </span>
    </a>
    {% if obj.vanus|divisibleby:"5" %}
      &nbsp;&nbsp;<span class="text-organisatsioon"><b>{{ obj.vanus }}</b></span>
      {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if andmed.organisatsioon.juubilarid %}
  <h5>
    <a
{#            style="text-decoration:none;" #}
            class="hover-organisatsioon"
            href="{% url 'wiki:artikkel_year_archive' year=aasta %}#bookmark_organisatsioonid"
            title="Kõik {% now "Y" %} juubilarid"
    >
      {% now "Y" %} juubilarid <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.juubilarid.count }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.juubilarid %}
    {% if forloop.counter > 1 %}
      <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    <a class="hover-organisatsioon tooltip-content" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
        <span
            title='{{ obj }}'
            data-model='{{ obj|get_model_name }}'
            data-id='{{ obj.id }}'
            id='{{ obj|get_model_name }}_{{ obj.id }}_juubilarid'>
        {{ obj.nimi }}&nbsp;<span class="text-organisatsioon"><b>{{ obj.vanus }}</b></span>
      </span>
      {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
    </a>
  {% endfor %}
{% endif %}