{% load wiki_extras %}
<div
        class="card w3-round w3-hide-large w3-hide-medium"
>
  <a
          class="hover-isik"
          href="{% url 'wiki:wiki_isik_filter' %}"
  >
    <div
            class="w3-container w3-round background-isik w3-padding-16 icon"
    >
      <div class="w3-left">
          <i class="{% icon_isik %} w3-xxxlarge"></i>
      </div>
      <div class="w3-right">
        <h4>{% model_name_isik %} ({{ andmed.isik.kirjeid }})</h4>
      </div>
    </div>
  </a>
</div>
{% if andmed.isik.sel_p2eval %}
  <h5>
    <a
            class="hover-isik"
            href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}#bookmark_isikud_syndinud"
            title="Kõik {% now "j.m." %} sündinud"
    >
      {% now "j.m." %} sündinud <span class="w3-badge background-isik">{{ andmed.isik.sel_p2eval_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.isik.sel_p2eval %}
    {% if forloop.counter > 1 %}
      <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    {% include 'wiki/algus/algus_isikud_isik_pildiga.html' with section='sel_p2eval' %}
  {% endfor %}
{% endif %}
{% if andmed.isik.sel_kuul %}
  <h5>
    <a
            class="hover-isik"
            href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}#bookmark_isikud_syndinud"
            title="Kõik {% include 'wiki/includes/kuul.html' with kuu=kuu %} sündinud"
    >
      {% include 'wiki/includes/kuul.html' with kuu=kuu %} sündinud <span class="w3-badge background-isik">{{ andmed.isik.sel_kuul_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.isik.sel_kuul %}
    {% if forloop.counter > 1 %}
      <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    {% include 'wiki/algus/algus_isikud_isik_pildiga.html' with section='sel_kuul' %}
  {% endfor %}
{% endif %}
{% if andmed.isik.juubilarid %}
  <h5>
    <a
            class="hover-isik"
            href="{% url 'wiki:artikkel_year_archive' year=aasta %}#bookmark_isikud_syndinud"
            title="Kõik {% now "Y" %} juubilarid"
    >
      {% now "Y" %} juubilarid <span class="w3-badge background-isik">{{ andmed.isik.juubilarid.count }}</span>
    </a>
  </h5>
  {% for obj in andmed.isik.juubilarid %}
    {% if forloop.counter > 1 %}
      <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    {% include 'wiki/algus/algus_isikud_isik_pildiga.html' with section='juubilarid' %}
  {% endfor %}
{% endif %}
{% if andmed.isik.sel_p2eval_surnud %}
  <hr>
  <h5>
    <a
            class="hover-isik"
            href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}#bookmark_isikud_surnud"
            title="Kõik {% now "j.m." %} surnud"
    >
      {% now "j.m." %} surnud <span class="w3-badge background-isik">{{ andmed.isik.sel_p2eval_surnud_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.isik.sel_p2eval_surnud %}
    {% if forloop.counter > 1 %}
      <br>
    {% endif %}
    <strong>&#9840;&nbsp;</strong>
    <strong>{% include 'wiki/includes/date_doe.html' with obj=obj %}</strong>
    &nbsp;
    {% include 'wiki/algus/algus_isikud_isik_pildita.html' with section='sel_p2eval_surnud' %}
  {% endfor %}
{% endif %}
{% if andmed.isik.sel_kuul_surnud %}
  <h5>
    <a
            style="text-decoration:none;"
            class="hover-isik"
            href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}#bookmark_isikud_surnud"
            title="Kõik {% include 'wiki/includes/kuul.html' with kuu=kuu %} surnud"
    >
      {% include 'wiki/includes/kuul.html' with kuu=kuu %} surnud <span class="w3-badge background-isik">{{ andmed.isik.sel_kuul_surnud_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.isik.sel_kuul_surnud %}
    {% if forloop.counter > 1 %}
      <br>
    {% endif %}
    <strong>&#9840;&nbsp;</strong>
    <strong>{% include 'wiki/includes/date_doe.html' with obj=obj %}</strong>
    &nbsp;
    {% include 'wiki/algus/algus_isikud_isik_pildita.html' with section='sel_kuul_surnud' %}
  {% endfor %}
{% endif %}