{% if obj.profiilipildid.exists %}
  {% with obj.profiilipildid.first as profiilipilt %}
    <div class="pilt-wiki-algus w3-row" >
      <img
          class="pilt-{{ profiilipilt.orientation }}-small w3-round"
          {% if profiilipilt.pilt.width > 400 %}
            src="{{ profiilipilt.pilt_thumbnail.url }}"
          {% else %}
            src="{{ profiilipilt.pilt.url }}"
          {% endif %}
          alt="{{ profiilipilt }}"
          title="{{ profiilipilt }}"
      />
      {% if profiilipilt.orientation == "portree" %}
          <small class="w3-hide-medium">
            {{ obj.kirjeldus|truncatewords:10 }}
          </small>
      {% endif %}
    </div>
  {% endwith %}
{% endif %}