{% load static %}
{% load wiki_extras %}
{#<div#}
{#          class="card w3-round w3-hide-large w3-hide-medium"#}
{#          id="card-kaart"#}
{#>#}
{#  <a#}
{#          class="w3-tooltip"#}
{#          href="{% url 'wiki:wiki_kaardiobjekt_filter' %}"#}
{#  >#}
{#    <div#}
{#            class="w3-container w3-round background-objekt w3-padding-16 icon"#}
{#            id="icon-kaart"#}
{#    >#}
{#      <div class="w3-left">#}
{#          <i class="fa fa-map w3-xxxlarge"></i>#}
{#      </div>#}
{#      <div class="w3-right">#}
{#        <h4>{% model_name_kaart %} ({{ andmed.kaart.kirjeid }})</h4>#}
{#      </div>#}
{#    </div>#}
{#  </a>#}
{#</div>#}
<h5>
  <a
          class="hover-objekt"
          href="{% url 'wiki:wiki_kaardiobjekt_filter' %}"
          title="{% model_name_kaart %} ({{ andmed.kaart.kirjeid }})"
  >
    {% model_name_kaart %} <span class="w3-badge background-objekt">{{ andmed.kaart.kirjeid }}</span>
  </a>
</h5>
<div class="tile-img-slideshow-container">
  {% for kaart in andmed.kaart.kaardid %}

    <div class="tile-slides tile-img-fade">
      <a
              href="{% url 'kaart' aasta=kaart.aasta %}"
              title="Ava {{ kaart.aasta }}. aasta kaart"
      >
        <img
                class="tile-img w3-round"
                src="{{ kaart.sample_tile }}"
                style="width:100%"
                alt="{{ kaart.aasta }}. aasta kaarditükk"
        >
      </a>
      <div class="tile-img-captiontext w3-hide-medium">
        {{ kaart }}
      </div>
      <div class="tile-img-captiontext w3-hide-large w3-hide-small">
        {{ kaart.aasta }}
      </div>
    </div>

  {% endfor %}

  <a class="tile-img-prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="tile-img-next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  {% for kaart in andmed.kaart.kaardid %}
    <span class="tile-img-dot" title='{{ kaart.aasta }}. aasta' onclick="currentSlide({{ forloop.counter }})"></span>
  {% endfor %}
</div>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("tile-slides");
    var dots = document.getElementsByClassName("tile-img-dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" tile-active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " tile-active";
  }
</script>
