{% load static %}
{% load wiki_extras %}
  <!-- Sel päeval sada aastat tagasi toimunud -->
  {% if andmed.sada_aastat_tagasi %}
    <h5>
      Täna 100 aastat tagasi...
    </h5>

    {% if andmed.isik.sada_aastat_tagasi %}
      <div style="padding-top: 0.5em;">
        {% for obj in andmed.isik.sada_aastat_tagasi %}
          {% if forloop.counter > 1 %}
            <br>
          {% endif %}
          <a class="hover-isik" href="{% url 'wiki:wiki_isik_detail' pk=obj.id slug=obj.slug %}">
            ...sündis <strong>{{ obj }}</strong>
            {% include 'wiki/algus/algus_pilt.html' with tyyp='portree' %}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {% if andmed.organisatsioon.sada_aastat_tagasi %}
      <div style="padding-top: 0.5em;">
        {% for obj in andmed.organisatsioon.sada_aastat_tagasi %}
          {% if forloop.counter > 1 %}
            <br>
          {% endif %}
          <a class="hover-organisatsioon" href="{% url 'wiki:wiki_organisatsioon_detail' pk=obj.id slug=obj.slug %}">
            ...asutati <strong>{{ obj }}</strong>
            {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {% if andmed.objekt.sada_aastat_tagasi %}
      <div style="padding-top: 0.5em;">
        {% for obj in andmed.objekt.sada_aastat_tagasi %}
          {% if forloop.counter > 1 %}
            <br>
          {% endif %}
          <a class="hover-objekt" href="{% url 'wiki:wiki_objekt_detail' pk=obj.id slug=obj.slug %}">
            ...valmis <strong>{{ obj }}</strong>
            {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {% if andmed.artikkel.sada_aastat_tagasi %}
      <div>
        {% for obj in andmed.artikkel.sada_aastat_tagasi %}
          {% if forloop.counter > 1 %}
            <br>
          {% endif %}
          <a class="hover-artikkel" href="{% url 'wiki:wiki_artikkel_detail' pk=obj.id slug=obj.slug %}">
            <strong>... </strong>{{ obj.body_text|truncatewords:10 }}
            {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  <!-- Sel päeval toimunud -->
  {% if andmed.artikkel.sel_p2eval %}
    <h5>
      <a
{#              style="text-decoration:none;"#}
              class="hover-artikkel"
              href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}"
              title="Näita kõiki {% now "j.m." %} ajaloos"
      >
        {% now "j.m." %} ajaloos <span class="w3-badge background-artikkel">{{ andmed.artikkel.sel_p2eval_kirjeid }}</span>
      </a>
    </h5>
    {% for obj in andmed.artikkel.sel_p2eval %}
      {% if forloop.counter > 1 %}
        <br>
      {% endif %}
      <strong>{% include 'wiki/includes/date_year.html' with obj=obj %}</strong>
      <a class="hover-artikkel" href="{% url 'wiki:wiki_artikkel_detail' pk=obj.id slug=obj.slug %}">
        {{ obj.body_text|truncatewords:10 }}
        {% include 'wiki/algus/algus_pilt.html' with tyyp='postkaart' %}
      </a>
      {# Kui kirjed rohkem kui artikleid_max_split, siis hakime artikleid_max_split_half+1+artikleid_max_split_half  #}
      {% if andmed.artikkel.sel_p2eval_kirjeid > andmed.artikkel.artikleid_max_split %}
        {% if forloop.counter == andmed.artikkel.artikleid_max_split_half %}
          <br>
          <a
{#                  style="text-decoration:none;"#}
                  class="hover-artikkel"
                  href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}"
                  title="Näita kõiki {% now "j.m." %} ajaloos"
          >
            [ . . . ]
          </a>
        {% endif %}
        {% if forloop.counter == andmed.artikkel.artikleid_max_split_half|add:"1" %}
          <br>
          <a
{#                  style="text-decoration:none;"#}
                  class="hover-artikkel"
                  href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}"
                  title="Näita kõiki {% now "j.m." %} ajaloos"
          >
            [ . . . ]
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if andmed.artikkel.sel_p2eval_kirjeid > andmed.artikkel.artikleid_max_split %}
      <p>
        <a class="hover-artikkel" href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}">
          Näita kõiki <em>{% now "j.m." %} ajaloos</em> ({{ andmed.artikkel.sel_p2eval_kirjeid }})
        </a>
      </p>
    {% endif %}
  {% endif %}

  <!-- Sel kuul toimunud -->
  {% if andmed.artikkel.sel_kuul %}
    <h5>
      <a
{#              style="text-decoration:none;"#}
              class="hover-artikkel"
              href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}"
              title="Näita kõiki {% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos"
      >
        {% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos <span class="w3-badge background-artikkel">{{ andmed.artikkel.sel_kuul_kirjeid }}</span>
      </a>
    </h5>
    {% for obj in andmed.artikkel.sel_kuul %}
      {% if forloop.counter > 1 %}
        <br>
      {% endif %}
      <strong>{% include 'wiki/includes/date_year.html' with obj=obj %}</strong>
      <a class="hover-artikkel" href="{% url 'wiki:wiki_artikkel_detail' pk=obj.id slug=obj.slug %}">
        {{ obj.body_text|truncatewords:10 }}
      </a>
      {# Kui kirjed rohkem kui artikleid_max_split, siis hakime artikleid_max_split_half+1+artikleid_max_split_half  #}
      {% if andmed.artikkel.sel_kuul_kirjeid > andmed.artikkel.artikleid_max_split %}
        {% if forloop.counter == andmed.artikkel.artikleid_max_split_half %}
          <br>
          <a
{#                  style="text-decoration:none;"#}
                  class="hover-artikkel"
                  href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}"
                  title="Näita kõiki {% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos"
          >
            [ . . . ]
          </a>
        {% endif %}
        {% if forloop.counter == andmed.artikkel.artikleid_max_split_half|add:"1" %}
          <br>
          <a
{#                  style="text-decoration:none;"#}
                  class="hover-artikkel"
                  href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}"
                  title="Näita kõiki {% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos"
          >
            [ . . . ]
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if andmed.artikkel.sel_kuul_kirjeid > andmed.artikkel.artikleid_max_split %}
      <p>
        <a class="hover-artikkel" href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}">
          Näita kõiki <em>{% include 'wiki/includes/kuul.html' with kuu=kuu %} ajaloos</em> ({{ andmed.artikkel.sel_kuul_kirjeid }})
        </a>
      </p>
    {% endif %}
  {% endif %}

  <!-- top -->
  {% if andmed.artikkel.loetumad %}
    <h5>
      {% model_name_artikkel as model_name_artikkel %}
      loetumad {{ model_name_artikkel|lower }}
    </h5>
    {% for obj in andmed.artikkel.loetumad %}
      {% if forloop.counter > 1 %}
        <br>
      {% endif %}
      <strong>{% include 'wiki/includes/date_year.html' with obj=obj %}</strong>
{#      <a class="hover-artikkel" href="{% url 'wiki:artikkel_year_archive' year=obj.hist_year %}" #}
{#        <strong>{{ obj.hist_year }}</strong>: #}
{#      </a> #}
      <a class="hover-artikkel" href="{% url 'wiki:wiki_artikkel_detail' pk=obj.id slug=obj.slug %}">
        {{ obj.body_text|truncatewords:10 }}
      </a>
      <small>&nbsp;{{ obj.total_accessed }} vaatamist</small>
    {% endfor %}
  {% endif %}