{% load wiki_extras %}
<div
    class="card w3-round w3-hide-large w3-hide-medium"
>
  <a class="w3-tooltip" style="text-decoration: none;" href="{% url 'wiki:wiki_organisatsioon_filter' %}">
    <div
            class="w3-container w3-round background-organisatsioon w3-padding-16 icon"
    >
      <div class="w3-left">
          <i class="{% icon_organisatsioon %} w3-xxxlarge"></i>
      </div>
      <div class="w3-right">
        <h4>{% model_name_organisatsioon %} ({{ andmed.organisatsioon.kirjeid }})</h4>
      </div>
    </div>
  </a>
</div>
{% if andmed.organisatsioon.sel_p2eval %}
  <h5>
    <a
            class="hover-organisatsioon"
            href="{% url 'wiki:artikkel_day_archive' day=p2ev month=kuu year=aasta %}#bookmark_organisatsioonid"
            title="Kõik {% now "j.m." %} asutatud"
    >
      {% now "j.m." %} asutatud <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.sel_p2eval_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.sel_p2eval %}
    {% if forloop.counter > 1 %}
        <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    {% include 'wiki/algus/algus_organisatsioonid_organisatsioon_pildiga.html' with section='sel_p2eval' %}
  {% endfor %}
{% endif %}
{% if andmed.organisatsioon.sel_kuul %}
  {% now "m" as kuu %}
  <h5>
    <a
            class="hover-organisatsioon"
            href="{% url 'wiki:artikkel_month_archive' month=kuu year=aasta %}#bookmark_organisatsioonid"
            title="Kõik {% include 'wiki/includes/kuul.html' with kuu=kuu %} asutatud"
    >
      {% include 'wiki/includes/kuul.html' with kuu=kuu %} asutatud  <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.sel_kuul_kirjeid }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.sel_kuul %}
    {% if forloop.counter > 1 %}
        <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    {% include 'wiki/algus/algus_organisatsioonid_organisatsioon_pildita.html' with section='sel_kuul' %}
  {% endfor %}
{% endif %}
{% comment %} {% if andmed.organisatsioon.juubilarid %}
  <h5>
    <a
            class="hover-organisatsioon"
            href="{% url 'wiki:artikkel_year_archive' year=aasta %}#bookmark_organisatsioonid"
            title="Kõik {% now "Y" %} juubilarid"
    >
      {% now "Y" %} juubilarid <span class="w3-badge background-organisatsioon">{{ andmed.organisatsioon.juubilarid.count }}</span>
    </a>
  </h5>
  {% for obj in andmed.organisatsioon.juubilarid %}
    {% if forloop.counter > 1 %}
      <br>
    {% endif %}
    <strong>{% include 'wiki/includes/date_dob.html' with obj=obj %}</strong>
    &nbsp;
    {% include 'wiki/algus/algus_organisatsioonid_organisatsioon_pildiga.html' with section='juubilarid' %}
  {% endfor %}
{% endif %} {% endcomment %}
<div id="extra_content_organisatsioonid">{% include 'wiki/includes/div_loader_book.html' with n='extra_content_organisatsioonid' %}</div>