id:{{ inline_admin_form.form.instance.pilt.colored_id }}
{% if inline_admin_form.form.instance.pilt.profiilipilt_allikad.exists %}
  <span class="background-artikkel" style="padding: 2px;">
    ALL
  </span>
{% elif inline_admin_form.form.instance.pilt.allikad.exists %}
  <span style="padding: 2px;">
    ALL
  </span>
{% endif %}
{% if inline_admin_form.form.instance.pilt.profiilipilt_artiklid.exists %}
  <span class="background-artikkel" style="padding: 2px;">
    ART
  </span>
{% elif inline_admin_form.form.instance.pilt.artiklid.exists %}
  <span style="padding: 2px;">
    ART
  </span>
{% endif %}
{% if inline_admin_form.form.instance.pilt.profiilipilt_isikud.exists %}
  <span class="background-isik" style="padding: 2px;">
    ISIK
  </span>
{% elif inline_admin_form.form.instance.pilt.isikud.exists %}
  <span style="padding: 2px;">
    ISIK
  </span>
{% endif %}
{% if inline_admin_form.form.instance.pilt.profiilipilt_organisatsioonid.exists %}
  <span class="background-organisatsioon" style="padding: 2px;">
    ORG
  </span>
{% elif inline_admin_form.form.instance.pilt.organisatsioonid.exists %}
  <span style="padding: 2px;">
    ORG
  </span>
{% endif %}
{% if inline_admin_form.form.instance.pilt.profiilipilt_objektid.exists %}
  <span class="background-objekt" style="padding: 2px;">
    OBJ
  </span>
{% elif inline_admin_form.form.instance.pilt.objektid.exists %}
  <span style="padding: 2px;">
    OBJ
  </span>
{% endif %}
{#KUi vajalik seotud objkt:#}
{#{% load wiki_extras %#}
{#->{{ inline_admin_form.model_admin.parent_object|get_model_name }}#}
{#{{ inline_admin_form.model_admin.parent_object.id }}#}