/* html värvikirjeldused Valga ajalookroonika jaoks ver 2020.10

Põhitooni roheline on Valga linna vapi ja lipu Pantone 340 värvikoodi alusel
metro:
Pantone 340 	#00985F (oli Dark Green #1e7145)
Teal            #00aba9
Blue            #2d89ef
Dark Blue       #2b5797
*/

.background-artikkel 
{
background-color:#00985F;
color:white;
}

.background-isik 
{
background-color:#00aba9;
color:white;
}

.background-organisatsioon
{
background-color:#2d89ef;
color:white;
}

.background-objekt
{
background-color:#2b5797;
color:white;
}

.background-pilt
{
background-color:#008CBA;
color:white;
}

.background-viide
{
background-color:#A9A9A9;
color:white;
}

.text-artikkel {
  color:#00985F;
  margin-bottom: 1px;
  }

.date-highlighted {
  color:#00985F;
  margin-bottom: 0px;
  border-bottom: 1px dotted #000;
  }

.text-isik {color:#00aba9;}
.text-organisatsioon {color:#2d89ef;}
.text-objekt {color:#2b5797;}
.text-pilt {color:#008CBA;}
.text-viide {color:#A9A9A9;}

.text-ukj {color:purple;}
.text-ukj:hover {color:#00985F;}

.hover-artikkel:hover {
  color:#00985F;
/*  text-decoration: underline;
  text-decoration-style:dotted; */
}
.hover-isik:hover {
  color:#00aba9;
  background-color:white;
}
.hover-organisatsioon:hover {
  color:#2d89ef;
  background-color:white;
}
.hover-objekt:hover {
  color:#2b5797;
  background-color:white;
}
.hover-pilt:hover {
  color:#008CBA;
  background-color:white;
}
.hover-viide:hover {
  color:#A9A9A9;
  background-color:white;
}
