/* html värvikirjeldused Valga ajalookroonika jaoks */
.background-artikkel 
{
background-color:red; 
color:white;
}

.background-isik 
{
background-color:orange;
color:white;
}

.background-organisatsioon
{
background-color:blue;
color:white;
}

.background-objekt
{
background-color:teal;
color:white;
}

.background-pilt
{
background-color:orange;
color:white;
}

.background-viide
{
background-color:#A9A9A9;
color:white;
}

.text-artikkel {color:red;}
.text-isik {color:orange;}
.text-organisatsioon {color:blue;}
.text-objekt {color:teal;}
.text-pilt {color:orange;}
.text-viide {color:#A9A9A9;}
.text-ukj {color:purple;}

.hover-artikkel:hover {color:red;}
.hover-isik:hover {color:orange;}
.hover-organisatsioon:hover {color:blue;}
.hover-objekt:hover {color:teal;}
.hover-pilt:hover {color:orange;}
.hover-viide:hover {color:#A9A9A9;}