/* ver 2022.08.14 */
html, body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h3,h4,h5,h6{font-weight:600;margin:10px 0}

a {
  text-decoration: none;
}

/* Üldised layout seaded */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .Site {
    max-width: 1340px;
  }
}

.Site-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* Kuupäevavälja vorming */
.date {
  overflow: hidden; /* Clear floats */
  display: inline-flex;
}

.date a {
  text-decoration: none;
  float: left;
  padding: 0px;
}

/* Bloki sees tsentreerimiseks*/
.layout-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.layout-align-center-center{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* Ülemine navigatsiooniriba */
header {
    height: 43px;
    z-index: 10;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(200, 200, 200); /* IE */
    background: rgba(0, 0, 0, 0.20); /* NON-IE */
}

@media (min-width: 1400px) {
  .fixed-header {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    max-width: 1340px;
  }
}

/* Navbar*/
nav {
    width: 100%;
    height: 43px;
    postion: fixed;
    z-index: 10;
}

/* Kasutamiseks navbar submenus */
.bar-item-text-with-icon {
  position: absolute;
  left: 40px;
}

form#search * {
  font-family: sans-serif;
}

form#search {
  align-items: center;
  display: flex;
  max-width: 600px;
  width: 100%;
}

form#search label {
  display: none;
  font-weight: 500;
  margin: 0 10px 0 0;
}

form#search input {
  border: solid #ccc;
  border-width: 1px 0 1px 1px;
  border-radius: 2px 0 0 2px;
  flex: 1;
  font-size: 16px;
  font-weight: 200;
  height: 33px;
  margin: 0;
  min-width: 90px;
  padding: 5px;
  -webkit-appearance: textfield;
}

form#search button {
  border: none;
  cursor: pointer;
  height: 33px;
  padding: 0;
}

form#search svg {
  background-color: #00985F;
  border-radius: 0 2px 2px 0;
  fill: white;
  height: 33px;
  min-width: 24px;
  padding: 0 7px;
  width: 24px;
}

form#search svg:hover {
  background-color: #1d6823;
  fill: white;
}

@media all and (min-width: 500px) {
  form#search label {
    display: inline;
  }
  form#search input::placeholder {
    opacity: 0;
  }
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  juhuks kui vaja punktiirjoont teksti alla */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Pildid */
/* Kasutamiseks objektivaates */
ul.no-bullets li {
  list-style-type: none;
}

.pilt-postkaart-medium {
	max-height: 512px;
	max-width: 100%;
}
.pilt-portree-medium {
	max-height: 512px;
	max-width: 100%;
}

/* Kasutamiseks uudisvoos */
.pilt-wiki-algus {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.pilt-wiki-algus:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.pilt-postkaart-small {
    width: 100%;
}

.pilt-portree-small {
	max-width: 96px;
	margin-right: 1em;
	float: left;
}

/* Kasutamiseks objecti detailvaates */
.pilt-detail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
}

.pilt-detail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); /* = #008CBA */
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

/* Kasutamiseks objecti detailvaates */
.pilt-special-links {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:32px;
  height:32px;
}

.pilt-special-links:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); /* = #008CBA */
}

#profiiliPilt:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

/* Kasutamiseks pisipildireana */
.pilt-pildirida {
  max-height: 64px;
  float: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 2px;
}

.pilt-pildirida:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); /* = #008CBA */
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  /*left: 0;*/
  top: 0;
  width: 100%;
  height: 100%;
  left: 50%;                   /* moves left side of image/element to center of parent element */
  transform: translate(-50%);
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

/* Modal Content */
.modal-content {
  position: relative;
  /*background-color: rgba(0,0,0,0.4);*/
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 700px;
}

.modal-content, #caption {
  animation-name: fadein;
  animation-duration: 0.6s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
    top: 50px;
  }
}

/* The Close Button */
.close {
  color: white;
  position: fixed;
  /*top: 10px;*/
  /*right: 25px;*/
  top: 30px;
    left: 50%;                   /* moves left side of image/element to center of parent element */
    transform: translate(-50%);
  font-size: 50px;
  font-weight: bold;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .close {
    position: fixed;
    top: 50px;
    left: 50%;                   /* moves left side of image/element to center of parent element */
    transform: translate(-50%);
  }
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 25px;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.previmage,
.nextimage {
  cursor: pointer;
  position: absolute;
  top: 200px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #f2f2f2;
  /*color: white;*/
  /*background-color: gray;*/
  /*opacity: 0.5;*/
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextimage {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previmage:hover,
.nextimage:hover {
  /*background-color: rgba(0, 0, 0, 0.8);*/
  color: white;
  background-color: gray;
  opacity: 0.5;
}

img.pilt-pildimodal {
  position: relative;          /* where the next element will be automatically positioned */
  display: inline-block;       /* causes element width to shrink to fit content */
  left: 50%;                   /* moves left side of image/element to center of parent element */
  transform: translate(-50%);  /* centers image/element on "left: 50%" position */
}

.caption-container {
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  padding: 2px 16px;
  color: white;
}

/* Avakuva ikoonide dropdown css */
.card {
	 position: relative;
	 display: block;
}

#card-artikkel.card:hover #icon-artikkel-dropdown.icon-dropdown {
	 height: auto;
	 display: block;
}

#card-isik.card:hover #icon-isik-dropdown.icon-dropdown {
	 height: auto;
	 display: block;
}

#card-organisatsioon.card:hover #icon-organisatsioon-dropdown.icon-dropdown {
	 height: auto;
	 display: block;
}

#card-objekt.card:hover #icon-objekt-dropdown.icon-dropdown {
	 height: auto;
	 display: block;
}

.card .icon {
	 height: auto;
	 transition: all 0.3s ease-in-out;
}

.card .icon-dropdown {
   position: absolute;
   margin-top: -5px;
   width: 100%;
	 box-sizing: border-box;
	 height: 0px;
	 overflow: hidden;
	 transition: all 0.3s ease-in-out;
	 z-index: 1;
}

/* Otsinguriba */
.search-form {
  --searchButtonWidth: 32px;
  margin: 8px;
  overflow: hidden;
  position: relative;
  margin-top: 16px;
}

.search-input {
  border: 0;
  margin: 0;
  padding: 0.5rem calc(var(--searchButtonWidth) + 0.5rem) 0.5rem 0.5rem;
  border-radius: 2px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 0.8rem;
}

.search-input:focus {
  outline: 0;
  background: white;
}

/* .search-input:not(:placeholder-shown) ~ .search-button {
  transform: translateX(calc(-1 * var(--searchButtonWidth)));
  transform: translateX(0px);
} */

.search-input:focus ~ .search-button {
  left: calc(100% - var(--searchButtonWidth));
}

.search-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 100%;
  width: var(--searchButtonWidth);
  transition: 0.2s;
  color: white;
  height: 100%;
}

.search-button:focus {
  outline: 0;
  background: #222;
  opacity: 0.5;
  transition: 0.2s;
  left: calc(100% - var(--searchButtonWidth));
}

.search-button:hover {
  outline: 0;
  background: #222;
  opacity: 0.5;
}

.search-button:active {
  outline: 0;
  opacity: 0;
  transition: 0.5s;
  left: calc(100% - var(--searchButtonWidth));
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*
Cookie compliance message
@FacepalmRobot https://codepen.io/FacepalmRobot/pen/ldFnr
*/

#okCookie{
  background-color:#F2F2F2;
  color:#333333;
  /*position:absolute;*/
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  padding:10px;
  font-family:sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top:1px solid #ccc;
  z-index:10;
  text-align: center;
}

#okCookie p{
  /*margin:0 0 10px 0; */
  /*float:left; */
  margin: 0 auto;
  padding:5px 0px;
}

#okCookie a{
  color:#00985F;
  margin-bottom: 0;
}

#okCookie a:hover{
  border-bottom: 1px dotted #000;
}

#okCookie #okClose, #okCookie #okCprivacy{
  padding:5px 20px;
  /*float:left;*/
  /*margin-left:10px;*/
  margin: 10px auto;
  text-decoration:none;
  border-radius:3px;
  color:white;
}

#okCookie #okClose{
  background-color:#39B54A;
  text-shadow:0px 1px 1px #507F2B;
  box-shadow:inset 0px -1px 1px #507F2B;
}

#okCookie #okClose:hover{background-color:#42ce55}

#okCookie #okCprivacy{
  background-color:#8D9499;
  text-shadow:0px 1px 1px #63666B;
  box-shadow:inset 0px -1px 1px #63666B;
}

#okCookie #okCprivacy:hover{background-color:#a0a8ae}

.okcBeginAnimate{
    -webkit-animation: myfirst 2s;
    animation: myfirst 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Switch starts here */
/* Idea from Marcus Connor https://codepen.io/marcusconnor/pen/QJNvMa */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  /* text-transform: uppercase; */
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em rgba(0, 0, 0, .9);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.rocker-small {
  font-size: 0.5em; /* Sizes the switch */
  /* margin: 1em; */
}

.rocker::before {
  content: "";
  position: absolute;
  /* top: 0.5em; */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  /* border: 0.5em solid #eee; */
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #00985F; /* #337257; */
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  /* background-color: #337257; */ /* roheline */
  background-color: purple; /* ukj valiku eristamiseks */
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

/* Pure CSS Book Loader by Aaron Iker https://codepen.io/aaroniker/pen/zYOewEP */
.book {
  --color: #00985F;
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: relative;
  margin: 48px 0 0 0;
  zoom: 0.5;
}
.book .inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  -webkit-animation: book var(--duration) ease infinite;
          animation: book var(--duration) ease infinite;
}
.book .inner .left,
.book .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--color);
  position: absolute;
}
.book .inner .left:before,
.book .inner .right:before {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}
.book .inner .left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  -webkit-animation: left var(--duration) ease infinite;
          animation: left var(--duration) ease infinite;
}
.book .inner .right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  -webkit-animation: right var(--duration) ease infinite;
          animation: right var(--duration) ease infinite;
}
.book .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}
.book ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}
.book ul li {
  height: 4px;
  border-radius: 2px;
  list-style-type: none;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  color: var(--color);
  background: var(--color);
  transform: rotateZ(0deg) translateX(-18px);
  -webkit-animation-duration: var(--duration);
          animation-duration: var(--duration);
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.book ul li:nth-child(0) {
  -webkit-animation-name: page-0;
          animation-name: page-0;
}
.book ul li:nth-child(1) {
  -webkit-animation-name: page-1;
          animation-name: page-1;
}
.book ul li:nth-child(2) {
  -webkit-animation-name: page-2;
          animation-name: page-2;
}
.book ul li:nth-child(3) {
  -webkit-animation-name: page-3;
          animation-name: page-3;
}
.book ul li:nth-child(4) {
  -webkit-animation-name: page-4;
          animation-name: page-4;
}
.book ul li:nth-child(5) {
  -webkit-animation-name: page-5;
          animation-name: page-5;
}
.book ul li:nth-child(6) {
  -webkit-animation-name: page-6;
          animation-name: page-6;
}
.book ul li:nth-child(7) {
  -webkit-animation-name: page-7;
          animation-name: page-7;
}
.book ul li:nth-child(8) {
  -webkit-animation-name: page-8;
          animation-name: page-8;
}
.book ul li:nth-child(9) {
  -webkit-animation-name: page-9;
          animation-name: page-9;
}
.book ul li:nth-child(10) {
  -webkit-animation-name: page-10;
          animation-name: page-10;
}
.book ul li:nth-child(11) {
  -webkit-animation-name: page-11;
          animation-name: page-11;
}
.book ul li:nth-child(12) {
  -webkit-animation-name: page-12;
          animation-name: page-12;
}
.book ul li:nth-child(13) {
  -webkit-animation-name: page-13;
          animation-name: page-13;
}
.book ul li:nth-child(14) {
  -webkit-animation-name: page-14;
          animation-name: page-14;
}
.book ul li:nth-child(15) {
  -webkit-animation-name: page-15;
          animation-name: page-15;
}
.book ul li:nth-child(16) {
  -webkit-animation-name: page-16;
          animation-name: page-16;
}
.book ul li:nth-child(17) {
  -webkit-animation-name: page-17;
          animation-name: page-17;
}
.book ul li:nth-child(18) {
  -webkit-animation-name: page-18;
          animation-name: page-18;
}

@-webkit-keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%, 54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%, 54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%, 55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%, 55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%, 57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%, 57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%, 59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%, 59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%, 61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%, 61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%, 63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%, 63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%, 65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%, 65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%, 67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%, 67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%, 68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%, 68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%, 70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%, 70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%, 72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%, 72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%, 74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%, 74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%, 76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%, 76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%, 78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%, 78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%, 80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%, 80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%, 81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%, 81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%, 83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%, 83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%, 85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%, 85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%, 87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%, 87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}
@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}
@-webkit-keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(-90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(-90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@-webkit-keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%, 59.99% {
    transform-origin: 30px 2px;
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%, 59.99% {
    transform-origin: 30px 2px;
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

.loaderbook {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Change text on hover*/
.flip>span {
	color: transparent;
	float: none;
}

.flip:hover>span {
	color: black;
	float: left;
}

.flip>span:first-child {
	color: black;
	float: left;
}

.flip:hover>span:first-child {
	color: transparent;
	float: none;
}

/*
Social Icons by https://codepen.io/thalseth
*/
.icon-link {
  width: 30px;
  height: 30px;
  background-color: #666;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-sizing: content-box;
}

.icon-link.fill.facebook {
  background-color: #3b5998;
}
.icon-link.fill.facebook:hover {
  background-color: #fff;
}
.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.linkedin {
  background-color: #007bb6;
}
.icon-link.fill.linkedin:hover {
  background-color: #fff;
}
.icon-link.fill.linkedin:hover .fa-linkedin {
  color: #007bb6;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.twitter {
  background-color: #00aced;
}
.icon-link.fill.twitter:hover {
  background-color: #fff;
}
.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.envelope {
  background-color: #333;
}
.icon-link.fill.envelope:hover {
  background-color: #fff;
}
.icon-link.fill.envelope:hover .fa-envelope {
  color: #333;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.qrcode {
  background-color: #00985F;
}
.icon-link.fill.qrcode:hover {
  background-color: #fff;
}
.icon-link.fill.qrcode:hover .fa-qrcode {
  color: #00985F;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.edit {
  background-color: #00985F;
}
.icon-link.fill.edit:hover {
  background-color: #fff;
}
.icon-link.fill.edit:hover .fa-edit {
  color: #00985F;
  transition: color 150ms ease-in-out;
}

.icon-link.round-corner {
  border-radius: 5px;
}
.icon-link:hover {
  transition: background-color 150ms ease-in-out;
  height: 26px;
  line-height: 26px;
  width: 26px;
  background-color: #fff;
}

.icon-link:hover.facebook {
  border: 2px solid #3b5998;
}
.icon-link:hover.linkedin {
  border: 2px solid #007bb6;
}
.icon-link:hover.twitter {
  border: 2px solid #00aced;
}
.icon-link:hover.envelope {
  border: 2px solid #333;
}
.icon-link:hover.qrcode {
  border: 2px solid #00985F;
}
.icon-link:hover.bug {
  border: 2px solid red;
}
.icon-link:hover.edit {
  border: 2px solid #00985F;
}

.icon-link:hover .fa {
  line-height: 26px;
}
.icon-link:hover .fa-facebook {
  color: #3b5998;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-linkedin {
  color: #007bb6;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-twitter {
  color: #00aced;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-envelope {
  color: #333;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-qrcode {
  color: #00985F;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-bug {
  color: red;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-edit {
  color: #00985F;
  transition: color 150ms ease-in-out;
}

.icon-link .fa {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
}

/*ajax_select.css kohendus*/
.results_on_deck {
  font-size: 12px;
}
